{% extends "Layout/base_emr/_clients_base.html.twig" %}


{% block title_page %}
    EMR || Nueva Consulta
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:consulta:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <style>
        /*
        #calendar {
                max-width: 900px;
                margin: 0 auto;
        }
        */

        #divUserPatient{
            display: none;

        }
        .detail-patient label{
            display:inline-block;
            width: 80px;
            font-weight: 500;
        }
        
    </style>
    <style>

    </style>
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="fa fa-info-circle position-left"></i>
                <span class="text-semibold">Home</span> - Consulta Médica

                <small class="display-block">Formulario de consulta de paciente</small></h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">

                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>

            </div>
        </div>

    </div>


    {# {{ app.request.query.get("d") }} #}
    <div class="panel panel-flat" style="background: #f1f3f2">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12"> <!-- col-lg-3 col-md-4 col-sm-4 col-xs-12 -->
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <div class="timer-time timer-container">
                                <span id="stopwatch">00:00:00</span>
                                <p>
                                    <input class='btn btn-primary' type='button' value='Iniciar/Pausar' onclick='Example1.Timer.toggle();' />
                                    <input class='btn btn-primary' type='button' value='Finalizar' onclick='Example1.resetStopwatch();' />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h6 class="panel-title">Ficha de identificación<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                    <li><a data-action="reload"></a></li>
                                    <li><a data-action="close"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="ficha">
                                        <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                                            Paciente
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-12">
                                                <div class="detail-patient">
                                                    <label>Nombre:</label>
                                                    <span>
                                                        {{ patient[0].pacNombre }} {{ patient[0].pacSegNombre }} {{ patient[0].pacApellido }} {{ patient[0].pacSegApellido }}
                                                    </span>
                                                </div>
                                                <div class="detail-patient">
                                                    <label>Edad:</label><span>{{ age }}</span>
                                                </div>
                                                <div class="detail-patient">
                                                    <label>Expediente:</label><span>Ver detalle completo</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-12">
                                                {% if  paciente.pacFoto is defined and paciente.pacFoto != "" %}
                                                    <div style="text-align:center;"><img src="{{ asset("uploads/pacientes/"~paciente.pacFoto) }}" class="img-thumbnailx" style="max-width:85% "></div>
                                                    {% else %}
                                                        {% if paciente.pacGenero is defined and paciente.pacGenero|lower  == "m" %}
                                                        <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/man.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                                        {% else %}
                                                        <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/girl.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                                        {% endif %}

                                                {% endif %}
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                                        Consultas anteriores
                                    </div>
                                    <div>
                                       
                                        {% if historical|length > 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Estado</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>        
                                            {% for data in historical %}
                                                
                                                    
                                                        <tr>
                                                            <td>{{ data.start }}</td>
                                                            <td>
                                                                {% if data.age_estado == "p" %}
                                                                                Pendiente
                                                                {% elseif data.age_estado == "a" %}
                                                                                Anulada
                                                                {% elseif data.age_estado == "c" %}
                                                                                En curso
                                                                {% elseif data.age_estado == "t" %}
                                                                                Finalizada
                                                                {% endif %}
                                                            </td>
                                                            <td><button class="btn btn-default btn-xs"> <i class="fa fa-search" aria-hidden="true"></i> Vista previa</button></td>
                                                        </tr>
                                                    
                                            {% endfor %} 
                                                </tbody>
                                            </table>
                                        {% else %}
                                            Este paciente no tiene historico de citas aún
                                        {% endif %}    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Here goes the modules list -->
            {{ render( controller('EmrBundle:EavModulos:crearMenuModulos', { 'modulos': modulos } ) ) }}
            <!-- end of modules list -->
            {% if modulos|length > 0 %}
            {{ render( controller( 'EmrBundle:EavModulos:crearFormModulo', 
                { 'mod_hash': modulos[0]['mod_hash'], 
                    'usu_id': usu_id, 'pac_id': patient[0].pacId, 'cli_id': cli_id, 'cit_id': cit_id } ) ) 
            }}
            {% endif %}
        </div>
    </div>


{% endblock %}


{% block codejs %}
    <script>
        $(document).on("ready", function () {
            //$(function(window,undefined){

            //var d = "{{ app.request.query.get("d") }}";
            
            $(".mod-tab").click(function(){
                var sTarget = $(this).attr('target');
                var sUrl = "{{ url( 'eav_crear_form_modulo', {'mod_hash': 'modhash', 'usu_id': 'usuid', 'pac_id': 'pacid', 'cli_id': 'cliid', 'cit_id': 'citid'} ) }}";
                sUrl = sUrl.replace( "modhash", sTarget );
                sUrl = sUrl.replace( "usuid", {{ usu_id }} );
                sUrl = sUrl.replace( "pacid", {{ patient[0].pacId }} );
                sUrl = sUrl.replace( "cliid", {{ cli_id }} );
                sUrl = sUrl.replace( "citid", {{ cit_id }} );
                
                $("#mod-holder").load( sUrl );
            });
            
            function guardarEavForm( input, tries = 0 ){
                if( tries < 3 ){
                    var sUrl = "{{ url( 'eav_guardar_valor_form', { 'val_usu_id': 'usuid', 'val_pac_id': 'pacid', 'val_cli_id': 'cliid', 'val_cit_id': 'citid', 'val_camp_id': 'campid', 'value': 'val', } ) }}";
                    sUrl = sUrl.replace( "usuid", {{ usu_id }} );
                    sUrl = sUrl.replace( "pacid", {{ patient[0].pacId }} );
                    sUrl = sUrl.replace( "cliid", {{ cli_id }} );
                    sUrl = sUrl.replace( "citid", {{ cit_id }} ); // <================= NEED TO GET CITA_ID FROM SESSION.
                    var aCampo = input.attr('id').split("_");
                    var camp_id = aCampo[1];
                    sUrl = sUrl.replace( "campid", camp_id );
                    var valor_mandar = null;
                    
                    if( input.val() == ""){
                        valor_mandar = "value_holder";
                    }else{
                        valor_mandar = input.val();
                    }
                    
                    sUrl = sUrl.replace( "val", valor_mandar );

                    
                    $.post( sUrl, function(rdata){
                    }).done(function(  ){
                        $(".loading-gif").css('color', '#3ABC63');
                        $(".loading-gif").html('&nbsp;&nbsp;Listo.').fadeOut(4000);
                    }).fail(function( error ){
                        tries++;
                        $('.loading-gif').replaceWith("<i class='loading-gif'>&nbsp;&nbsp;<img src='{{ asset('bundles/admin/img/ajax-loader.gif') }}'>&nbsp;&nbsp;Tratando de guardar datos nuevamente, por favor espere...</i>");
                        $(".loading-gif").css('color', '#cd4237');
                        guardarEavForm( input, tries );
                    }).always(function(){});
                }else{
                $.alert({
                    title: 'Ha ocurrido un error',
                    type: 'red',
                    content: 'No se han podido guardar los datos del formulario.<br>Confirme si tiene acceso a internet, si el problema persiste contacte a soporte a blbla@blbabla.com',
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    buttons: {
                        okay: {
                            text: 'Ok',
                            btnClass: 'btn-red'
                        }
                    }
                });
                
                    $('.loading-gif').replaceWith("");
                }
            }
            
            $('form.mod-form :input').each(function(){
                $(this).blur( function(){
                    if( $(this).attr('data-value') != $(this).val() ){
                        var tries = 1;
                        var oInputLabel = $( "label[for='"+$(this).attr('id')+"']" );
                        oInputLabel.after("<i class='loading-gif'>&nbsp;&nbsp;<img src='{{ asset('bundles/admin/img/ajax-loader.gif') }}'> Guardando..</i>");  
                        $(".loading-gif").css('color', '#39AED1');
                        guardarEavForm( $(this), tries );
                    }
                });
            });

            function doDelete() {  // delete event 

                $("#calendarModal").modal("hide");
                var eventID = $("#eventID").val();
                $("#holder_loading").show();
                $.ajax({
                    url: "{{ path('agenda_valida') }}",
                    data: "action=delete&id=" + eventID,
                    type: "POST",
                    success: function (json) {
                        $("#holder_loading").hide();
                        if (json == 1)
                        {
                            $("#calendar").fullCalendar("removeEvents", eventID);
                        } else
                        {
                            return false;
                        }
                    },
                    error: function (json) {
                        $.alert({
                            icon: 'fa fa-times',
                            title: 'Error!',
                            content: "<p class='small'>No se ha podido eliminar el evento</p>",
                            type: 'red',
                            typeAnimated: true,
                        });
                        $("#holder_loading").hide();
                        return false;

                    }
                });

            }




            function searchPatients()
            {
                var search = $("#input_search_patients").val();
                if ($.trim(search) == "")
                {
                    //var infoError = (data);
                    $.alert({
                        icon: 'glyphicon glyphicon-exclamation-sign',
                        title: 'Info!',
                        content: 'El campo de la búsqueda no puede estar vacio',
                        type: 'blue',
                        typeAnimated: true,
                    });
                    return false;
                }
                $("#holder_loading").show();
                $.ajax({
                    type: "post",
                    url: "{{ path('paciente_search') }}",
                    data: {search: search},
                    error: function (data) {
                        $("#holder_loading").hide();
                        $.confirm({
                            icon: 'fa fa-remove',
                            title: 'Error!',
                            content: 'Ha ocurrido un error al tratar de enviar la petición',
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Intentar de nuevo',
                                    btnClass: 'btn-red',
                                    action: function () {
                                        searchPatients();
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                    },
                    success: function (data) {
                        $("#holder_loading").hide();
                        if (data.length > 0)
                        {
                            var table = "<table class='table table-striped' id='table_result_patients'><thead><tr><th>Nombre</th><th>DUI</th><th></th></tr></thead><tbody>";
                            for (i = 0; i < data.length; i++)
                            {
                                var routeEdit = "{{ path('paciente_edit', { 'id': "PLACEHOLDER" }) }}";
                                routeEdit = routeEdit.replace("PLACEHOLDER", data[i]['pac_id']);
                                var routeShow = "{{ path('paciente_show', { 'id': "PLACEHOLDER" }) }}";
                                routeShow = routeShow.replace("PLACEHOLDER", data[i]['pac_id']);

                                var btn_group = "<div class='btn-group' role='group'>";
                                btn_group += "<button type='button' class='label bg-danger-400 dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
                                btn_group += "Acción";
                                btn_group += "<span class='caret'></span>";
                                btn_group += "</button>";
                                btn_group += "<ul class='dropdown-menu dropdown-menu-right'>";
                                btn_group += "<li><a href='#' class='addUserAppointment noActionLink' data-user='" + data[i]['pac_id'] + "'><i class='fa fa-calendar-check-o'></i> Añadir Cita</a></li>";
                                btn_group += "<li class='divider'></li>";
                                btn_group += "<li><a href='" + routeShow + "'><i class='fa fa-folder-open'></i> Ver</a></li>";
                                btn_group += "<li><a href='" + routeEdit + "'><i class='fa fa-edit'></i> Editar</a></li>";
                                btn_group += "<li class='divider'></li>";
                                btn_group += "<li><a href='#' class='noActionLink'><i class='fa fa-minus-square'></i> Cerrar menú</a></li>";
                                btn_group += "</ul>";
                                btn_group += "</div>";

                                table += "<tr>";
                                table += "<td>" + data[i]['fullname'] + "</td>";
                                table += "<td>" + data[i]['dui'] + "</td>";
                                table += "<td>" + btn_group + "</td>";
                                table += "</tr>";
                            }
                            table += "</body></table>";
                        } else
                        {
                            table = "<br><div class='alert alert-danger'><i class='glyphicon glyphicon-exclamation-sign'></i> No se han encontrado regístros</div>";
                        }
                        $("#result_search_patients").html(table);
                        if ($("body").find("#table_result_patients").size() == 1)
                        {
                            $("body").find("#table_result_patients").DataTable({
                                "searching": false,
                                "bFilter": false,
                                "bInfo": false,
                                "bLengthChange": false,
                                "pageLength": 5,
                                "language": {
                                    oPaginate: {
                                        sFirst: "Primero",
                                        sLast: "último",
                                        sNext: "Siguiente",
                                        sPrevious: "Anterior"
                                    },
                                },
                                "order": [[0, "desc"]]
                            });
                        }
                    }
                });
            }




            function setModalMaxHeight(element) {
                this.$element = $(element);
                this.$content = this.$element.find('.modal-content');
                var borderWidth = this.$content.outerHeight() - this.$content.innerHeight();
                var dialogMargin = $(window).width() < 768 ? 20 : 60;
                var contentHeight = $(window).height() - (dialogMargin + borderWidth);
                var headerHeight = this.$element.find('.modal-header').outerHeight() || 0;
                var footerHeight = this.$element.find('.modal-footer').outerHeight() || 0;
                var maxHeight = contentHeight - (headerHeight + footerHeight);

                this.$content.css({
                    'overflow': 'hidden'
                });

                this.$element
                        .find('.modal-body').css({
                    'max-height': maxHeight,
                    'overflow-y': 'auto'
                });
            }

            $('.modal').on('show.bs.modal', function () {
                $(this).show();
                setModalMaxHeight(this);
            });

            $(window).resize(function () {
                if ($('.modal.in').length != 0) {
                    setModalMaxHeight($('.modal.in'));
                }
            });

        });

        ////////////////////////////////////
        // Determine the correct object to use

    </script>
{% endblock %}    

