{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Listado de Tipos Proveedores
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:invarea:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:invarea:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista / Inventario Tipo Proveedor</h1>
    <hr>
    <!-- Check the notifications -->
    <div id="holder_msg">
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
    </div>
    <!-- End notifications -->

    {% if invTipoProveedors|length > 0%}
    <table class="table table-striped datatable-reorder">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Activo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for invTipoProveedor in invTipoProveedors %}
            <tr>
                <td><a href="{{ path('invtipoproveedor_show', { 'itprId': invTipoProveedor.itprId }) }}">{{ invTipoProveedor.itprId }}</a></td>
                <td>{{ invTipoProveedor.itprTipo }}</td>
                <td>{{ invTipoProveedor.itprDescripcion }}</td>
                <td>{% if invTipoProveedor.itprFechaCrea %}{{ invTipoProveedor.itprFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if invTipoProveedor.itprFechaMod %}{{ invTipoProveedor.itprFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                
                <td>{% if invTipoProveedor.itprActivo %}<span class="label label-success">Si</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li class="dropdown">
                            <a href="#" class="btn btn bg-teal-400 dropdown-toggle btn-sm" data-toggle="dropdown">Acción <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{ path('invtipoproveedor_show', { 'itprId': invTipoProveedor.itprId }) }}"><i class="icon-folder"></i> Ver </a></li>
                                    <li><a href="{{ path('invtipoproveedor_edit', { 'itprId': invTipoProveedor.itprId }) }}"><i class="icon-pencil"></i> Editar</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" id="{{ invTipoProveedor.itprId }}" class="delete"><i class="icon-trash"></i> Eliminar</a></li>
                                </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info" role=""><i class="fa fa-info-circle"></i> No hay regístros creados</div>
    {% endif %} 

    <ul class="list-inline">
        <li>
            <a href="{{ path('invtipoproveedor_new') }}"  class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo Proveedor</a>
        </li>
    </ul>
{% endblock %}


{% block codejs %}
    <script>
        $(document).on("ready",function(){
            
            /*
             * This works if you want to use datatable plugin 
            */
            var table = $('.datatable-reorder').DataTable({});
            // Add placeholder to the datatable filter option
            $('.dataTables_filter input[type=search]').attr('placeholder','Escribar para filtrar...');
            // Enable Select2 select for the length option
            $('.dataTables_length select').select2({
                minimumResultsForSearch: Infinity,
                width: 'auto'
            });
            //End
            
            
            $('body').on("click",".delete",function () {
                var id = $(this).attr("id");
                if( id > 0 )
                {
                    sendAjax(id);
                }
            });
            
            function sendAjax(id) {
                $("#holder_loading").show(); 
                $.ajax({
                    type: "post",
                    url: "{{ path('invtipoproveedor_delete_from_list') }}",
                    data: {id:id},
                    error: function (data) {
                       $("#holder_loading").hide();
                       $.confirm({
                            icon: 'fa fa-remove',
                            title: 'Error!',
                            content: 'Ha ocurrido un error al tratar de enviar la petición',
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Intentar de nuevo',
                                    btnClass: 'btn-red',
                                    action: function(){
                                        sendAjax(id);
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                        
                    },
                    success: function (data) {
                        $("#holder_loading").hide();
                        if( data == 1)
                        {
                            $.alert({
                                icon: 'fa fa-check-circle',
                                title: 'Ok!',
                                content: 'El registro fue eliminado con éxito',
                                type: 'green',
                                typeAnimated: true,
                            });
                            
                            //$("#tr_"+id).remove();
                            table.row("#tr_"+id).remove().draw( false );
                        }
                        else
                        {
                            var infoError = (data);
                            $.alert({
                                icon: 'fa fa-remove',
                                title: 'Error!',
                                content: 'No se ha podido eliminar el regístro <br>'+infoError,
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                        
                    }
                });
            }
            
        });
    </script>
{% endblock %}   
