{% extends "Layout/base_web/web_estructura.html.twig" %}
{% block title_page %}Medicos.sv{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/web/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Template CSS Files  -->
    <link href="{{ asset('bundles/web/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ asset('bundles/web/js/plugins/camera/css/camera.css') }}" rel="stylesheet"> -->
    <link href="{{ asset('bundles/web/js/plugins/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/components.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/web/css/bootstrap-datepicker3.css') }}" rel="stylesheet">

{% endblock %}

    {% block header %}
                <!-- Header Starts -->
        <header class="main-header">
            <!-- Nested Container Starts -->
            <div class="container">
                <!-- Top Bar Starts -->
                <div class="top-bar hidden-sm hidden-xs">
                   {% include 'Layout/base_web/_web_topbar.html.twig' %}
                </div>
                <!-- Top Bar Ends -->
                <!-- Navbar Starts -->
                <nav id="nav" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Navbar Header Starts -->
                        <div class="navbar-header">
                            <!-- Collapse Button Starts -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Collapse Button Ends -->
                            <!-- Logo Starts -->
                            <a href="{{ path('web_homepage') }}" class="navbar-brand">                                
                                
                                <span class="nombre_sistema">
                                    <img src="{{ asset('bundles/admin/img/logo.png') }}" class="main_logo" alt="">
                                    Medicos<span class="destacado">.SV</span>
                                </span>   <br>  
                                <span class="eslogan">Los médicos que se ven</span>                           
                            </a>
                            <!-- Logo Ends -->
                        </div>
                        <!-- Navbar Header Ends -->
                        <!-- Navbar Collapse Starts -->
                        <div class="navbar-collapse collapse alineado">
                            {#% include 'Layout/base_web/_web_base_menutop.html.twig' %#}
                            {#{ render(controller('EmrBundle:MenuTop:listShow',{ 'menu': 2 })) }#}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Doctores
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="http://medicos.sv">General</a></li>
                                    </ul>
                                </li>

                                <li><a href="{{ path('web_precios') }}">
                                    <i class="fa fa-money"></i> Precios</a></li>
                                <li><a href="contactanos">
                                <i class="fa fa-phone"></i> Contáctanos</a></li>
                                <li><a href="http://sistema.medicos.sv/cliente/nuevo">
                                <i class="fa fa-sign-in"></i> Registrate</a></li>
                            </ul>
                        </div>
                        <!-- Navbar Collapse Ends -->
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </div>
            <!-- Nested Container Ends -->
        </header>   
        <!-- Header Ends -->
    {% endblock %}

{% block body %}
    
{% endblock %}

{% block footer %}
        <!-- Footer Starts -->
    <footer class="main-footer">
        <!-- Footer Area Starts -->
        <footer class="main-footer">
            <!-- Footer Area Starts -->
            <div class="footer-area">
                <!-- Nested Container Starts -->
                <div class="container">
                    <div class="row">
                        <!-- Hosptial Information Starts -->
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            {% include 'Layout/base_web/_web_base_about.html.twig' %}
                        </div>
                        <!-- Hosptial Information Ends -->
                        <!-- Services Starts -->
                        <div class="col-md-2 col-sm-4 col-xs-12">
                           {% include 'Layout/base_web/_web_base_services.html.twig' %}
                        </div>
                        <!-- Services Ends -->
                        <!-- Twitter Starts -->
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            {% include 'Layout/base_web/_web_base_social.html.twig' %}
                        </div>
                        <!-- Twitter Ends -->
                        <!-- Signup Newsletter Starts -->
                        <div class="col-md-4 col-xs-12 newsletter-block">
                           {% include 'Layout/base_web/_web_base_subscribe.html.twig' %}
                        </div>
                        <!-- Signup Newsletter Ends -->
                    </div>
                </div>
                <!-- Nested Container Ends -->
            </div>
            <!-- Footer Area Ends -->
            <!-- Copyright Starts -->
            <div class="copyright">
               {% include 'Layout/base_web/_web_base_copyright.html.twig' %}
            </div>
            <!-- Copyright Ends -->
        </footer>
        <!-- Footer Area Ends -->

    </footer>
    
    <!-- Footer Ends -->
{% endblock %}

{% block javascripts %}
    <!-- Template JS Files -->
    <script src="{{ asset('bundles/web/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/bootstrap-datepicker.min.js') }}"></script>
    
    <script src="{{ asset('bundles/web/js/jquery-migrate-1.2.1.min.js') }}"></script>  
    <script src="{{ asset('bundles/web/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/camera/js/jquery.mobile.customized.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/camera/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/camera/js/camera.min.js') }}"></script>  
    <script src="{{ asset('bundles/web/js/plugins/shuffle/jquery.shuffle.modernizr.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/jquery-scrolltofixed-min.js') }}"></script>   
    <script src="{{ asset('bundles/web/js/jquery-ui.js') }}"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> !-->
    <!-- <script src="{{ asset('bundles/web/js/custom.js') }}"></script> -->
    <script src="{{ asset('bundles/web/js/jquery.lazy.min.js') }}"></script>

    <script src="{{ asset('bundles/web/js/pickadate/drilldown.js')  }}"></script>



    <script src="{{ asset('bundles/web/js/pickadate/moment.min.js')  }}"></script>
    <script src="{{ asset('bundles/web/js/pickadate/daterangepicker.js')  }}"></script>
    <script src="{{ asset('bundles/web/js/pickadate/anytime.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/pickadate/picker.js')      }}"></script>
    <script src="{{ asset('bundles/web/js/pickadate/picker.date.js') }}"></script>
    <script src="{{ asset('bundles/web/js/pickadate/picker.time.js') }}"></script>
    <script src="{{ asset('bundles/web/js/pickadate/legacy.js')      }}"></script>
    

    <script type="text/javascript">

    </script>

    {% block codejs %}
    {% endblock  %}

{% endblock %}

