<div class="row">
    
    <div class="col-sm-6 col-xs-12">
        <ul class="list-unstyled list-inline">
            <li><a href="mailto:info@medicos.sv">
                    <i class="fa fa-envelope-o"></i>
                    infomedicdirectory@gmail.com
                </a></li>
          
        </ul>
    </div>
    <div class="col-sm-6 col-xs-12 right">
        <form   id="busqueda_global" action="{{ path('web_homepage') }}" method="GET" class="">
        <div class="input-group">
             <input name="b" type="text" class="form-control" autocomplete="off" placeholder="Search Doctor">
                 <span class="input-group-btn">

                 <button type="submit" form="busqueda_global" class="btn btn-info"><i class="fa fa-search"></i> Search</button>

                 <button type="button" id="busqueda-completa" class="btn btn-info"><i class="fa fa-plus "></i> More</button>

                 

             </span>
         </div><!-- /input-group -->
       </form> 
            <div class="mas">
                <table border=0 width="100%">

                    <tr>
                        <td colspan="3"><span class="close-filtro"><i class="fa fa-close"></i></span></td>
                    </tr>

                    <tr>
                        <td>  
                            <label><i class="fa fa-map-marker "></i> Department:</label><br>
                            <select name="departmanetos" id="departamento" class="form-control">
                                    <option value="-"></option>
                                {% for dep in departmanetos %}
                                    <option value="{{ dep.dep_id }}">{{ dep.dep_departamento }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>  
                            <label><i class="fa fa-map-marker "></i> City:</label><br>
                            <select name="cities" id="cities" class="form-control">
                                    <option value="-"></option>
                                {% for dep in departmanetos %}
                                    <option value="{{ dep.dep_id }}" name="{{ dep.dep_id }}">{{ dep.dep_departamento }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <label><i class="fa fa-user-md"></i> Specialty :</label><br>
                            <select name="especialidad" id="especialidad" class="form-control">
                                <option value="-"></option>
                                {% for es in especialidad %}
                                    <option value="{{ es.esp_especialidad }}">{{ es.esp_especialidad }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr> 

                </table>
            </div>
    </div>
</div>

