{% extends "Layout/base_admin/_admin_base.html.twig" %}

{% block title_page %}
        EMR || Características de la seccion {{ seccion.modSeccSeccion }}
{% endblock %}

{% block breadcrumb %}
    {{ include('AdminBundle:modulos:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AdminBundle:modulos:_submenu.html.twig' )  }}
{% endblock %}

{% block body %}
    <h1>Seccion</h1>
    <div class="row">
        <div class="col-lg-6">
            
            <!-- Check the notifications -->
            {% for message in app.session.flashbag().get("success") %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
            {% endfor %}
            {% for message in app.session.flashbag().get("error") %}
                <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
            {% endfor %}
            <!-- End notifications -->
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ seccion.modSeccId}}</td>
                    </tr>
                    <tr>
                        <th>Seccion</th>
                        <td>{{ seccion.modSeccSeccion }}</td>
                    </tr>
                    <tr>
                        <th>Modulo</th>
                        <td>{{ seccion.modSeccModId }}</td>
                    </tr>
                    <tr>
                        <th>Orden</th>
                        <td>{{ seccion.modSeccOrden}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Creación</th>
                        <td>{% if seccion.modSeccFechaCrea %}{{ seccion.modSeccFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fecha Actualizado</th>
                        <td>{% if seccion.modSeccFechaMod %}{{ seccion.modSeccFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Activo</th>
                        <td>{% if seccion.modSeccActivo %}<span class="label label-success">Si</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <hr>         
        </div>
                    
    </div>
                                   
    <ul class="list-inline">
        <li>
            <a href="{{ path('secciones_modulos_index') }}" class="btn btn-info"><i class="fa fa-list"></i> Listar</a>
        </li>
        <li>
            <a href="{{ path('secciones_modulos_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </li>
        <li>
            <a href="{{ path('secciones_modulos_edit', { 'id': seccion.modSeccId }) }}" class="btn bg-teal-400"><i class="fa fa-edit"></i> Editar</a>
        </li>
        {% if seccion.modSeccActivo %}
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Eliminar</button>
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
