{% extends "Layout/base_emr/_clients_base.location.html.twig" %}

{% block title_page %}
    Soporte al usuario
{% endblock %}

{% block body %}
    {{ include('SupportBundle::_menu.html.twig') }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Casos de soporte</h3>
        </div>
        <div class="panel-body">
            <table id="tblCasos" class="table table-stripped table-bordered">
                <thead>
                <tr>
                    <th style="width: 10%">ID caso</th>
                    <th style="width: 60%">Asunto</th>
                    <th>Estado</th>
                    <th style="width: 15%">Creado</th>
                    <th style="width: 10%">Asignado a</th>
                </tr>
                </thead>
                <tbody>
                {% for caso in casos %}
                <tr>
                    <td>
                        {{ caso.id }}
                    </td>
                    <td>
                        {{ caso.asunto }}
                    </td>
                    <td>
                        {{ caso.estado.estado }}
                    </td>
                    <td>
                        {{ caso.fechaCreacion|date }}
                    </td>
                    <td>
                        {{ caso.UsuarioAsignado.usuId|default('No asignado') }}
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}

