{% extends "::base.html.twig" %}
  
{% block body %}
    <div class="row">
        <div class="col-lg-12">
        <h1>Lista de Paises</h1>
        <ul>
            <li>
                <a href="{{ path('syspais_new') }}">Create a nueva entrada</a>
            </li>
        </ul>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Prefijo</th>
                    <th>Código postal</th>
                    <th>Continente</th>
                    <th>Estatus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sysPai in sysPais %}
                <tr>
                    <td><a href="{{ path('syspais_show', { 'id': sysPai.id }) }}">{{ sysPai.id }}</a></td>
                    <td>{{ sysPai.nombreSysPais }}</td>
                    <td>{{ sysPai.prefijoSysPais }}</td>
                    <td>{{ sysPai.codigoPostalSysPais }}</td>
                    <td>{{ sysPai.contientePaisSysPais }}</td>
                    <td>{{ sysPai.estadoSysPais }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('syspais_show', { 'id': sysPai.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('syspais_edit', { 'id': sysPai.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        </div>
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){

          });
    </script>
{% endblock %}    
