{# empty Twig template #}
{%extends "LipsBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
        <h2>Editar Chica</h2>
        <a href="{{path("lips_index_girl")}}" class="btn btn-success margin-bottom">Listar chicas</a>
        {% for message in app.session.flashbag().get("status") %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}    
        {{form_start(form)}}
        <div>
            
            {% if girl.image is empty %}
                 Imagen no disponible
            {% else %}
                <label>Imagen actual</label>
                <img src="{{ asset("uploads/"~girl.image) }}" class="small">
             {% endif %}
             
            {{form_widget(form.image)}}
            {{form_errors(form.image)}}
        </div>
        {{form_end(form)}}
        </div>
    </div>
{% endblock %}

