{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Listado de Pacientes
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Listado de pacientes</h1>
    
    <!-- Check the notifications -->
    <div id="holder_msg">
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
    </div>
    <!-- End notifications -->
    {% if pacientes|length > 0%}
        <table class="table table-striped datatable-reorder">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Pacsegnombre</th>
                    <th>Pacfechamod</th>
                    <th>Pacapellido</th>
                    <th>Pacsegapellido</th>
                    <th>Pacgenero</th>
                    <th>Pacemail</th>
                    <th>Pacdui</th>
                    <th>Pacestadocivil</th>
                    <th>Pactipsangre</th>
                    <th>Pacteltrabajo</th>
                    <th>Pactelcelular</th>
                    <th>Pactelcasa</th>
                    <th>Pacdireccion</th>
                    <th>Pacfechanacimiento</th>
                    <th>Pacfoto</th>
                    <th>Pacfechacrea</th>
                    <th>Pacactivo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td><a href="{{ path('paciente_show', { 'id': paciente.pacId }) }}">{{ paciente.pacId }}</a></td>
                    <td>{{ paciente.pacNombre }}</td>
                    <td>{{ paciente.pacSegNombre }}</td>
                    <td>{% if paciente.pacFechaMod %}{{ paciente.pacFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ paciente.pacApellido }}</td>
                    <td>{{ paciente.pacSegApellido }}</td>
                    <td>{{ paciente.pacGenero }}</td>
                    <td>{{ paciente.pacEmail }}</td>
                    <td>{{ paciente.pacDui }}</td>
                    <td>{{ paciente.pacEstadoCivil }}</td>
                    <td>{{ paciente.pacTipSangre }}</td>
                    <td>{{ paciente.pacTelTrabajo }}</td>
                    <td>{{ paciente.pacTelCelular }}</td>
                    <td>{{ paciente.pacTelCasa }}</td>
                    <td>{{ paciente.pacDireccion }}</td>
                    <td>{% if paciente.pacFechaNacimiento %}{{ paciente.pacFechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ paciente.pacFoto }}</td>
                    <td>{% if paciente.pacFechaCrea %}{{ paciente.pacFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if paciente.pacActivo %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('paciente_show', { 'id': paciente.pacId }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('paciente_edit', { 'id': paciente.pacId }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role=""><i class="fa fa-info-circle"></i> No hay regístros creados</div>
    {% endif %}    
    <ul class="list-inline">
        <li>
            <a href="{{ path('paciente_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </li>
    </ul>

{% endblock %}

{% block codejs %}
    <script>
        $(document).on("ready",function(){
           // alert();
        });
    </script>
{% endblock %}    
