{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Listado de Pacientes
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    
    {# {{ app.session.get('locationId') }} #}
    <!-- Check the notifications -->
    <div id="holder_msg">
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
    </div>
    
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <a href="{{ app.request.headers.get('referer') }}">
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Regresar</span>
                </a> - Listado de pacientes

                <small class="display-block">Seleccione el paciente</small>
            </h4>
                
        </div>      
        {#    
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
        #}
    </div> 
    
    <!-- End notifications -->
    {% if pacientes|length > 0%}

       <table class="table table-striped" id="patients_grid">
           <thead>
               <tr>
                   <th>Nombre</th>
                   <th>Dui</th>
                   <th>Genero</th>
                   <th>Email</th>
                   <th>fecha creación</th>
                   <th>Acciones</th>
               </tr>
           </thead>
           <tbody>
           </tbody>
       </table>
    {% else %}
        <div class="alert alert-info" role=""><i class="fa fa-info-circle"></i> No hay regístros creados</div>
    {% endif %}    
    <ul class="list-inline">
        <li>
            <a href="{{ path('paciente_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </li>
    </ul>
            
{% endblock %}

{% block codejs %}
    <script>
        $(document).on("ready",function(){
            
            if( $("#patients_grid").size() == 1 )
            {
                $('#patients_grid').DataTable({
                    "bProcessing": true,
                    "serverSide": true,
                    "ajax":{
                       url :"{{ path('paciente_list') }}", // json datasource
                       type: "post",  // type of method  , by default would be get
                       error: function(){  // error handling code
                         $("#patients_grid_processing").css("display","none");
                       }
                     },
                    "columnDefs": [ {
                        "targets": -1,
                        "data": null,
                        //"defaultContent": "<button>Click!"+pac_id+"</button>"
                        "render": function ( data, type, full, meta ) {
                            var buttonID = data[5];
                            var routeShow = "{{ path('paciente_show', { 'id': "PLACEHOLDER" }) }}";
                            var routeEdit = "{{ path('paciente_edit', { 'id': "PLACEHOLDER" }) }}";
                            {% if "6" in roles|keys %}
                                var routeAgenda = "{{ path('agenda_new', {'d':app.user.usuId , 'p': "PLACEHOLDER" }) }}";
                            {% else %}
                                var routeAgenda = "{{ path('agenda_new', { 'p': "PLACEHOLDER" }) }}";
                            {% endif %}    
                            

                            routeShow = routeShow.replace("PLACEHOLDER", buttonID);
                            routeEdit = routeEdit.replace("PLACEHOLDER", buttonID);
                            routeAgenda = routeAgenda.replace("PLACEHOLDER", buttonID);

                            //var listBtn = "<a href="+routeShow+" class='btn btn-default btn-sm'><i class='fa fa-folder-open'></i> Ver</a>";
                            //listBtn += " <a href="+routeEdit+" class='btn bg-teal-400 btn-sm'><i class='fa fa-edit'></i> Editar</a>";
                            
                            var btn_group = "<div class='btn-group' role='group'>";
                            btn_group += "<button type='button' class='label bg-success dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
                            btn_group += "Acción";
                            btn_group += "<span class='caret'></span>";
                            btn_group += "</button>";
                            btn_group += "<ul class='dropdown-menu dropdown-menu-right'>";
                            btn_group += "<li><a href='"+routeAgenda+"'><i class='fa fa-calendar'></i> Crear cita</a></li>";
                            btn_group += "<li class='divider'></li>";
                            btn_group += "<li><a href='"+routeShow+"'><i class='fa fa-folder-open'></i> Ver</a></li>";
                            btn_group += "<li><a href='"+routeEdit+"'><i class='fa fa-edit'></i> Editar</a></li>";
                            btn_group += "</ul>";
                            btn_group += "</div>";
                            

                            return btn_group;
                        }
                    } ]         
                });
                
                $('.dataTables_filter input[type=search]').attr('placeholder','Escribar para filtrar...');
                $('.dataTables_length select').select2({
                    minimumResultsForSearch: Infinity,
                    width: 'auto'
                });
            }
            
            
           /*
           var table = $('.datatable-reorder').DataTable({});
            // Add placeholder to the datatable filter option
            $('.dataTables_filter input[type=search]').attr('placeholder','Escribar para filtrar...');
            // Enable Select2 select for the length option
            $('.dataTables_length select').select2({
                minimumResultsForSearch: Infinity,
                width: 'auto'
            });
            //End
            */
        });
    </script>
{% endblock %}    
