{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Datos del paciente
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <style>
        .split{
            margin-bottom: 8px;
        }
        .split h5{
            margin-bottom: 0px;
            font-size: 14px !important;
            font-weight: 600;
        }
    </style>

    <div class="page-header-content">
        
        <div class="page-title">
            <h4>
                <a href="{{ app.request.headers.get('referer') }}">
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Regresar</span>
                </a> - Datos del paciente

                <small class="display-block">Expediente básico del paciente!</small>
            </h4>
       </div>
        
        {#
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Home</span> - Datos del paciente

                <small class="display-block">Expediente básico del paciente!</small></h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a></div> #}
        {#    
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
        #}
    </div>
    
    
    <div class="row">
        <div class="col-lg-8">
        <!-- Check the notifications -->
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
        <!-- End notifications -->
        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                
                <div class="panel border-left-lg border-left-success">
                    <div class="panel-heading">
                        <h6 class="text-semibold no-margin-top"><i class="fa fa-photo"></i> Fotografía </h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <!-- <li><a data-action="reload"></a></li> -->
                                {# <li><a data-action="close"></a></li> #}
                            </ul>
                        </div>
                    </div>
                     <div class="panel-body no-border no-padding-top">
                         <div class="thumb">
                        {% if  paciente.pacFoto != "" %}
                            <div style="text-align:center;"><img src="{{ asset("uploads/pacientes/"~paciente.pacFoto) }}" class="img-thumbnailx" style="max-width:85% "></div>
                        {% else %}
                            {% if paciente.pacGenero|lower  == "m" %}
                                <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/man.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                            {% else %}
                                <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/girl.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                            {% endif %}

                        {% endif %}
                         </div>
                     </div>
                </div>
                <hr>
                <div class="panel border-left-lg border-left-danger invoice-grid timeline-content">
                    <div class="panel-heading">
                        <h6 class="text-semibold no-margin-top"><i class="fa fa-address-book-o"></i> Consultas</h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <!-- <li><a data-action="reload"></a></li>-->
                                {# <li><a data-action="close"></a></li> #}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body no-border no-padding-top">
                        <div class="list-group no-border no-padding-top">
                            <ul class="list list-unstyled">
                                <li>
                                    <i class="fa fa-stethoscope" aria-hidden="true"></i> Consultas realizadas 
                                    <span class="badge bg-teal-400 pull-right"> {{ totalMedicalConsultation }}</span>
                                </li>
                                {#
                                <li>
                                    <i class="fa fa-usd" aria-hidden="true"></i> Pagos Históricos
                                    <span class="badge bg-teal-400 pull-right"> 5 </span>
                                </li>
                                #}
                            </ul>
                        </div>    
                    </div>
                </div> 
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
                
                <div class="panel border-left-lg border-left-success">
                    <div class="panel-heading">
                        <h6 class="text-semibold no-margin-top"><i class="fa fa-file"></i> Información</h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <!-- <li><a data-action="reload"></a></li> -->
                                {# <li><a data-action="close"></a></li> #}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body no-border no-padding-top">
                        <div class="well well-sm">
                            <div class='split'>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Nombre:</h5>
                                        <div>{{ paciente.pacNombre|capitalize }} {{ paciente.pacSegNombre|capitalize }} {{ paciente.pacApellido|capitalize }} {{ paciente.pacSegApellido|capitalize }}</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h5>DUI:</h5>
                                            {{ paciente.pacDui }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h5>Ocupación:</h5>
                                            {{ paciente.pacOcupacion }}
                                    </div>
                                </div>
                            </div>
                            <div class='split'>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Género:</h5>
                                        <div>
                                            {% if paciente.pacGenero|lower == "m" %}
                                                Masculino
                                            {% else %}
                                                Femenino    
                                            {% endif %}    
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Estado Civil:</h5>
                                        <div>
                                            {# {{ paciente.pacGenero|lower }}----- #}
                                            {% if paciente.pacGenero|lower == "m" %}
                                                {% if paciente.pacEstadoCivil == "s" %}
                                                    Soltero
                                                {% elseif paciente.pacEstadoCivil == "c" %}
                                                    Casado
                                                {% elseif paciente.pacEstadoCivil == "d" %}
                                                    Divorciado 
                                                {% elseif paciente.pacEstadoCivil == "v" %}
                                                    Viudo     
                                                {% endif %}    
                                            {% else %}
                                                {% if paciente.pacEstadoCivil == "s" %}
                                                    Soltera
                                                {% elseif paciente.pacEstadoCivil == "c" %}
                                                    Casada
                                                {% elseif paciente.pacEstadoCivil == "d" %}
                                                    Divorciada 
                                                {% elseif paciente.pacEstadoCivil == "v" %}
                                                    Viuda     
                                                {% endif %}
                                            {% endif %}    
                                              
                                        </div>
                                    </div>    
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h5>Tipo Sangre:</h5>
                                            {{ paciente.pacTipSangre }}
                                    </div>

                                        
                                </div>
                            </div>
                            <div class='split'>
                                <div class="row">
                                    
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h5>Fecha de nacimiento:</h5>
                                            {% if paciente.pacFechaNacimiento %}{{ paciente.pacFechaNacimiento|date('Y-m-d') }}{% endif %}
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h5>Email:</h5>
                                            {{ paciente.pacEmail }}
                                        </div>
                                        
                                         <div class="col-lg-4 col-md-4 col-sm-4">
                                            <h5>Telefono Trabajo:</h5>
                                            <div>
                                                {{ paciente.pacTelTrabajo }}    
                                            </div>
                                        </div>
                                        
                                </div>
                            </div>
                            <div class='split'>
                                <div class="row">
                                   
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Telefóno Casa:</h5>
                                        {{ paciente.pacTelCasa }}
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Celular:</h5>
                                        {{ paciente.pacTelCelular }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Persona a responsable:</h5>
                                        {{ paciente.pacResponsable }}
                                    </div>
                                </div>
                            </div>
                            <div class='split'>
                                <h5>Dirección:</h5>
                                <div>{{ paciente.pacDireccion }}</div>
                                <div>
                                    {% if paciente.pacMun != "" %}
                                        {{ paciente.pacMun }}
                                        {{ (paciente.pacMun.munDep != null  and paciente.pacMun.munDep !="") ? ","~paciente.pacMun.munDep }}  {{ paciente.pacMun.munDep.depPai != ""?","~paciente.pacMun.munDep.depPai }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="list-group-divider"></div>        
                        <div class="well well-sm">    
                            <div class='split'>
                            
                                <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <h5>Activo:</h5>
                                    <div>
                                        {% if paciente.pacActivo %}<span class="label label-success">Si</span>{% else %}<span class="label label-danger">No</span>{% endif %} 
                                    </div>
                                </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Fecha creación:</h5>
                                        {% if paciente.pacFechaCrea %}{{ paciente.pacFechaCrea|date('Y-m-d H:i:s') }}{% endif %}
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h5>Fecha actualizado:</h5>
                                        {% if paciente.pacFechaMod %}{{ paciente.pacFechaMod|date('Y-m-d H:i:s') }}{% endif %}
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                                   
            </div>
            
        </div>  
        </div>
        <div class="col-lg-4">
           
            
            <div class="panel border-left-lg border-left-success invoice-grid timeline-content">
                    <div class="panel-heading">
                        <h6 class="text-semibold no-margin-top"><i class="fa fa-address-book-o"></i> Citas médicas</h6>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <!-- <li><a data-action="reload"></a></li>-->
                                {# <li><a data-action="close"></a></li> #}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="panel-body no-border no-padding-top">
                        
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#books" aria-controls="books" role="tab" data-toggle="tab">Citas &nbsp;<span class="badge bg-info-400 pull-right">{{ listAppointment|length }}</span></a></li>
                          <li role="presentation"><a href="#doctors" aria-controls="doctors" role="tab" data-toggle="tab">Historial Médico  &nbsp;<span class="badge bg-info-400 pull-right">{{ doctorstList|length }}</span></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="books">
                                {% set userRoles = app.session.get('userRoles') %}
                               
                                {% if listAppointment|length > 0 %}
                                    <table class="table table-striped" id="table_books">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Estatus</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for appointment in listAppointment %}
                                            <tr id="app_{{ appointment.age_id }}">
                                                
                                                <td><small>{{ appointment.fecha_inicio|date('Y-m-d h:i:s a') }}</small></td>
                                                <td>
                                                    
                                                    {% if appointment.estado == "Anulada" %}
                                                        <span class="label label-default">{{ appointment.estado }}</span>
                                                    {% elseif appointment.estado == "Pendiente" %}
                                                        <span class="label label-primary">{{ appointment.estado }}</span>
                                                    {% elseif appointment.estado == "Terminada"  %}
                                                        <span class="label label-success">{{ appointment.estado }}</span>
                                                    {% else %}    
                                                        {{ appointment.estado }}
                                                    {% endif %}    
                                                </td>
                                                <td>
                                                    {% if appointment.estado == "Pendiente" %}    
                                                    <ul class="list list-unstyled text-right">
                                                        <li class="dropdown">
                                                            <a href="#" class="btn btn-default dropdown-toggle btn-smxxxx" data-toggle="dropdown">Acción <span class="caret"></span></a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                {% if "6" in userRoles|keys  and appointment.estado|lower  == "pendiente" %}
                                                                    <li><a href="{{ path("consulta_new", { 'id': paciente.pacId,'cm':appointment.id_agenda }) }}" class="pross_appointment"><i class="icon-checkmark3" aria-hidden="true"></i> Procesar Consulta</a></li>
                                                                {% endif %}
                                                                <li><a href="{{ path("agenda_new")}}?d={{ appointment.id_doctor }}" class="update_appointment"><i class="icon-alarm" aria-hidden="true"></i> Actualizar</a></li>
                                                                <li class="divider"></li>
                                                                {# <li><a href="#"><i class="icon-spinner2 spinner"></i> En curso</a></li> #}
                                                               
                                                                <li><a href="#" class="delete_appointment"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Cancelar</a></li>
                                                                
                                                                <li><a href="#"><i class="icon-cross2" aria-hidden="true"></i> Cerrar menú</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                   {% endif %}             
                                                </td>
                                            </tr>
                                            {#
                                            <tr>
                                                <td>2017-03-20</td><td><i class="fa fa-check"></i></td><td/></td>
                                            </tr>
                                            <tr>
                                                <td>2017-02-20</td><td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td><td/></td>
                                            </tr>
                                            <tr>
                                                <td>2017-01-20</td><td><i class="fa fa-check"></i></td><td/></td>
                                            </tr>
                                            #}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <br>
                                     <div class="alert alert-info alert-styled-left">
                                        El paciente no tiene citas creadas
                                    </div>
                                {% endif %}
                               
                                
                                
                                <div class="list-group-divider"></div>
                                <div>
                                    {% if "6" in roles|keys %}
                                        <a href="{{ path('agenda_new', {'d':app.user.usuId,'p':paciente.pacId}) }}" class="btn btn-success btn-sm"><i class="fa fa-calendar"></i> Agendar nueva cita</a>
                                    {% else %}
                                        <a href="{{ path('agenda_new', {'p':paciente.pacId}) }}" class="btn btn-success btn-sm"><i class="fa fa-calendar"></i> Agendar nueva cita</a>
                                    {% endif %}    
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="doctors">
                                <br>
                                {% if doctorstList|length > 0 %}
                                        <h5>Médicos que han atendido al paciente</h5>
                                        <ul class="list-group">
                                        {% for  doctor in  doctorstList %}
                                            <li class="list-group-item"> <i class="fa fa-user-md" aria-hidden="true"></i>{{ doctor.title_doctor|capitalize~" "~doctor.usu_nombre|capitalize~" "~doctor.usu_segundo_nombre|capitalize~" "~doctor.usu_tercer_nombre|capitalize~" "~doctor.usu_primer_apellido|capitalize~" "~doctor.usu_segundo_apellido|capitalize }}</li>
                                        {% endfor %}
                                        </ul>
                                   
                                {% else %}
                                    <br>
                                     <div class="alert alert-info alert-styled-left">
                                        Este paciente no tiene historial médico de momento
                                    </div>
                                {% endif %}    
                               
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            
             {{ include('EmrBundle:paciente:_search.html.twig' )  }}
            
        </div>        
    </div>
    <hr>        

                      
    <ul class="list-inline">
        <li>
            <a href="{{ path('paciente_index') }}" class="btn btn-info btn-sm"><i class="fa fa-list"></i> Listar</a>
        </li>
        <li>
            <a href="{{ path('paciente_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </li>
        <li>
            <a href="{{ path('paciente_edit', { 'id': paciente.pacId }) }}" class="btn bg-teal-400 btn-sm"><i class="fa fa-edit"></i> Editar</a>
        </li>
        {#
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Eliminar</button> 
            {{ form_end(delete_form) }}
        </li>
        #}
    </ul>        
{% endblock %}

{% block codejs %}
    <script>
        $(document).on("ready",function(){
            $("#form_search_patients").submit(function(e){
                            //
                            e.preventDefault();
                            searchPatients();
                            
                            return false;
                        });
                    
                    
                    $(".delete_appointment").on("click", function(e){
                        
                        var id = $(this).closest("tr").attr("id");
                        var id = id.replace(/[^0-9]/g,'');
                        //alert(id);
                        if(id > 0 )
                        {    
                            $.confirm({
                                //title: 'Confirme!',
                                //content: 'Esta seguro de cancelar la cita para este paciente?',
                                icon: 'fa fa-exclamation-triangle',
                                title: 'Confirme',
                                //content: 'Esta seguro de cancelar el evento?',
                                content: '' +
                                '<form action="" class="formName">' +
                                '<div class="form-group">' +
                                '<label>Esta seguro de cancelar la cita para este paciente?</label>' +
                                '<textarea placeholder="Ingrese un comentario" class="name form-control" id="comment" ></textarea>' +
                                '</div>' +
                                '</form>',
                                type: 'red',
                                typeAnimated: true,
                                buttons: {
                                    /*
                                    confirm: function () {
                                        $.alert('Confirmed!');
                                    },
                                    cancel: function () {
                                        $.alert('Canceled!');
                                    },
                                    */
                                    yes: {
                                        text: 'Si',
                                        btnClass: 'btn-green',
                                        keys: ['enter', 'shift'],
                                        action: function(){
                                            //$.alert('Something else?');
                                            var comment = this.$content.find('#comment').val();
                                            //doDelete(comment); //send data to delete function
                                            doDelete(id, comment);
                                        }
                                    },
                                    somethingElse: {
                                        text: 'No',
                                        btnClass: 'btn-red',
                                        keys: ['enter', 'shift'],
                                        action: function(){
                                            //return false;
                                            //$.alert('Something else?');
                                        }
                                    }
                                }
                            });
                        }
                        
                        e.preventDefault();
                    });
                    
                    function doDelete(id, comment){  // delete event 

                        $("#calendarModal").modal("hide");
                        var eventID = id;//$("#eventID").val();
                        $("#holder_loading").show();
                        $.ajax({
                            url: "{{ path('agenda_valida') }}",
                            data: "action=delete&id="+eventID+"&reason="+comment,
                            type: "POST",
                            success: function(json) {
                                $("#holder_loading").hide();
                                if(json == 1)
                                 {   
                                    $("#app_"+id).closest("tr").find("td").eq(1).html("<span class='label label-default'>Anulada</span>");
                                    //$("#app_"+id).closest("tr").find(".pross_appointment").remove();
                                    //$("#app_"+id).closest("tr").find(".delete_appointment").remove();
                                    //$("#app_"+id).closest("tr").find(".update_appointment").remove();
                                    $("#app_"+id).closest("tr").find("ul").remove();
                                    //update_appointment
                                    
                                    $.alert({
                                        icon: 'fa fa-user-md',
                                        title: 'Ok!',
                                        content: "<p class=''>La cita médica del paciente ha sido cancelada con éxito</p>",
                                        type: 'green',
                                        typeAnimated: true,
                                    });
                                    return false;
                                 }    
                                 else
                                 {
                                    $.alert({
                                        icon: 'fa fa-times',
                                        title: 'Error!',
                                        content: "<p class=''>Ha ocurrido un error al intentar cancelar la cita del paciente</p>",
                                        type: 'red',
                                        typeAnimated: true,
                                    });
                                    return false;
                                 }
                            },
                             error: function(json){
                                 $.alert({
                                     icon: 'fa fa-times',
                                     title: 'Error!',
                                     content: "<p class='small'>No se ha podido eliminar el evento</p>",
                                     type: 'red',
                                     typeAnimated: true,
                                 });  
                                 $("#holder_loading").hide();  
                                 return false;

                            }       
                        });

                    }
                    
                    function searchPatients()
                    {
                        var search = $("#input_search_patients").val();
                        if( $.trim(search) == "" )
                        {
                            //var infoError = (data);
                            $.alert({
                                icon: 'glyphicon glyphicon-exclamation-sign',
                                title: 'Info!',
                                content: 'El campo de la búsqueda no puede estar vacio',
                                type: 'blue',
                                typeAnimated: true,
                            });
                            return false;
                        }
                        $("#holder_loading").show();
                            $.ajax({
                                type: "post",
                                url: "{{ path('paciente_search') }}",
                                data: { search: search },
                                error: function (data) {
                                    $("#holder_loading").hide();
                                    $.confirm({
                                        icon: 'fa fa-remove',
                                        title: 'Error!',
                                        content: 'Ha ocurrido un error al tratar de enviar la petición',
                                        type: 'red',
                                        typeAnimated: true,
                                        buttons: {
                                            tryAgain: {
                                                text: 'Intentar de nuevo',
                                                btnClass: 'btn-red',
                                                action: function () {
                                                    searchPatients();
                                                }
                                            },
                                            close: function () {
                                            }
                                        }
                                    });

                                },
                                success: function (data) {
                                    $("#holder_loading").hide();
                                    if( data.length > 0)
                                    {
                                        var table = "<table class='table table-striped' id='table_result_patients'><thead><tr><th>Nombre</th><th>DUI</th><th></th></tr></thead><tbody>";
                                        for(i=0; i < data.length; i++)
                                        {
                                            var routeEdit = "{{ path('paciente_edit', { 'id': "PLACEHOLDER" }) }}";
                                            routeEdit = routeEdit.replace("PLACEHOLDER", data[i]['pac_id']);
                                            
                                            var routeShow = "{{ path('paciente_show', { 'id': "PLACEHOLDER" }) }}";
                                            routeShow = routeShow.replace("PLACEHOLDER", data[i]['pac_id']);
                                            
                                            {% if "6" in roles|keys %}
                                                var routeAgenda = "{{ path('agenda_new', {'d':app.user.usuId , 'p': "PLACEHOLDER" }) }}";
                                            {% else %}
                                                var routeAgenda = "{{ path('agenda_new', { 'p': "PLACEHOLDER" }) }}";
                                            {% endif %}
                                            routeAgenda = routeAgenda.replace("PLACEHOLDER", data[i]['pac_id']);
                                            
                                            var btn_group = "<div class='btn-group' role='group'>";
                                                btn_group += "<button type='button' class='label bg-danger-400 dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>";
                                                btn_group += "Acción";
                                                btn_group += "<span class='caret'></span>";
                                                btn_group += "</button>";
                                                btn_group += "<ul class='dropdown-menu dropdown-menu-right'>";
                                                btn_group += "<li><a href='"+routeAgenda+"'><i class='fa fa-calendar'></i> Crear cita</a></li>";
                                                btn_group += "<li><a href='"+routeShow+"'><i class='fa fa-folder-open'></i> Ver</a></li>";
                                                btn_group += "<li><a href='"+routeEdit+"'><i class='fa fa-edit'></i> Editar</a></li>";
                                                btn_group += "</ul>";
                                                btn_group += "</div>";
                                            
                                            table += "<tr>";
                                            table += "<td>"+data[i]['fullname']+"</td>";
                                            table += "<td>"+data[i]['dui']+"</td>";
                                            table += "<td>"+btn_group+"</td>";
                                            table += "</tr>";
                                        }
                                        table += "</body></table>";
                                        
                                        
                                        
                                    }
                                    else
                                    {
                                        table = "<br><div class='alert alert-danger'><i class='glyphicon glyphicon-exclamation-sign'></i> No se han encontrado regístros</div>";
                                    }
                                    $("#result_search_patients").html(table);
                                    if( $("body").find("#table_result_patients").size() == 1 )
                                    {
                                        $("body").find("#table_result_patients").DataTable({
                                            "searching": false,
                                            "bFilter": false,
                                            "bInfo": false,
                                            "bLengthChange": false,
                                            "pageLength": 5,
                                            "language":{
                                                oPaginate: {
                                                    sFirst: "Primero",
                                                    sLast: "último",
                                                    sNext: "Siguiente",
                                                    sPrevious: "Anterior"
                                                    },
                                            },
                                            "order": [[ 0, "desc" ]]
                                        });
                                    }
                                    
                                }
                            });
                    }
                    
                    $("#table_books").DataTable({
                            "searching": false,
                            "bFilter": false,
                            "bInfo": false,
                            "bLengthChange": false,
                            "pageLength": 5,
                            "language":{
                                oPaginate: {
                                    sFirst: "Primero",
                                    sLast: "último",
                                    sNext: "Siguiente",
                                    sPrevious: "Anterior"
                                },
                            },
                            "order": [[ 0, "desc" ]]
                    });        
        });
    </script>
{% endblock %}    
