{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysmodulotieneespecialidad:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysmodulotieneespecialidad:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Modulos Por Especialidades</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modulo</th>
                <th>Especialidad</th>
                <th>Sysestatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysModuloTieneEspecialidad in sysModuloTieneEspecialidads %}
            <tr>
                <td><a href="{{ path('sysmodulotieneespecialidad_show', { 'id': sysModuloTieneEspecialidad.id }) }}">{{ sysModuloTieneEspecialidad.id }}</a></td>
                <td>{{ sysModuloTieneEspecialidad.SysModulos }}</td>
                <td>{{ sysModuloTieneEspecialidad.SysEspecialidades }}</td>
                <td>{% if sysModuloTieneEspecialidad.sysEstatus %}<span class="label label-success">Activo</span>{% else %}<span class="label label-danger">Inactivo</span>{% endif %}</td>
                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysmodulotieneespecialidad_show', { 'id': sysModuloTieneEspecialidad.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysmodulotieneespecialidad_edit', { 'id': sysModuloTieneEspecialidad.id }) }}" class="btn btn-info">
                            <i class="glyphicon glyphicon-pencil"></i>editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
