{% extends "Layout/base_admin/_admin_base.html.twig" %}

{% block title_page %}
        EMR || Listado de países
{% endblock %}

{% block breadcrumb %}
    {{ include('AdminBundle:pais:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AdminBundle:pais:_submenu.html.twig' )  }}
{% endblock %}

{% block body %}
    <h1>Lista de Países</h1>
    
    <!-- Check the notifications -->
    <div id="holder_msg">
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
    </div>
    <!-- End notifications -->
    
    {% if pais|length > 0%}
    
    <table class="table table-striped datatable-reorder">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pais</th>
                <th>Código</th>
                <th>Abreviatura</th>
                <th>Fecha creación</th>
                <th>Fecha modificado</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pai in pais %}
            <tr id="tr_{{ pai.paiId }}">
                <td><a href="{{ path('pais_show', { 'id': pai.paiId }) }}">{{ pai.paiId }}</a></td>
                <td>{{ pai.paiPais }}</td>
                <td>{{ pai.paiCodigo }}</td>
                <td>{{ pai.paiAbreviatura }}</td>
                <td>{% if pai.paiFechaCrea %}{{ pai.paiFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pai.paiFechaMod %}{{ pai.paiFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pai.paiActivo %}<span class="label label-success">Si</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('pais_show', { 'id': pai.paiId }) }}" class="btn btn-default"><i class="fa fa-folder-open"></i> Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('pais_edit', { 'id': pai.paiId }) }}" class="btn bg-teal-400" ><i class="fa fa-edit"></i> Editar</a>
                        </li>
                        <li>
                            <button value="{{ pai.paiId }}" class="btn btn-danger delete"><i class="fa fa-remove"></i> Eliminar</button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info" role=""><i class="fa fa-info-circle"></i> No hay regístros creados</div>
    {% endif %}    
    <ul class="list-inline">
        <li>
            <a href="{{ path('pais_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </li>
    </ul>
            
    
{% endblock %}

{% block codejs %}
    <script>
        $(document).on("ready",function(){
            
            /*
             * This works if you want to use datatable plugin 
            */
            var table = $('.datatable-reorder').DataTable({});
            // Add placeholder to the datatable filter option
            $('.dataTables_filter input[type=search]').attr('placeholder','Escribar para filtrar...');
            // Enable Select2 select for the length option
            $('.dataTables_length select').select2({
                minimumResultsForSearch: Infinity,
                width: 'auto'
            });
            //End
            
            
            $('body').on("click",".delete",function () {
                var id = $(this).val();
                if( id > 0 )
                {
                    sendAjax(id);
                }
            });
            
            function sendAjax(id) {
                $("#holder_loading").show(); 
                $.ajax({
		            type: "post",
                    url: "{{ path('pais_delete_from_list') }}",
                    data: {id:id},
                    error: function (data) {
                       $("#holder_loading").hide();
                       $.confirm({
                            icon: 'fa fa-remove',
                            title: 'Error!',
                            content: 'Ha ocurrido un error al tratar de enviar la petición',
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Intentar de nuevo',
                                    btnClass: 'btn-red',
                                    action: function(){
                                        sendAjax(id);
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                        
                    },
                    success: function (data) {
                        $("#holder_loading").hide();
                        if( data == 1)
                        {
                            $.alert({
                                icon: 'fa fa-check-circle',
                                title: 'Ok!',
                                content: 'El registro fue eliminado con éxito',
                                type: 'green',
                                typeAnimated: true,
                            });
                            
                            //$("#tr_"+id).remove();
                            table.row("#tr_"+id).remove().draw( false );
                        }
                        else
                        {
                            var infoError = (data);
                            $.alert({
                                icon: 'fa fa-remove',
                                title: 'Error!',
                                content: 'No se ha podido eliminar el regístro <br>'+infoError,
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                        
                    }
                });
            }
            
        });
    </script>
{% endblock %}
