{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientes list</h1>

    <table>
        <thead>
            <tr>
                <th>Cliid</th>
                <th>Clinombre</th>
                <th>Clinombrefiscal</th>
                <th>Clinit</th>
                <th>Clitelefono1</th>
                <th>Clitelefono2</th>
                <th>Clidireccion</th>
                <th>Clifecharegistro</th>
                <th>Cliidvendedor</th>
                <th>Clifechacrea</th>
                <th>Clifechamod</th>
                <th>Cliactivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.cliId }) }}">{{ cliente.cliId }}</a></td>
                <td>{{ cliente.cliNombre }}</td>
                <td>{{ cliente.cliNombreFiscal }}</td>
                <td>{{ cliente.cliNit }}</td>
                <td>{{ cliente.cliTelefono1 }}</td>
                <td>{{ cliente.cliTelefono2 }}</td>
                <td>{{ cliente.cliDireccion }}</td>
                <td>{% if cliente.cliFechaRegistro %}{{ cliente.cliFechaRegistro|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cliente.cliIdVendedor }}</td>
                <td>{% if cliente.cliFechaCrea %}{{ cliente.cliFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cliente.cliFechaMod %}{{ cliente.cliFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cliente.cliActivo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'id': cliente.cliId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cliente_edit', { 'id': cliente.cliId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_new') }}">Create a new cliente</a>
        </li>
    </ul>
{% endblock %}
