<p>
    Gracias por registrarte con Global Medic<br>, una marca de Medicos del El salvador, Inc. Nos alegramos de que hayas dado el primer paso para 
    explorar el sistema globalizado para médicos.
</p>
<br>
<p>Se te ha registrado un usuario para el establecimiento: {{ location }}</p>
<p>
    <strong>Usuario:</strong> {{username}}<br>
    <strong>Password:</strong> {{ password }}<br>
</p>
<p>
    <strong>Link de acceso:</strong> <a href="{{link}}">{{link}}</a>
</p>
