{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente</h1>

    <table>
        <tbody>
            <tr>
                <th>Cliid</th>
                <td>{{ cliente.cliId }}</td>
            </tr>
            <tr>
                <th>Clinombre</th>
                <td>{{ cliente.cliNombre }}</td>
            </tr>
            <tr>
                <th>Clinombrefiscal</th>
                <td>{{ cliente.cliNombreFiscal }}</td>
            </tr>
            <tr>
                <th>Clinit</th>
                <td>{{ cliente.cliNit }}</td>
            </tr>
            <tr>
                <th>Clitelefono1</th>
                <td>{{ cliente.cliTelefono1 }}</td>
            </tr>
            <tr>
                <th>Clitelefono2</th>
                <td>{{ cliente.cliTelefono2 }}</td>
            </tr>
            <tr>
                <th>Clidireccion</th>
                <td>{{ cliente.cliDireccion }}</td>
            </tr>
            <tr>
                <th>Clifecharegistro</th>
                <td>{% if cliente.cliFechaRegistro %}{{ cliente.cliFechaRegistro|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cliidvendedor</th>
                <td>{{ cliente.cliIdVendedor }}</td>
            </tr>
            <tr>
                <th>Clifechacrea</th>
                <td>{% if cliente.cliFechaCrea %}{{ cliente.cliFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Clifechamod</th>
                <td>{% if cliente.cliFechaMod %}{{ cliente.cliFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cliactivo</th>
                <td>{% if cliente.cliActivo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'id': cliente.cliId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
