{% extends "Layout/base_admin/_admin_base.html.twig" %}

{% block title_page %}
        EMR || Formulario para crear nuevo modulo
{% endblock %}

{% block breadcrumb %}
    {{ include('AdminBundle:modulos:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AdminBundle:modulos:_submenu.html.twig' )  }}
{% endblock %}

{% block body %}
    <h1>Nuevo modulo</h1>
    <div class="row">
        <div class="col-lg-6">
            <!-- Check the notifications -->
            {% for message in app.session.flashbag().get("success") %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
            {% endfor %}
            {% for message in app.session.flashbag().get("error") %}
                <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
            {% endfor %}
            <!-- End notifications -->
            
            {{ form_start(form) }}
                {{ form_row( form.modModulo ) }}
                {{ form_row( form.modEsp ) }}
                {{ form_row( form.modOrden ) }}
                {{ form_row( form.modCosto ) }}
                {{ form_row( form.modActivo ) }}
                <h4>Secciones:</h4>
                <ul class="secciones" data-prototype="{{ form_row(form.secciones.vars.prototype.modSeccSeccion)|e('html_attr') }} {{ form_row(form.secciones.vars.prototype.modSeccOrden)|e('html_attr') }} {{ form_row(form.secciones.vars.prototype.modSeccActivo)|e('html_attr') }}">
                </ul>
                <br>
                <button type="submit" class="btn btn-success"><i class="icon-newspaper"></i> Crear</button>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
            <hr>
        </div>
    </div>
    <ul class="list-inline">
        <li>
            <a href="{{ path('modulos_index') }}" class="btn btn-info"><i class="fa fa-list"></i> Listar</a>
        </li>
    </ul>
{% endblock %}

{% use 'AdminBundle:modulos:new_modulos.js.twig' %}