{% extends 'base.html.twig' %}

{% block body %}
    <h1>SysRoles</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sysRole.id }}</td>
            </tr>
            <tr>
                <th>Nombrerolsysroles</th>
                <td>{{ sysRole.nombreRolSysRoles }}</td>
            </tr>
            <tr>
                <th>Esactivosysroles</th>
                <td>{% if sysRole.esActivoSysRoles %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacreacionsysroles</th>
                <td>{{ sysRole.fechaCreacionSysRoles }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sysroles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sysroles_edit', { 'id': sysRole.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
