{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<i class="icon-arrow-left52 position-left"></i>
					<span class="text-semibold">Home</span> - Dashboard
					<small class="display-block">Buen día, {{ userInfo.usuNombre ~ userInfo.usuSegundoNombre ~ userInfo.usuTercerNombre ~ userInfo.usuPrimerApellido ~ userInfo.usuSegundoApellido }}!</small>
				</h4>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-containerx">

		<!-- Page content -->
		<div class="page-contentx">

			<!-- Main content -->
			<div class="content-wrapperx">

                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">

                                {% if  profilephoto != "" %}
                                    <div style="text-align:center;"><img src="{{ image('uploads/perfil/'~profilephoto).cropResize(200,200) }}" class="img-thumbnailx" style="max-width:100% "></div>
                                {% else %}

                                    {% if userInfo.usuGenero|lower  == "m" %}

                                        {% if roles.3 is defined %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/asistente-hombre.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% else %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/doctor.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% endif %} 

                                    {% else %}
                                        {% if roles.3 is defined %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/asistente-mujer.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% else %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/doctora.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% endif %} 

                                    {% endif %}

                                {% endif %}
                                <hr>
                                <div id="datepickerSimple"></div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-6">
                                <!-- Quick stats boxes -->
                                <div class="row">
                                    
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        
                                        <!-- Members online -->
                                        <div class="panel bg-teal-400">
                                            <div class="panel-body">
                                                {#
                                                <div class="heading-elements">
                                                    <span class="heading-text badge bg-teal-800">+53,6%</span>
                                                </div>
                                                #}
                                                <h5 class="no-margin"><i class="fa fa-money"></i> Ingresos</h5>
                                               
                                                <div class="text-muted text-size-small">489 avg</div>
                                            </div>

                                            <div class="container-fluid">
                                                <div id="members-online"></div>
                                            </div>
                                        </div>
                                        <!-- /members online -->
                                        

                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <a href="{{ path('paciente_new') }}">
                                            <!-- Current server load -->
                                            <div class="panel bg-pink-400">
                                                <div class="panel-body">
                                                    {#
                                                    <div class="heading-elements">
                                                        <ul class="icons-list">
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="#"><i class="icon-sync"></i> Nuevo</a></li>
                                                                    <li><a href="#"><i class="icon-list-unordered"></i> Listar</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    #}
                                                    <h5 class="no-margin"><i class="fa fa-plus-square"></i> Nuevo Paciente</h5>

                                                    <div class="text-muted text-size-small">34.6% avg</div>
                                                </div>

                                                <div id="server-load"></div>
                                            </div>
                                            <!-- /current server load -->
                                        </a>

                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        
                                        <a href="{{ path('agenda_new') }}?d={{ userInfo.usuId}}">
                                            <!-- Today's revenue -->
                                            <div class="panel bg-blue-400">
                                                <div class="panel-body">
                                                    {#
                                                    <div class="heading-elements">
                                                        <ul class="icons-list">
                                                            <li><a data-action="reload"></a></li>
                                                        </ul>
                                                    </div>
                                                    #}
                                                    <h5 class="no-margin"><i class="fa fa-calendar"></i> Nueva Cita</h5>

                                                    <div class="text-muted text-size-small">$37,578 avg</div>
                                                </div>

                                                <div id="today-revenue"></div>
                                            </div>
                                            <!-- /today's revenue -->
                                        </a>

                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <a href="{{ path('perfil_show') }}">
                                            <!-- Today's revenue -->
                                            <div class="panel bg-grey-400">
                                                <div class="panel-body">
                                                    {#
                                                    <div class="heading-elements">
                                                        <ul class="icons-list">
                                                            <li><a data-action="reload"></a></li>
                                                        </ul>
                                                    </div>
                                                    #}
                                                    <h5 class="no-margin"><i class="icon-user-plus"></i> Mi perfil</h5>

                                                    <div class="text-muted text-size-small">$37,578 avg</div>
                                                </div>

                                                <div id="today-revenue"></div>
                                            </div>
                                            <!-- /today's revenue -->
                                        </a>

                                    </div>
                                </div>
                                <!-- /quick stats boxes -->
                                
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="table-responsive">
                                            <table class="table text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Mi agenda de Hoy</th>
                                                        <th>Hora</th>
                                                        <th>Estatus</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="media-left media-middle">
                                                                <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                                    <span class="letter-icon"></span>
                                                                </a>
                                                            </div>

                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <a href="#" class="letter-icon-title">Sigma application</a>
                                                                </div>

                                                                <div class="text-muted text-size-small"><i class="icon-checkmark3 text-size-mini position-left"></i> New order</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted text-size-small">06:28 pm</span>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-semibold no-margin">$49.90</h6>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="media-left media-middle">
                                                                <a href="#" class="btn bg-danger-400 btn-rounded btn-icon btn-xs">
                                                                    <span class="letter-icon"></span>
                                                                </a>
                                                            </div>

                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <a href="#" class="letter-icon-title">Alpha application</a>
                                                                </div>

                                                                <div class="text-muted text-size-small"><i class="icon-spinner11 text-size-mini position-left"></i> Renewal</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted text-size-small">04:52 pm</span>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-semibold no-margin">$90.50</h6>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="media-left media-middle">
                                                                <a href="#" class="btn bg-indigo-400 btn-rounded btn-icon btn-xs">
                                                                    <span class="letter-icon"></span>
                                                                </a>
                                                            </div>

                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <a href="#" class="letter-icon-title">Delta application</a>
                                                                </div>

                                                                <div class="text-muted text-size-small"><i class="icon-lifebuoy text-size-mini position-left"></i> Support</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted text-size-small">01:26 pm</span>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-semibold no-margin">$60.00</h6>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="media-left media-middle">
                                                                <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs">
                                                                    <span class="letter-icon"></span>
                                                                </a>
                                                            </div>

                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <a href="#" class="letter-icon-title">Omega application</a>
                                                                </div>

                                                                <div class="text-muted text-size-small"><i class="icon-lifebuoy text-size-mini position-left"></i> Support</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted text-size-small">11:46 am</span>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-semibold no-margin">$55.00</h6>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="media-left media-middle">
                                                                <a href="#" class="btn bg-danger-400 btn-rounded btn-icon btn-xs">
                                                                    <span class="letter-icon"></span>
                                                                </a>
                                                            </div>

                                                            <div class="media-body">
                                                                <div class="media-heading">
                                                                    <a href="#" class="letter-icon-title">Alpha application</a>
                                                                </div>

                                                                <div class="text-muted text-size-small"><i class="icon-spinner11 text-size-mini position-left"></i> Renewal</div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted text-size-small">10:29 am</span>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-semibold no-margin">$90.50</h6>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right"><a href="" class="btn bg-teal-400">Ver agenda completa</a></div>
                                    </div>
                                    <div class="col-lg-6"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    
				

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
{% endblock %}

{% block codejs %}
    <script>
        $(function(){
            if( $("#datepickerSimple").size() == 1 )
            {
                
                //$(".ui-datepicker-year").select2();
                $.datepicker.regional['es'] = {
                   closeText: 'Cerrar',
                   prevText: '< Ant',
                   nextText: 'Sig >',
                   currentText: 'Hoy',
                   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                   monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                   dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                   dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                   dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                   weekHeader: 'Sm',
                   dateFormat: 'yy-mm-dd',
                   firstDay: 1,
                   isRTL: false,
                   showMonthAfterYear: false,
                   yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['es']);               
                $( "#datepickerSimple" ).datepicker({
                    onSelect: function (dateText, inst) {
                        /*
                        if( d == "")
                        {
                            var doctorMsg = "";
                                      
                            $.alert({
                                icon: 'glyphicon glyphicon-exclamation-sign',
                                title: 'Info!',
                                content: "<p class='small'>Debes seleccionar la agenda de un doctor para agendar los eventos</p> <hr>"+doctorMsg,
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                        */
                     }
                });
            }
        });
    </script>
{% endblock %} 