{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Bienvenido
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>
					<a href="{{ app.request.headers.get('referer') }}">
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Regresar</span></a> - Dashboard
					<small class="display-block">Buen día, {{ userInfo.usuNombre ~" "~ userInfo.usuSegundoNombre ~" "~ userInfo.usuTercerNombre ~" "~ userInfo.usuPrimerApellido ~" "~ userInfo.usuSegundoApellido }}!</small>
				</h4>
			</div>

			<div class="heading-elements">
                {#
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
				</div>
                #}
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-containerx">

		<!-- Page content -->
		<div class="page-contentx">

			<!-- Main content -->
			<div class="content-wrapperx">

                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">

                                {% if  profilephoto != "" %}
                                    <div style="text-align:center;"><img src="{{ image('uploads/perfil/'~profilephoto).cropResize(200,200) }}" class="img-thumbnailx" style="max-width:100% "></div>
                                {% else %}

                                    {% if userInfo.usuGenero|lower  == "m" %}

                                        {% if roles.3 is defined %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/asistente-hombre.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% else %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/doctor.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% endif %} 

                                    {% else %}
                                        {% if roles.3 is defined %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/asistente-mujer.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% else %}
                                             <div  style="text-align:center"><img src="{{ asset('bundles/admin/img/doctora.png') }}" class="img-thumbnailx" style="max-width:80% "></div>
                                        {% endif %} 

                                    {% endif %}

                                {% endif %}
                                <hr>
                                <ul class="list-group">
                                    <li class="list-group-item active">
                                      <span class="badge bg-warning-400 unread">{{ unReadMessage }}</span>
                                      <i class="icon-bubbles4"></i> Mensajes sin Leer
                                    </li>
                                    {% if roles.6 is defined %}
                                    <li class="list-group-item">
                                      <span class="badge bg-success-400 unread" id="toOk">{{ (appointmentDone[0]['total']) }} </span>
                                      <i class="fa fa-medkit"></i> Consultas  procesadas 
                                    </li>    
                                    <li class="list-group-item">
                                      <span class="badge bg-warning-400 unread" id="maCanceled">{{ (appointmentsMedicalCanceled[0]['total']) }} </span>
                                      <i class="fa fa-calendar-times-o"></i> Citas médicas anuladas 
                                    </li>
                                    <li class="list-group-item">
                                      <span class="badge bg-warning-400 unread" id="oeCanceled">{{ (otherAppointmentCanceled[0]['total']) }}</span>
                                      <i class="fa fa-calendar-minus-o"></i> Otros oventos anulados
                                    </li>
                                    {% endif %}
                                  </ul>
                               
                            </div>
                            <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6">
                                <!-- Quick stats boxes -->
                                
                                <!-- /quick stats boxes -->
                                
                                
                                <div class="row">
                                    <div class="col-lg-7">
                                        {% if doctorsList|length > 0 and roles.3 is defined %}
                                                <label>Lista de doctores disponibles</label>
                                                <select id="doctorsList" class="select form-control">
                                                    <option value="">.::Seleccione un doctor::.</option>
                                                    {% for doctor in doctorsList %}
                                                        <option value="{{ doctor.cliUsuUsu.usuId }}">
                                                            {{ doctor.cliUsuTitulo }} 
                                                            {{ doctor.cliUsuUsu.usuNombre|capitalize~" "~doctor.cliUsuUsu.usuSegundoNombre|capitalize~" "~doctor.cliUsuUsu.usuTercerNombre|capitalize~" "~doctor.cliUsuUsu.usuPrimerApellido|capitalize~" "~doctor.cliUsuUsu.usuSegundoApellido|capitalize }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <hr>
                                            {% endif %}
                                        <div class="table-responsive" id="result_appointment">
                                                
                                            {% if appointments|length > 0 %}
                                                <table class="table text-nowrap" id="table_result_appointment">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                {% if roles.3 is defined %}
                                                                    Agenda (Doctor)
                                                                {% else %}
                                                                    Tipo de agenda
                                                                {% endif %}
                                                                (<span id="labelDateUpdate">{{ "now"|date("Y-m-d") }}</span>)
                                                            </th>
                                                            <th>Hora Inicio</th>
                                                            <th>Hora Fin</th>
                                                            <th>Estatus</th>
                                                            <th>Actualizar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for appointment in appointments %}
                                                            <tr id="tr_{{ appointment.id }}">
                                                                <td>
                                                                    {#
                                                                    <div class="media-left media-middle">
                                                                        {% if( appointment.pac_id != "" ) %}
                                                                        <a href="{{ path('consulta_new',{'id':appointment.pac_id,'cm':appointment.id}) }}" class="btn bg-primary-400  btn-xs" data-toggle="tooltip" data-placement="top" title="Ir a la Consulta">
                                                                            <span class="letter-iconx">Procesar</span>
                                                                        </a>
                                                                        {% endif %}
                                                                        
                                                                    </div>
                                                                    #}
                                                                    <div class="media-body">
                                                                        <div class="media-heading">
                                                                            {#
                                                                            {% if roles.3 is defined %}
                                                                                <span  class="letter-icon-title">{{ appointment.pac_nombre|capitalize ~" "~ appointment.pac_seg_nombre|capitalize ~" "~ appointment.pac_apellido|capitalize ~" "~ appointment.pac_seg_apellido|capitalize }}</span>
                                                                            {% else %}
                                                                            #}    
                                                                                {% if appointment.pac_id is defined and appointment.pac_id > 0 %}
                                                                                    <a href="{{ path('consulta_new',{'id':appointment.pac_id,'cm':appointment.id}) }}" class="letter-icon-title" data-toggle="tooltip" data-placement="top" title="">{{ appointment.pac_nombre|capitalize ~" "~ appointment.pac_seg_nombre|capitalize ~" "~ appointment.pac_apellido|capitalize ~" "~ appointment.pac_seg_apellido|capitalize }}</a>
                                                                                {% else %}
                                                                                    <span  class="letter-icon-title">{{ appointment.pac_nombre|capitalize ~" "~ appointment.pac_seg_nombre|capitalize ~" "~ appointment.pac_apellido|capitalize ~" "~ appointment.pac_seg_apellido|capitalize }}</span>
                                                                                {% endif %}    
                                                                            {# {% endif %}  #}  
                                                                            
                                                                        </div>

                                                                        <div class="text-muted text-size-small"><i class="icon-checkmark3 text-size-mini position-left"></i> 
                                                                            {# 
                                                                            //Events type
                                                                                //1 = Cita Médica
                                                                                //2 = Evento Personal
                                                                                //3 = Ausente
                                                                                //4 = Receso
                                                                                //5 = Otros
                                                                            #}
                                                                            {% if appointment.tipo_evento  == 1 %}
                                                                                Cita Médica
                                                                            {% elseif appointment.tipo_evento == 2 %}
                                                                                Evento Personal
                                                                            {% elseif appointment.tipo_evento == 3 %}
                                                                                Ausente
                                                                            {% elseif appointment.tipo_evento == 4 %}
                                                                                Receso
                                                                            {% else %}
                                                                                Otros
                                                                            {% endif %}    
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span class="text-muted text-size-small">{{ appointment.start|date("h:i:s A") }} {#{{ appointment.start}} #}</span>
                                                                    
                                                                </td>
                                                                <td>
                                                                    <span class="text-muted text-size-small">{{ appointment.end|date("h:i:s A") }} {#{{ appointment.start}} #}</span>
                                                                    
                                                                </td>
                                                                <td>
                                                                    <span class="text-muted text-size-small">
                                                                        {# 
                                                                            p=pendiente, a=anulada, c=curso, t=terminada
                                                                        #}
                                                                        {% if appointment.tipo_evento == 1 %}
                                                                            {% if appointment.age_estado == "p" %}
                                                                                <span class="text-primary">Pendiente</span>
                                                                            {% elseif appointment.age_estado == "a" %}
                                                                                <span class="text-danger">Anulada</span>
                                                                            {% elseif appointment.age_estado == "c" %}
                                                                                <span class="text-primary">En curso</span>
                                                                            {% elseif appointment.age_estado == "t" %}
                                                                                <span class="text-success">Finalizada</span>
                                                                            {% endif %}    
                                                                        {% endif %}
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    {% if appointment.age_estado != "t" %}
                                                                        <button class="btn btn-default btnUpdateAppointment" id="cm_{{appointment.id}}"><i class="fa fa-refresh" aria-hidden="true"></i> </button>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}    
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <div class="alert alert-danger alert-styled-left alert-arrow-left alert-component">
                                                    {% if roles.3 is defined %}
                                                        Es necesario seleccionar un doctor para ver su agenda
                                                    {% else %}
                                                        No hay citas/eventos creados para la fecha <strong>{{ "now"|date("Y-m-d") }}</strong>
                                                    {% endif %}    
                                                   
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="text-left" style="padding-top:10px;"><a href="{{ path('agenda_new') }}?d={{ userInfo.usuId}}" class="btn bg-teal-400 btn-sm"><i class="fa fa-calendar"></i> Ver agenda completa</a><hr></div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div id="datepickerSimple"></div>
                                        <hr>
                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                                <!-- Members online -->
                                                <a href="{{ path('reporte_index') }}">
                                                <div class="panel bg-teal-400">
                                                    <div class="panel-body">
                                                        {#
                                                        <div class="heading-elements">
                                                            <span class="heading-text badge bg-teal-800">+53,6%</span>
                                                        </div>
                                                        #}
                                                        <h5 class="no-margin"><i class="fa fa-file-text-o" aria-hidden="true"></i> Reportes</h5>

                                                        {# <div class="text-muted text-size-small">489 avg</div> #}
                                                    </div>

                                                    <div class="container-fluid">
                                                        <div id="members-online"></div>
                                                    </div>
                                                </div>
                                                </a>
                                                <!-- /members online -->


                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <a href="{{ path('paciente_new') }}">
                                                    <!-- Current server load -->
                                                    <div class="panel bg-success-400">
                                                        <div class="panel-body">
                                                            {#
                                                            <div class="heading-elements">
                                                                <ul class="icons-list">
                                                                    <li class="dropdown">
                                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                                            <li><a href="#"><i class="icon-sync"></i> Nuevo</a></li>
                                                                            <li><a href="#"><i class="icon-list-unordered"></i> Listar</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            #}
                                                            <h5 class="no-margin"><i class="fa fa-plus-square"></i> Nuevo Paciente</h5>

                                                            {# <div class="text-muted text-size-small">34.6% avg</div> #}
                                                        </div>

                                                        <div id="server-load"></div>
                                                    </div>
                                                    <!-- /current server load -->
                                                </a>

                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                                <a href="{{ path('agenda_new') }}?d={{ userInfo.usuId}}">
                                                    <!-- Today's revenue -->
                                                    <div class="panel bg-blue-400">
                                                        <div class="panel-body">
                                                            {#
                                                            <div class="heading-elements">
                                                                <ul class="icons-list">
                                                                    <li><a data-action="reload"></a></li>
                                                                </ul>
                                                            </div>
                                                            #}
                                                            <h5 class="no-margin"><i class="fa fa-calendar"></i> Nueva Cita</h5>

                                                            {# <div class="text-muted text-size-small">$37,578 avg</div> #}
                                                        </div>

                                                        <div id="today-revenue"></div>
                                                    </div>
                                                    <!-- /today's revenue -->
                                                </a>

                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <a href="{{ path('perfil_show') }}">
                                                    <!-- Today's revenue -->
                                                    <div class="panel bg-grey-400">
                                                        <div class="panel-body">
                                                            {#
                                                            <div class="heading-elements">
                                                                <ul class="icons-list">
                                                                    <li><a data-action="reload"></a></li>
                                                                </ul>
                                                            </div>
                                                            #}
                                                            <h5 class="no-margin"><i class="icon-user-plus"></i> Mi perfil</h5>

                                                            {# <div class="text-muted text-size-small">$37,578 avg</div> #}
                                                        </div>

                                                        <div id="today-revenue"></div>
                                                    </div>
                                                    <!-- /today's revenue -->
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    
				

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->
        {{ include('EmrBundle:Dashboard:_modals.html.twig' )  }} 
        
        <input type="hidden" value="{{infoSlotDoctors}}" id="slotDoctors">
	</div>
	<!-- /page container -->
{% endblock %}

{% block codejs %}
    <script>
        $(function(){
            
            $('[data-toggle="tooltip"]').tooltip();
            $('.select').select2();
            var GlobalMinutesStart = "";
            var GlobalMinutesEnd = "";
            if( $("#datepickerSimple").size() == 1 )
            {
                
                //$(".ui-datepicker-year").select2();
                $.datepicker.regional['es'] = {
                   closeText: 'Cerrar',
                   prevText: '< Ant',
                   nextText: 'Sig >',
                   currentText: 'Hoy',
                   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                   monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                   dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                   dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                   dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                   weekHeader: 'Sm',
                   dateFormat: 'yy-mm-dd',
                   firstDay: 1,
                   isRTL: false,
                   showMonthAfterYear: false,
                   yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['es']);               
                $( "#datepickerSimple" ).datepicker({
                    onSelect: function (dateText, inst) {
                        
                        {% if roles.3 is defined %}
                          var userId =  $("#doctorsList").val();
                          //alert(userId);
                          if(userId == "")
                          {
                                $.alert({
                                    icon: 'fa fa-remove',
                                    title: 'Error!',
                                    content: 'Debe de seleccionar un doctor para ver agenda',
                                    type: 'red',
                                });
                                return false;
                          }
                        {% endif %}
                        
                        var date = dateText;
                        getAppointments(date,"result_appointment");
                     }
                });
                
                $("#datepickerSimpleUpdate").datepicker({
                    onSelect: function (dateText, inst) {                        
                        var date = dateText;
                        $("#dateSelected").val(date);
                        getAppointments(date,"result_update_appointment");
                     }
                });
            }
            
            if( $("body").find("#table_result_appointment").size() == 1 )
            {
                $("body").find("#table_result_appointment").DataTable({
                                "searching": true,
                                "bFilter": false,
                                "bInfo": false,
                                "bLengthChange": false,
                                "pageLength": 10,
                                //"autoWidth": true,
                                "language":{
                                    oPaginate: {
                                        sFirst: "Primero",
                                        sLast: "último",
                                        sNext: "Siguiente",
                                        sPrevious: "Anterior"
                                       
                                    },
                                    sSearch: "Buscar: "
                                },
                                "order": [[ 1, "asc" ]]
                            });
            }
            
            $('#tabReCalendar').click(function (e) {
                $("#btn-re-appointment").show();
                $("#btn-cancel-appointment").hide();
            });
            
            $("#tabCancel").click(function (e) {
                //e.preventDefault()
                //$(this).tab('show')
                $("#btn-cancel-appointment").show();
                $("#btn-re-appointment").hide();
            });
            
            var htmlTr = "";
            var patient_id = "";
            $("body").on("click",".btnUpdateAppointment",function(){

                $('#tabs li:eq(0) a').tab('show');         
                //$("#tabs").tabs("option", "active", 2);            
                            
                var date = $("#labelDateUpdate").text();
                $('#datepickerSimpleUpdate').datepicker( "setDate", date );
                
                var start = $.trim($(this).closest("tr").find("td").eq(1).text());
                var start = moment(start, ["h:mm A"]).format("HH:mm");
                var type = start.split(" ");
                var start = start.split(":");
                var hourStart = start[0];
                var minutesStart = start[1];
                
                var end = $.trim($(this).closest("tr").find("td").eq(2).text());
                var end = moment(end, ["h:mm A"]).format("HH:mm");
                var end = end.split(":");
                var hourEnd = end[0];
                var minutesEnd = end[1];
                
                //htmlTr = $(this).closest("tr").html();
                var id = $(this).attr("id").replace(/[^0-9]/gi, '');
                //alert(hourStart+" - "+minutesStart+" | "+hourEnd+" - "+minutesEnd);
                $("#appointmentId").val(id);
                
                //console.log(htmlTr);
                
                $("#hoursStart").val(hourStart);
                $("body").find("#minutesStart").val(minutesStart);
                GlobalMinutesStart = minutesStart;
                
                $("#hoursEnd").val(hourEnd);
                $("body").find("#minutesEnd").val(minutesEnd);
                GlobalMinutesEnd = minutesEnd;
                
                //if( renderToUpdate != "result_update_appointment" )
                //console.log(minutesStart+" "+minutesEnd);
                
                $("#dateSelected").val(date);
                getAppointments(date,"result_update_appointment");
                $("#updateApponintment").modal({backdrop: 'static', keyboard: false});
            });
            
            
            $("#doctorsList").change(function(){
                var id = $(this).val();
                if(id != "" && id > 0 )
                {
                   var date = "{{ "now"|date("Y-m-d") }}";
                   getAppointments(date);
                }
            });
            
            function capitalize(string){
                //return string.charAt(0).toUpperCase() + string.slice(1);
                if( string != "")
                {    
                    return string.toLowerCase().replace( /\b./g, function(a){ return a.toUpperCase(); } );
                }
                else
                {
                    return "";
                }
            }
            
            function getAppointments(date, renderToUpdate)
            {
                $("#holder_loading").show();
                
                {% if roles.3 is defined %}
                    var userId =  $("#doctorsList").val();   
                {% else %}
                    var userId = {{ userInfo.usuId }}
                {% endif %}    
                
                $.ajax({
                    type: "post",
                    url: "{{ path('emr_dashboard_appointment') }}",
                    data: { date: date, userId: userId  },
                    error: function (data) {
                        $("#holder_loading").hide();
                        $.confirm({
                            icon: 'fa fa-remove',
                            title: 'Error!',
                            content: 'Ha ocurrido un error al tratar de enviar la petición',
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Intentar de nuevo',
                                    btnClass: 'btn-red',
                                    action: function () {
                                        getAppointments(date, renderToUpdate);
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                    },
                    success: function (data) {
                        
                        if( data.length > 0)
                        {
                            if( renderToUpdate != "result_update_appointment" )
                            {
                                var th = "<th>Actualizar</th>";
                                var tableID = "table_result_appointment";
                                var labelUpdate = "labelDateUpdate";
                            }
                            else
                            {
                                var tableID = "table_result_appointment_update";
                                var th = "";
                                var labelUpdate = "labelDate";
                            }
                            var table = "<div class='table-responsive'><table class='table text-nowrap' id='"+tableID+"'><thead><tr><th>Tipo de agenda (<span id='"+labelUpdate+"'></span>)</th><th>Hora Inicio</th><th>Hora Fin </th><th>Estatus</th>"+th+"</tr></thead><tbody>";
                            for(i=0; i < data.length; i++)
                            {    
                                //var routeEdit = "{{ path('paciente_edit', { 'id': "PLACEHOLDER" }) }}";
                                //routeEdit = routeEdit.replace("PLACEHOLDER", data[i]['pac_id']);
                                            
                                var routeShow = "{{ path('consulta_new',{'id':'HOLDERPACID','cm':'HOLDERAPPOINTMENTID'}) }}";
                                routeShow = routeShow.replace("HOLDERPACID", data[i]['pac_id']);
                                routeShow = routeShow.replace("HOLDERAPPOINTMENTID", data[i]['id']);
                                
                                 var btn_group = "";
                                {#            
                                var btn_group += "<div class='media-left media-middle'>";
                                if( data[i]['pac_id'] != "" )
                                {
                                    
                                    btn_group += "<a href='"+routeShow+"' class='btn bg-primary-400  btn-xs' data-toggle='tooltip' data-placement='top' title='Ir a la Consulta'>";
                                    btn_group += "<span class='letter-iconx'>Procesar</span>";
                                    btn_group += "</a>";
                                    
                                }
                                btn_group += "</div>";
                                #}
                                btn_group += "<div class='media-body'>";
                                btn_group += "<div class='media-heading'>";
                                
                                var n = "";
                                if( data[i]['pac_nombre'] != null)
                                {
                                    n += data[i]['pac_nombre']+" ";
                                }
                                if( data[i]['pac_seg_nombre'] != null)
                                {
                                    n += data[i]['pac_seg_nombre']+" ";
                                }
                                if( data[i]['pac_apellido'] != null)
                                {
                                    n += data[i]['pac_apellido']+" ";
                                }
                                if( data[i]['pac_seg_apellido'] != null)
                                {
                                    n += data[i]['pac_seg_apellido']+" ";
                                }
                                
                                var name = $.trim(n); //data[i]['pac_nombre']+" "+data[i]['pac_seg_nombre']+" "+data[i]['pac_apellido']+" "+data[i]['pac_seg_apellido'];
                                var fullname = capitalize(name);
                                //alert(fullname);
                                {#
                                {% if roles.3 is defined %}
                                    btn_group += "<span class='letter-icon-title'>";
                                    btn_group += fullname;
                                    btn_group += "</span>";
                                {% else %}
                                #}    
                                    if( renderToUpdate != "result_update_appointment" )
                                    {
                                        btn_group += "<a href='"+routeShow+"' class='letter-icon-title' data-toggle='tooltip' data-placement='top' title=''>";
                                        btn_group += fullname;
                                        btn_group += "</a>";
                                    }    
                                    else{
                                        btn_group += "<span class='letter-icon-title'>";
                                        btn_group += fullname;
                                        btn_group += "</span>";
                                    }
                                    {# {% endif %}   #} 
                                {#
                                btn_group += "<a href='"+routeShow+"' class='letter-icon-title' data-toggle='tooltip' data-placement='top' title='Procesar Consulta'>";
                                btn_group += data[i]['pac_nombre']+" "+data[i]['pac_seg_nombre']+" "+data[i]['pac_apellido']+" "+data[i]['pac_seg_apellido'];
                                btn_group += "</a>";
                                #}

                                btn_group += "<div class='text-muted text-size-small'><i class='icon-checkmark3 text-size-mini position-left'></i>"; 
                                                                            {# 
                                                                            //Events type
                                                                                //1 = Cita Médica
                                                                                //2 = Evento Personal
                                                                                //3 = Ausente
                                                                                //4 = Receso
                                                                                //5 = Otros
                                                                            #}
                                var eventType = "";                                                                        
                                switch(data[i]['tipo_evento'])
                                {
                                    case "1":
                                        eventType = "Cita Médica";
                                        break;
                                    case "2":
                                        eventType = "Evento Personal";
                                        break;
                                    case "3":
                                        eventType = "Ausente";
                                        break;
                                    case "4":
                                        eventType = "Receso";
                                        break;
                                    default:
                                        eventType = "Otros";
                                }
                                btn_group += eventType;
                                btn_group += "</div>";
                                btn_group += "</div>";
                                
                                            
                                table += "<tr id='tr_"+data[i]['id']+"'>";
                                table += "<td>"+btn_group+"</td>";
                                var stringDate = data[i]['start'];
                                var stringDate = stringDate.split(" ");
                                var hourType = moment(stringDate[1], ["HH:mm:ss"]).format("hh:mm:ss A");
                                //alert(f);
                                table += "<td><span class='text-muted text-size-small'>"+hourType+"</span></td>";
                                
                                
                                var stringDate = data[i]['end'];
                                var stringDate = stringDate.split(" ");
                                var hourType = moment(stringDate[1], ["HH:mm:ss"]).format("hh:mm:ss A");
                                table += "<td><span class='text-muted text-size-small'>"+hourType+"</span></td>";
                                
                                var status = "";
                                status += "<span class='text-muted text-size-small'>";
                                if( data[i]['tipo_evento'] == 1 )
                                {     
                                    switch(data[i]['age_estado'])
                                    {
                                        case "p":
                                            status += "<span class='text-primary'>Pendiente</span>";
                                            break;
                                        case "a":
                                            status += "<span class='text-danger'>Anulada</span>";
                                            break;
                                        case "c":
                                            status += "<span class='text-primary'>En curso</span>";
                                            break;
                                        case "t":
                                            status += "<span class='text-success'>Finalizada</span>";
                                            break;   
                                    }
                                }
                                {# 
                                     p=pendiente, a=anulada, c=curso, t=terminada
                                #}
 
                                status += "</span>";
                                
                               table += "<td>"+status+"</td>";
                                 //btn = " "
                                if( renderToUpdate != "result_update_appointment" )
                                {
                                    
                                    table += "<td>";
                                    if( data[i]['age_estado'] != "t")
                                    {    
                                        table += "<button class='btn btn-default btnUpdateAppointment' id='cm_"+data[i]['id']+"'><i class='fa fa-refresh' aria-hidden='true'></i> </button>";
                                    }
                                    table += "</td>";
                                }
                                
                                table += "</tr>";
                            }
                            table += "</body></table></div>";
                            
                            
                            setSloptSelectList(userId);
                        }
                        else
                        {
                            {% if roles.3 is defined %}
                               var doc =   " <strong>"+$("#doctorsList option:selected").html()+"</strong> no tiene registros para la fecha <strong>"+date+"</strong>";
                            {% else %}
                               var doc = " No se han encontrado regístros para la fecha <strong>"+date+"</strong>";
                            {% endif %}    
                            table = "<div class='alert alert-danger alert-styled-left alert-arrow-left alert-component'>"+doc+"  </div>";
                        }
                        
                        if( renderToUpdate == "result_update_appointment" )
                        {
                            $("#result_update_appointment").html(table);
                            //$("#labelDateUpdate").html("("+date+")");
                        }
                        else
                        {
                           $("#result_appointment").html(table);
                           //$("#labelDateUpdate").html("("+date+")");
                        }
                        
                        $("#"+labelUpdate).html(date);
                        
                        if( $("body").find("#"+tableID).size() == 1 )
                        {
                            $("body").find("#"+tableID).DataTable({
                                "searching": true,
                                "bFilter": false,
                                "bInfo": false,
                                "bLengthChange": false,
                                "pageLength": 10,
                                //"autoWidth": true,
                                "language":{
                                    oPaginate: {
                                        sFirst: "Primero",
                                        sLast: "último",
                                        sNext: "Siguiente",
                                        sPrevious: "Anterior"
                                    },
                                    sSearch: "Buscar: "
                                },
                                "order": [[ 1, "asc" ]]
                            });
                            
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                        
                        
                        if( renderToUpdate != "result_update_appointment" )
                        {
                            $("#holder_loading").hide();
                        }
                        else
                        {
                            //console.log("x");
                            getNotes(appointmentId);
                        }
                                    
                    }
                });
            }
            
            function setSloptSelectList(userId)
            {
                var str = $("#slotDoctors").val();
                var res = str.split("|");
                for(i=0; i < res.length; i++)
                {
                    var reg = res[i];
                    var slot = reg.split("-");
                    if( slot[0] == userId )
                    {
                        var options = "";
                        switch(slot[1])
                        {
                            case "00:20:00":
                                options += '<option value="00">00</option>';
                                options += '<option value="20">20</option>';
                                options += '<option value="40">40</option>';
                                break;
                            case "00:15:00":
                                options += '<option value="00">00</option>';
                                options += '<option value="15">15</option>';
                                options += '<option value="30">30</option>';
                                options += '<option value="45">45</option>';
                                break;
                            default:
                                options += '<option value="00">00</option>';
                                options += '<option value="30">30</option>';
                                break;
                        }
                        if( options != "" )
                        {
                           $("#minutesStart").html(options); 
                           $("#minutesEnd").html(options); 
                           
                           $("body").find("#minutesStart").val(GlobalMinutesStart);
                           $("body").find("#minutesEnd").val(GlobalMinutesEnd);
                           //GlobalMinutesStart
                           //GlobalMinutesEnd
                        }
                        break;
                    }
                    //console.log(slot);
                }    
                //console.log(res);
                //minutesStart
                //minutesEnd
            }
            
            function getNotes(appointmentId)
            {
                //return false;
                appointmentId = $("#appointmentId").val();
                $("#holder_loading").show();
                $.ajax({

                    url: "{{ path('agenda_detail') }}",
                    //data: "id="+appointmentId ,
                    data: { id: appointmentId},
                    type: "POST",
                    success: function(json) {
                       $("#holder_loading").hide();
                       if( json.res == 1)
                        {
                            var room = (json.room != null)?json.room:"";
                            //var dui = (json.dui != null)?json.dui:"";
                            //var email = (json.email != null)?json.email:"";
                            var notes = (json.notes != null)?json.notes:"";
                            if( json.appointment == 1 )
                            {
                                //It's appointment                                
                                $("#div_room").show();
                            }
                            else
                            {
                                $("#div_room").hide();
                                // It's not appointment
                            }
                            $("#is_appointment").val(json.appointment);
                            $("#room").val(room);
                            $("#title").val(notes);
                            //$("#detailAppointment").html("<hr>"+moreDetail);
                        }
                        else
                        {
                            $.alert({
                                 icon: 'fa fa-times',
                                 title: 'Info!',
                                 content: 'Ha ocurrido un error inesperado al intentar mostrar el comentario',
                                 type: 'red',
                                 typeAnimated: true,
                             });
                        }

                    },
                    error: function(json){
                       // alert(json.id);
                       $("#holder_loading").hide(); 
                       $.alert({
                            icon: 'fa fa-clock-o',
                            title: 'Error!',
                            content: "<p class=''>Ha ocurrido un error inesperado al intentar mostrar el comentario</p>",
                            type: 'red',
                            typeAnimated: true,
                        });
                    }
                });
            }
            
            $("#btn-re-appointment").on("click",function(){
                doAppointment();
            });
            
            function doAppointment()
            { // add event

                //$("#createEventModal").modal("hide");
                var title = $("#title").val();
                
                var hoursStart = $("#hoursStart").val();
                var minutesStart = $("#minutesStart").val();
                
                var hoursEnd = $("#hoursEnd").val();
                var minutesEnd = $("#minutesEnd").val();
                var dateSelected = $("#dateSelected").val();
                
                
                
                //2017-07-16T13:30:00
                var startTime = dateSelected+"T"+hoursStart+":"+minutesStart+":00";  //$("#startTime").val();
                var endTime = dateSelected+"T"+hoursEnd+":"+minutesEnd+":00"; //$("#endTime").val();
                //var doctorId = {{ app.user.usuId }};//$("#doctorId").val();
                var appointmentId = $("#appointmentId").val();
                var room = $("#room").val();
                //var eventType = 1;// 1 = Cita medica

                
                //================================
                //Validate the date 
                //================================
                var fecha1 = moment( dateSelected+" "+hoursStart+":"+minutesStart+":00", "YYYY-MM-DD HH:mm:ss" );
                var fecha2 = moment( dateSelected+" "+hoursEnd+":"+minutesEnd+":00", "YYYY-MM-DD HH:mm:ss" );
                //var fecha1 = moment("2016-09-30 07:30:00", "YYYY-MM-DD HH:mm:ss");
                //var fecha2 = moment("2016-10-03 07:30:00", "YYYY-MM-DD HH:mm:ss");
                var diff = fecha2.diff(fecha1, 'm'); // Diff in minutes
                //console.log(diff);
                if( diff <= 0 )
                {
                    $.alert({
                            icon: 'fa fa-clock-o',
                            title: 'Error!',
                            content: "<p class=''>La hora fin debe ser mayor a la hora de inicio</p>",
                            type: 'red',
                            typeAnimated: true,
                        });
                        return false;
                }
                //console.log(fecha1+ " | "+ fecha2);
                //console.log(diff);
                //return false;
                if( appointmentId == "" )
                {
                    $.alert({
                            icon: 'fa fa-user-circle-o',
                            title: 'Error!',
                            content: "<p class=''>No ha podido identificar al paciente</p>",
                            type: 'red',
                            typeAnimated: true,
                        });
                        return false;
                }
                
                $("#holder_loading").show();
                $.ajax({

                    url: "{{ path('agenda_valida') }}",
                    //data: "action=update&title="+title+"&start="+startTime+"&end="+endTime+"&doctor="+doctorId+"&patient="+setUserAppointmentId+"&room="+room+"&eventType="+eventType,
                    data: "action=update&title="+title+"&start="+startTime+"&end="+endTime+"&id="+appointmentId ,
                    type: "POST",
                    success: function(json) {
                        //alert(json.id);
                        $("#holder_loading").hide();
                        $('#newApponintment').modal('hide');
                        var pending = $("#pendingAppointment");
                        var current = pending.text();
                        var totalPending = parseInt(current)+1;
                        pending.html(totalPending);
                        //$("#pendingAppointment").html();
                        $("#title,#room").val("");
                        $.alert({
                            icon: 'fa fa-calendar',
                            title: 'Ok!',
                            content: "<p class=''>Cita actualiza con éxito</p>",
                            type: 'green',
                            typeAnimated: true,
                        });
                        
                        var date = $("#labelDateUpdate").text();
                        var newDate = $("#dateSelected").val();
                        //console.log(date+" - "+newDate+"   ||||||||| ");
                        if( date == newDate )
                        {
                            var hs = $("#hoursStart option:selected").text()//hoursStart+":"+minutesStart+":00+";
                            var ms = $("#minutesStart").val();
                            var he = $("#hoursEnd option:selected").text();
                            var me = $("#minutesEnd").val();
                            
                            hs = hs.split(" ");
                            he = he.split(" ");
                            
                            var newHourStart = hs[0]+":"+ms+" "+hs[1];
                            var newHourEnd = he[0]+":"+me+" "+he[1];
                            
                            $("#cm_"+appointmentId).closest("tr").find("td").eq(1).html("<span class='text-muted text-size-small'>"+newHourStart+"</span>");
                            $("#cm_"+appointmentId).closest("tr").find("td").eq(2).html("<span class='text-muted text-size-small'>"+newHourEnd+"</span>");
                            //console.log("x");
                            getAppointments(date,"result_update_appointment");
                            //htmlTr
                            //$("#table_result_appointment").append("<tr>"+htmlTr+"<tr>");
                            //console.log(htmlTr);
                            
                            //var dt = moment(hs, ["h:mm A"]).format("hh:mm");
                            
                        }else{
                            id = $("#cm_"+appointmentId).closest("tr").attr("id");
                            //console.log(id);
                            //var tableApp = $('body').find("#table_result_appointment").DataTable();
                            //tableApp.row('#tr_'+id).remove().draw( false );
                            var eventID = $("#appointmentId").val();
                            var table = $('#table_result_appointment').DataTable();
                            table.row('#tr_'+eventID).remove().draw( false );
                            checkItemTrTable();
                            //$("#table_result_appointment").remove();
                            
                        }
                        //console.log("xxxxxx");
                    },
                    error: function(json){
                       // alert(json.id);
                       $("#holder_loading").hide(); 
                       $.alert({
                            icon: 'fa fa-clock-o',
                            title: 'Error!',
                            content: "<p class=''>Ha ocurrido un error inesperado al intentar actualizar la cita</p>",
                            type: 'red',
                            typeAnimated: true,
                        });
                    }
                });
            }
            
            
            $("#btn-cancel-appointment").on("click",function(){
                doDelete()
            });
            function doDelete(){  // delete event 

                $("#calendarModal").modal("hide");
                var eventID = $("#appointmentId").val();
                var reason = $("#reason_delete").val();
                $("#holder_loading").show();
                $.ajax({
                    url: "{{ path('agenda_valida') }}",
                    data: "action=delete&id="+eventID+"&reason="+reason,
                    type: "POST",
                    success: function(json) {
                        $("#holder_loading").hide();
                        if(json == 1)
                         {   
                             //$("#calendar").fullCalendar("removeEvents",eventID);
                            $("#updateApponintment").modal("hide");
                             //id = $("#cm_"+appointmentId).closest("tr").attr("id");
                            //console.log(id);
                            $("#btn-cancel-appointment").hide();
                            $("#btn-re-appointment").show();
                            var table = $('#table_result_appointment').DataTable();
                            table.row('#tr_'+eventID).remove().draw( false );
                            checkItemTrTable();
                            
                            {% if roles.6 is defined %} //6 =medico
                                var is_appointment = $("#is_appointment").val();
                                if( is_appointment == 1 )
                                {
                                    circle = "maCanceled";
                                }else{
                                    circle = "oeCanceled";
                                }

                                var total = $("#"+circle).text();
                                total = parseInt(total);
                                $("#"+circle).text(total+1);
                            {% endif %}
                            //alert("if"+eventID);
                         }    
                         else
                         {
                             //alert("else");
                             return false;
                         }
                    },
                     error: function(json){
                         $.alert({
                             icon: 'fa fa-times',
                             title: 'Error!',
                             content: "<p class='small'>No se ha podido eliminar el evento/cita</p>",
                             type: 'red',
                             typeAnimated: true,
                         });  
                         $("#holder_loading").hide();  
                         return false;

                    }       
                });

            }
            //var dt = moment("04:00", ["h:mm A"]).format("hh:mm");
            //console.log(dt);
            
            function checkItemTrTable()
            {
               // $("#table_result_appointment").
                if ($('body').find("#table_result_appointment >tbody >tr").size() == 0){
                    //alert ( "No hay filas en la tabla!!" );
                    $("#result_appointment").html("<div class='alert alert-danger alert-styled-left alert-arrow-left alert-component'>No hay citas/eventos creados para la fecha <strong>"+$("#labelDateUpdate").text()+"</strong></div>");
                }else{
                    //console.log($('body #table_result_appointment >tbody >tr').size());
                }        
            }
            
            //console.log( $('body').find("#table_result_appointment >tbody >tr").size() );
        });
    </script>
{% endblock %} 