{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysInstitucionTieneModulo:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysInstitucionTieneModulo:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Editar Modulos Institucion</h1>

        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissible alert-success"><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-dismissible alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ form_start(edit_form) }}

            <div class="form_error">{{ form_errors(edit_form)}}</div>
                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.sysModulo)}}</div>
                    <div><label for="">Modulo</label></div>
                    {{ form_widget(edit_form.sysModulo) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.sysInstitucion)}}</div>
                    <div><label for="">Institucion</label></div>
                    {{ form_widget(edit_form.sysInstitucion) }}
                </div>  

                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.fechaInicioSysUtm)}}</div>
                    <div><label for="">Fecha Inicio</label></div>
                    {{ form_widget(edit_form.fechaInicioSysUtm) }}
                </div> 

                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.fechaFinSysUtm)}}</div>
                    <div><label for="">Fecha Fin</label></div>
                    {{ form_widget(edit_form.fechaFinSysUtm) }}
                </div> 

                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.totalCostoEspecialSysUtm)}}</div>
                    <div><label for="">Total Costo</label></div>
                    {{ form_widget(edit_form.totalCostoEspecialSysUtm) }}
                </div> 

                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.totalMesesSysUsuarioTieneModulo)}}</div>
                    <div><label for="">Total Meses Usuario </label></div>
                    {{ form_widget(edit_form.totalMesesSysUsuarioTieneModulo) }}
                </div>


                <div class="form-group">
                    <div class="form_error">{{ form_errors(edit_form.estatusSysUtm)}}</div>
                    <div>Estatus</div>
                    <div class="checkbox">
                        <label>
                            {{ form_widget(edit_form.estatusSysUtm) }}
                            <span class="text"></span>
                        </label>
                    </div>   
                </div>



                <input type="submit" value="Guardar" class="btn btn-info" />
            {{ form_end(edit_form) }}
        </div>
    </div>
    <hr>
    <ul class="btn-option-emr">
        <li>
            <a href="{{ path('sysinstituciontienemodulo_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
