{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysInstitucionTieneModulo:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysInstitucionTieneModulo:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista de Modulos Institucion</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>                
                <th>Institucion</th> 
                <th>Modulo</th> 
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Total Costo</th>
                <th>Total meses</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysInstitucionTieneModulo in sysInstitucionTieneModulos %}
            <tr>
                <td><a href="{{ path('sysinstituciontienemodulo_show', { 'id': sysInstitucionTieneModulo.id }) }}">{{ sysInstitucionTieneModulo.id }}</a></td>  
                <td>{{ sysInstitucionTieneModulo.sysInstitucion }}</td>              
                <td>{{ sysInstitucionTieneModulo.sysModulo }}</td>  
                <td>{% if sysInstitucionTieneModulo.fechaInicioSysUtm %}{{ sysInstitucionTieneModulo.fechaInicioSysUtm|date('Y-m-d') }}{% endif %}</td>
                <td>{% if sysInstitucionTieneModulo.fechaFinSysUtm %}{{ sysInstitucionTieneModulo.fechaFinSysUtm|date('Y-m-d') }}{% endif %}</td>
                <td>{{ sysInstitucionTieneModulo.totalCostoEspecialSysUtm }}</td>
                <td>{{ sysInstitucionTieneModulo.totalMesesSysUsuarioTieneModulo }}</td>
    

                <td>{% if sysInstitucionTieneModulo.estatusSysUtm %}<span class="label label-success">Activo</span>{% else %}<span class="label label-danger">Inactivo</span>{% endif %}</td>

                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysinstituciontienemodulo_show', { 'id': sysInstitucionTieneModulo.id }) }}"class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysinstituciontienemodulo_edit', { 'id': sysInstitucionTieneModulo.id }) }}"class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
