{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysInstitucionTieneModulo:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysInstitucionTieneModulo:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Nueva entrada</h1>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">


            <div class="panel-bodyx">
            {{ form_start(form, {'attr': {'class': ''}}) }}    



                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.sysModulo)}}</div>
                    <div><label for="">Modulo</label></div>
                    {{ form_widget(form.sysModulo) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.sysInstitucion)}}</div>
                    <div><label for="">Institucion</label></div>
                    {{ form_widget(form.sysInstitucion) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.fechaInicioSysUtm)}}</div>
                    <div><label for="">Fecha Inicio</label></div>
                    {{ form_widget(form.fechaInicioSysUtm) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.fechaFinSysUtm)}}</div>
                    <div><label for="">Fecha Fin</label></div>
                    {{ form_widget(form.fechaFinSysUtm) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.totalCostoEspecialSysUtm)}}</div>
                    <div><label for="">Costo</label></div>
                    {{ form_widget(form.totalCostoEspecialSysUtm) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.totalMesesSysUsuarioTieneModulo)}}</div>
                    <div><label for="">Meses Usuario</label></div>
                    {{ form_widget(form.totalMesesSysUsuarioTieneModulo) }}
                </div>



                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.estatusSysUtm)}}</div>
                    <div>Estatus</div>
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.estatusSysUtm) }}
                            <span class="text"></span>
                        </label>
                    </div>   
                </div>


                <input type="submit" value="Crear" class="btn btn-primary" />
            {{ form_end(form) }}


        </div>  
    </div>
{% endblock %}
