{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysarea:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysarea:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista de Areas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Nombre Corto</th>
                <th>Estatus</th>
                <th>Fechacreacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysArea in sysAreas %}
            <tr>
                <td><a href="{{ path('sysarea_show', { 'id': sysArea.id }) }}">{{ sysArea.id }}</a></td>
                <td>{{ sysArea.nombreSysArea }}</td>
                <td>{{ sysArea.descripcionSysArea }}</td>                
                <td>{{ sysArea.nombreCortoSysArea }}</td>
                <td>{% if sysArea.estatusSysArea %}<span class="label label-success">Activo</span>{% else %}<span class="label label-danger">Inactivo</span>{% endif %}</td>
                <td>{% if sysArea.fechaCreacion %}{{ sysArea.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysarea_show', { 'id': sysArea.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysarea_edit', { 'id': sysArea.id }) }}" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i>editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
