{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysarea:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysarea:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Nueva entrada</h1>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

        {# {{ dump( form_widget(form) )}} #}
            <div class="panel-bodyx">
            {{ form_start(form, {'attr': {'class': ''}}) }}    

            {{ form_start(form) }}
                {# {{ form_widget(form) }} #}

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.nombreSysArea)}}</div>
                    <div><label for="">Nombre</label></div>
                    {{ form_widget(form.nombreSysArea) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.descripcionSysArea)}}</div>
                    <div><label for="">Descripcion</label></div>
                    {{ form_widget(form.descripcionSysArea) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.nombreCortoSysArea)}}</div>
                    <div><label for="">Nombre Corto</label></div>
                    {{ form_widget(form.nombreCortoSysArea) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.estatusSysArea)}}</div>
                    <div>Estatus</div>
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.estatusSysArea) }}
                            <span class="text"></span>
                        </label>
                    </div>   
                </div>


                <input type="submit" value="Crear" class="btn btn-primary" />
            {{ form_end(form) }}

             {#
            <ul>
                <li>
                    <a href="{{ path('sysarea_index') }}">Regresar a la lista</a>
                </li> #}
            </ul>
        </div>  
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){

          });
    </script>
{% endblock %}  
