{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysarea:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysarea:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Area</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissible alert-success"><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-dismissible alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage }}</div>
    {% endfor %}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sysArea.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sysArea.nombreSysArea }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ sysArea.descripcionSysArea }}</td>
            </tr>
             <tr>
                <th>Nombre Corto</th>
                <td>{{ sysArea.nombreCortoSysArea }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{% if sysArea.estatusSysArea %}<span class="label label-success">Activo</span>{% else %}<span class="label label-danger">Inactivo</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{% if sysArea.fechaCreacion %}{{ sysArea.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    </div>
</div>

    <ul class="btn-option-emr">
        <li>
            <a href="{{ path('sysarea_index') }}"class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('sysarea_edit', { 'id': sysArea.id }) }}"class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
        </li>
        <li>
           {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('sysarea_new')}}" class="btn btn-inverse"><i class="fa fa-plus"></i> Nuevo </a>
        </li>
    </ul>
{% endblock %}
