{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysperiodosmedico:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysperiodosmedico:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista Periodos Medico</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Fecha Contrato Inico</th>
                <th>Fecha Contrato Fin</th>
                <th>Monto Periodo Medico</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysPeriodosMedico in sysPeriodosMedicos %}
            <tr>
                <td><a href="{{ path('sysperiodosmedico_show', { 'id': sysPeriodosMedico.id }) }}">{{ sysPeriodosMedico.id }}</a></td>
                <td>{{ sysPeriodosMedico.sysUsuario }}</td>
                <td>{% if sysPeriodosMedico.fechaContratoInico %}{{ sysPeriodosMedico.fechaContratoInico|date('Y-m-d') }}{% endif %}</td>
                <td>{% if sysPeriodosMedico.fechaContratoFin %}{{ sysPeriodosMedico.fechaContratoFin|date('Y-m-d') }}{% endif %}</td>
                <td>$ {{ sysPeriodosMedico.montoSysPeriodosMedico }}</td>
                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysperiodosmedico_show', { 'id': sysPeriodosMedico.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysperiodosmedico_edit', { 'id': sysPeriodosMedico.id }) }}" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
