{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysexamenesmedicos:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysexamenesmedicos:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista de Examenes Medicos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombr Examen</th>
                <th>Tipo Examen</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysExamenesMedico in sysExamenesMedicos %}
            <tr>
                <td><a href="{{ path('sysexamenesmedicos_show', { 'id': sysExamenesMedico.id }) }}">{{ sysExamenesMedico.id }}</a></td>
                <td>{{ sysExamenesMedico.nombreExamen }}</td>
                <td>{{ sysExamenesMedico.tipoExamen }}</td>
                <td>{% if sysExamenesMedico.estadoExamen %}<span class="label label-success">Yes</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>{% if sysExamenesMedico.fechaCreacion %}{{ sysExamenesMedico.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysexamenesmedicos_show', { 'id': sysExamenesMedico.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysexamenesmedicos_edit', { 'id': sysExamenesMedico.id }) }}"  class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#
    <ul>
        <li>
            <a href="{{ path('sysexamenesmedicos_new') }}">Create a new entry</a>
        </li>
    </ul>
    #}
{% endblock %}
