{% extends '_admin_base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysmodulos:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysmodulos:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista de Modulos</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>                
                <th>Codigo</th>
                <th>Estatus</th>
                <th>Creacion</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysModulo in sysModulos %}
            <tr>
                <td><a href="{{ path('sysmodulos_show', { 'id': sysModulo.id }) }}">{{ sysModulo.id }}</a></td>
                <td>{{ sysModulo.nombreSysModulo }}</td>
                <td>{{ sysModulo.descripcionSysModulo }}</td>
                <td>{{ sysModulo.precioSysModulo }}</td>                
                <td>{{ sysModulo.codigoSysModulo }}</td>
                <td>{% if sysModulo.estatusSysModulo %}<span class="label label-success">Yes</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>{% if sysModulo.fechaCreacionSysModulo %}{{ sysModulo.fechaCreacionSysModulo|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sysModulo.imagenModulo }}</td>
                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysmodulos_show', { 'id': sysModulo.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysmodulos_edit', { 'id': sysModulo.id }) }}" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#
    <ul>
        <li>
            <a href="{{ path('sysmodulos_new') }}">Create a new entry</a>
        </li>
    </ul> #}
    
{% endblock %}
