{% extends "Layout/base_admin/_admin_base.html.twig" %}

{% block title_page %}
        EMR || Formulario para crear nuevo modulo
{% endblock %}

{% block breadcrumb %}
    {{ include('AdminBundle:ClientesModulos:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AdminBundle:ClientesModulos:_submenu.html.twig' )  }}
{% endblock %}

{% block body %}
    <h1>Asignacion de modulo a cliente</h1>
    <div class="row">
        <div class="col-lg-6">
            <!-- Check the notifications -->
            {% for message in app.session.flashbag().get("success") %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
            {% endfor %}
            {% for message in app.session.flashbag().get("error") %}
                <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
            {% endfor %}
            <!-- End notifications -->
            {{ dump(form) }}
            {{ form_start(form) }}
                {{ form_row( form.cliModMod ) }}
                {{ form_row( form.cliModCli ) }}
                {{ form_row( form.cliModActivo ) }}
                <button type="submit" class="btn btn-success"><i class="icon-newspaper"></i> Crear</button>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
            <hr>
        </div>
    </div>
    <ul class="list-inline">
        <li>
            <a href="{{ path('clientes_modulos_index') }}" class="btn btn-info"><i class="fa fa-list"></i> Listar</a>
        </li>
    </ul>
{% endblock %}