{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Listado Inventario
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:invarea:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:invarea:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista Inventario</h1>

    <!-- Check the notifications -->
    <div id="holder_msg">
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
    </div>
    <!-- End notifications -->

    {% if inventarios|length > 0%}
        <table class="table table-striped datatable-reorder">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Componente</th>
                <th>Contenido</th>
                <th>Lote</th>
                <th>Mgs</th>
                <th>Cod Producto</th>
                <th>Vencimiento</th>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Notas</th>
                <th>Etiqueta</th>
                <th>P. U.</th>
                <th>Total U.</th>
                <th>P. Venta</th>
                <th>P. Medio</th>
                <th>P. Matoreo</th>
                <th>P. Especial</th>
                <th>P. Descuento</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for inventario in inventarios %}
            <tr>
                <td><a href="{{ path('inventario_show', { 'invId': inventario.invId }) }}">{{ inventario.invId }}</a></td>
                <td>{{ inventario.invNombreComercial }}</td>
                <td>{{ inventario.invNombreComponente }}</td>
                <td>{{ inventario.invContenido }}</td>
                <td>{{ inventario.invLote }}</td>
                <td>{{ inventario.invMgs }}</td>
                <td>{{ inventario.invCodigoProducto }}</td>
                <td>{% if inventario.invFechaVencimiento %}{{ inventario.invFechaVencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ inventario.invImagenProducto }}</td>
                <td>{{ inventario.invDescripcionProducto }}</td>
                <td>{{ inventario.invNotasProducto }}</td>
                <td>{{ inventario.invEtiquetaAlmacenaje }}</td>
                <td>{{ inventario.invPrecioUnitario }}</td>
                <td>{{ inventario.invTotalUnidades }}</td>
                <td>{{ inventario.invPrecioVenta }}</td>
                <td>{{ inventario.invPrecioMedioMayoreo }}</td>
                <td>{{ inventario.invPrecioVentaMayoreo }}</td>
                <td>{{ inventario.invPrecioEspecial }}</td>
                <td>{{ inventario.invPrecioDescuento }}</td>
                <td>{% if inventario.invFechaCrea %}{{ inventario.invFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if inventario.invFechaMod %}{{ inventario.invFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                
                <td>{% if inventario.invActivo %}<span class="label label-success">Si</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('inventario_show', { 'invId': inventario.invId }) }}" class='btn btn-default'><i class='fa fa-folder-open'></i>Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('inventario_edit', { 'invId': inventario.invId }) }}" class='btn bg-teal-400'><i class='fa fa-edit'></i> Editar</a>
                        </li>
                        <li>
                            <button value="{{ inventario.invId }}" class="btn btn-danger delete"><i class="fa fa-remove"></i> Eliminar</button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info" role=""><i class="fa fa-info-circle"></i> No hay regístros creados</div>
    {% endif %} 
    <ul class="list-inline">
        <li>
            <a href="{{ path('inventario_new') }}"  class="btn btn-primary"><i class="fa fa-plus-circle"></i> Crear Nuevo</a>
        </li>
    </ul>
{% endblock %}


{% block codejs %}
    <script>
        $(document).on("ready",function(){
            
            /*
             * This works if you want to use datatable plugin 
            */
            var table = $('.datatable-reorder').DataTable({});
            // Add placeholder to the datatable filter option
            $('.dataTables_filter input[type=search]').attr('placeholder','Escribar para filtrar...');
            // Enable Select2 select for the length option
            $('.dataTables_length select').select2({
                minimumResultsForSearch: Infinity,
                width: 'auto'
            });
            //End
            
            
            $('body').on("click",".delete",function () {
                var id = $(this).val();
                if( id > 0 )
                {
                    sendAjax(id);
                }
            });
            
            function sendAjax(id) {
                $("#holder_loading").show(); 
                $.ajax({
                    type: "post",
                    url: "{{ path('invarea_delete_from_list') }}",
                    data: {id:id},
                    error: function (data) {
                       $("#holder_loading").hide();
                       $.confirm({
                            icon: 'fa fa-remove',
                            title: 'Error!',
                            content: 'Ha ocurrido un error al tratar de enviar la petición',
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Intentar de nuevo',
                                    btnClass: 'btn-red',
                                    action: function(){
                                        sendAjax(id);
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                        
                    },
                    success: function (data) {
                        $("#holder_loading").hide();
                        if( data == 1)
                        {
                            $.alert({
                                icon: 'fa fa-check-circle',
                                title: 'Ok!',
                                content: 'El registro fue eliminado con éxito',
                                type: 'green',
                                typeAnimated: true,
                            });
                            
                            //$("#tr_"+id).remove();
                            table.row("#tr_"+id).remove().draw( false );
                        }
                        else
                        {
                            var infoError = (data);
                            $.alert({
                                icon: 'fa fa-remove',
                                title: 'Error!',
                                content: 'No se ha podido eliminar el regístro <br>'+infoError,
                                type: 'red',
                                typeAnimated: true,
                            });
                        }
                        
                    }
                });
            }
            
        });
    </script>
{% endblock %}    
