{% extends "Layout/base_emr/clients_estructura.html.twig" %}

{% block title %}EMR{% endblock %}
 
{% block stylesheets %}
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/admin/template_clients/assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/admin/template_clients/assets/css/icons/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/admin/template_clients/assets/css/bootstrap.css') }} " rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/admin/template_clients/assets/css/core.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/admin/template_clients/assets/css/components.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/admin/template_clients/assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    
    <link href="{{ asset('bundles/admin/add-on/jquery-confirm-v3.0.3/css/jquery-confirm.css') }}" rel="stylesheet" type="text/css">
    
    <!-- calendar  -->
    <link href="{{ asset('bundles/admin/add-on/calendar/css/fullcalendar.min.css') }}" rel="stylesheet">
    
    
    <link href="{{ asset('bundles/admin/css/custom-emr.css') }}" rel="stylesheet" type="text/css">
    
     <!-- CROPPER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/admin/add-on/cropper/css/cropper.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/add-on/cropper/css/main.css') }}">
    
   
    <link href="{{ asset('bundles/admin/add-on/Countdown-Stopwatch/timer.css') }}" rel="stylesheet">
    

    <link href="{{ asset('bundles/admin/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/pe-icon-7-stroke.css') }}" rel="stylesheet">
    
   
{% endblock %}

{% block javascripts %}

	<!-- Core JS files -->
        
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/loaders/pace.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/core/libraries/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/core/libraries/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/loaders/blockui.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/ui/nicescroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/ui/drilldown.js') }}"></script>

	<!-- /core JS files -->
    
    {#
    <script src="{{ asset('bundles/admin/add-on/Countdown-Stopwatch/jquery.timer.js') }}"></script>
    <script src="{{ asset('bundles/admin/add-on/Countdown-Stopwatch/res/demo.js') }}"></script>
    #}

    <!-- Alert -->
    <script type="text/javascript" src="{{ asset('bundles/admin/add-on/jquery-confirm-v3.0.3/js/jquery-confirm.js') }}"></script>
    
    <!-- jquery ui -->
    <script src="{{ asset('bundles/admin/add-on/Jquery-UI/jquery-ui.min.js') }}"></script> 
    
    <!-- History -->
    <!-- <script src="{{ asset('http://browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js') }}"></script> -->
    
    
	<!-- Theme JS files -->

	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/styling/uniform.min.js') }}"></script> 
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/ui/moment/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    
    
    <!-- Theme JS files -->
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/editors/wysihtml5/wysihtml5.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/editors/wysihtml5/toolbar.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/editors/wysihtml5/parsers.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.es-ES.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/notifications/jgrowl.min.js') }}"></script>
    <!--<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/pages/editor_wysihtml5.js') }}"></script>-->
    

    <!-- creadit card  -->    
    <script src="{{ asset('bundles/admin/add-on/payment_credit_card/lib/jquery.payment.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/admin/template_admin/assets/js/plugins/tables/datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/template_admin/assets/js/plugins/tables/datatables/extensions/col_reorder.min.js') }}"></script>
    
    <!-- Theme JS files -->
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/wizards/steps.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/wizards/stepy.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/selects/select2.min.js') }} "></script>
	{# <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/styling/uniform.min.js') }}"></script> #}
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/core/libraries/jasny_bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/forms/validation/validate.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/extensions/cookie.js') }}"></script>
    
    
    <!-- Theme JS files -->
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/notifications/jgrowl.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/ui/moment/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/daterangepicker.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/anytime.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/pickadate/picker.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/pickadate/picker.date.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/pickadate/picker.time.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/pickers/pickadate/legacy.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/admin/add-on/calendar/js/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/add-on/calendar/js/calendar-locale-all.js') }}"></script>
    
    
    
    {#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIqHcmVn1u_IfX1MCko94uRSP0Krj4Zqw&sensor=false"></script>#}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIqHcmVn1u_IfX1MCko94uRSP0Krj4Zqw&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/jquery.geocomplete.js') }}"></script>
    {# <script type="text/javascript" src="http://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script> #}
    
    <!-- <script type="text/javascript" src="https://fullcalendar.io/js/fullcalendar-3.4.0/fullcalendar.min.js"></script> -->
   
    
    
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/core/app.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/pages/components_popups.js') }}"></script>
    
    <!-- CROPPER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>-->
    <script src="https://fengyuanchen.github.io/js/common.js"></script>
    <script src="{{ asset('bundles/admin/add-on/cropper/js/cropper.js') }}"></script>
    <!--<script src="{{ asset('bundles/admin/add-on/cropper/js/main.js') }} "></script>-->
    

    <script src="{{ asset('bundles/admin/js/custom-site.js') }} "></script>
    
    
    
	{# <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/pages/dashboard.js') }}"></script> #}
	<!-- /theme JS files -->
    
{% endblock %}
 
{% block body_page %}
    
    
    {{ include('Layout/base_emr/_clients_menu.top.main.html.twig')  }}
    
    {{ include('Layout/base_emr/_clients_menu.second.html.twig')  }}
    
    <!-- Page container -->
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    
        <!-- Footer -->
	<div class="footer text-muted">
        {% block footer %}
            &copy; 2017. <a href="#">EMR || Sistema médico</a>
        {% endblock %}
	</div>
	<!-- /footer -->
        
    {% block codejs %}
    {% endblock %}    
{% endblock %}

