{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Listado de Areas
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:invarea:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:invarea:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>lista Areas</h1>
    <!-- Check the notifications -->
    <div id="holder_msg">
        {% for message in app.session.flashbag().get("success") %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
        {% endfor %}
        {% for message in app.session.flashbag().get("error") %}
            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
        {% endfor %}
    </div>
    <!-- End notifications -->

    {% if invAreas|length > 0%}
        <table class="table table-striped datatable-reorder">
        <thead>
            <tr>
                <th>Iarid</th>
                <th>Iararea</th>
                <th>Iarfechacrea</th>
                <th>Iarfechamod</th>
                <th>Iaractivo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invArea in invAreas %}
            <tr>
                <td><a href="{{ path('invarea_show', { 'iarId': invArea.iarId }) }}">{{ invArea.iarId }}</a></td>
                <td>{{ invArea.iarArea }}</td>
                <td>{% if invArea.iarFechaCrea %}{{ invArea.iarFechaCrea|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if invArea.iarFechaMod %}{{ invArea.iarFechaMod|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if invArea.iarActivo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('invarea_show', { 'iarId': invArea.iarId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('invarea_edit', { 'iarId': invArea.iarId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info" role=""><i class="fa fa-info-circle"></i> No hay regístros creados</div>
    {% endif %} 
    <ul class="list-inline">
        <li>
            <a href="{{ path('invarea_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nueva Area</a>
        </li>
    </ul>
{% endblock %}

{% block codejs %}
    <script>
        $(document).on("ready",function(){
           // alert();
        });
    </script>
{% endblock %}    
