{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Nuevo Paciente
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Nueva Categoria</h1>
    <div class="row">
        <div class="col-lg-6">

        <!-- Check the notifications -->
            {% for message in app.session.flashbag().get("success") %}
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
            {% endfor %}
            {% for message in app.session.flashbag().get("error") %}
                <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
            {% endfor %}
        <!-- End notifications -->

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success"><i class="icon-newspaper"></i> Crear</button>
    {{ form_end(form) }}
     <hr>
        </div>
    </div>

    <ul class="list-inline">
        <li>
            <a href="{{ path('invcategoria_index') }}" class="btn btn-info"><i class="fa fa-list"></i> Listar</a>
        </li>
    </ul>
{% endblock %}
