{% extends "Layout/base_emr/_clients_base.location.html.twig" %}

{% block title_page %}
        Doctors' || Directory
{% endblock %}
{#
{% block breadcrumb %}
    {{ include('EmrBundle:Dashboard:_breadcrumb.html.twig' )  }} 
{% endblock %} 

{% block submenutop %}
   {# {{ include('EmrBundle:Dashboard:_submenu.html.twig' )  }} 
{% endblock %} 
#}
{% block body %} 
    
            {# {{ app.user.getUsuId() }} #} 
            
            <div class="row">
                <div class="col-lg-12">
                    <div id="holder_msg">
                        {% for message in app.session.flashbag().get("success") %}
                            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{message}}</div>
                        {% endfor %}
                        {% for message in app.session.flashbag().get("error") %}
                            <div class="alert alert-danger"><i class="fa fa-close"></i> {{message}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="page-header-content">
                <div class="page-title">
                    <h4>
                        <i class="fa fa-info-circle position-left"></i>
                        <span class="text-semibold">Institutions</span> - List

                        <small class="display-block">Click on institution to manage!</small></h4>
                    <a class="heading-elements-toggle"><i class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
                    
                <div class="heading-elements">
                    <div class="heading-btn-group">
                        {#
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                        #}
                        <ul class="icons-list">
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-plus-sign"></i> New institutions <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">

                                    <li><a href="{{ path('cliente_new') }}?id=myself"><i class="fa fa-user-plus"></i> For my user</a></li>

                                    <li><a href="{{ path('cliente_new') }}"><i class="fa fa-user-md"></i> New user</a></li>
                                        {#<li class="divider"></li>#}
                                        {# <li><a href="#"><i class="fa fa-hospital-o"></i> View List</a></li> #}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="row">                  
                {% if dataLocation|length > 0 %}
                    {% for reg in dataLocation%}
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="panel panel-flat border-left-lg border-left-info section_location">
                                <div class="panel-heading">
                                    <h6 class="panel-title"><i class="fa fa-hospital-o"></i> {{ reg.fiscalName }}</h6>
                                    {# {% if reg.client == "is_representer" %} #}

                                    {% if 2 in reg.roles %} {# 2 = reprsentante #}  
                                        <div class="heading-elements">
                                            <!-- <span class="label bg-success heading-text">5 Doctores</span> -->
                                            <ul class="icons-list">
                                                <li class="dropdown ">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{{ path('cliente_edit', { 'id': reg.clientId } ) }}"><i class="icon-sync"></i> Update Information</a></li>
                                                        <!--
                                                        <li><a href="{{ path('modulo_index',{'id': reg.clientId }) }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add Module</a></li>-->
                                                        <li><a href="{{ path('emr_location_has_doctors',{'id': reg.clientId } ) }}"><i class="icon-list-unordered"></i> Profiles Medic</a></li>
                                                        {#<li><a href="#"><i class="icon-pie5"></i> Estadistic</a></li> #}
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="icon-cross3"></i> Close Menu</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}                
                                </div>
                                <div class="panel-body">
                                    Located in: <i class="glyphicon glyphicon-map-marker"></i> {{ reg.municipality  }}
                                    <hr>
                                    {% if 3 in reg.roles  or 6 in reg.roles %}
                                        <a href="{{ path('emr_homepage',{'id':reg.clientId} ) }}" class="btn btn-success"><i class="fa fa-stethoscope"></i> Start the administration</a>
                                    {% else %}
                                        <span style="height:36px;"> Should be has doctor role</span>
                                    {% endif %}
                                    <!-- <a href="{{ path('emr_homepage',{'id':reg.clientId} ) }}" class="btn btn-info"><i class="glyphicon glyphicon-cog"></i> Administrar</a> -->
                                    <!-- <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i> Dar de baja</a> -->
                                </div>
                            </div>
                        </div>

                    {% endfor %}        
                {% else %}
                    <div class="alert alert-warning alert-styled-left alert-arrow-left alert-component">
                        Sorry, this user does not have any associated institutions                        
                    </div>
                {% endif %}
            </div>
    
    
  

{% endblock %}

{% block codejs %}
    <script>
        $(document).on("ready",function(){
        });
    </script>
{% endblock %}    

