

{#<div class="panel panel-flat border-left-lg border-left-info">#}
<div class="">
<div class="panel-bodyX">
    
        <div id="mod-holder" class=""> <!--  -->
            <div class='alert alert-info alert-styled-left alert-arrow-left alert-component'> Módulo activo: <span id='moduleActivated'></span></div>
            <ul class="nav nav-tabs nav-tabs-highlight " role="tablist"> <!-- class="nav nav-tabs nav-justified p-5" -->
                {% set t = 1 %}
                {% for seccion, form in form_modulo %}
                    <li role="presentation" class="{% if loop.index == 1 %}active{% endif %}">
                        <a href="#sec_tab_{{ t }}" role="tab" id="{{ seccion|replace({' ':''}) }}-tab" data-toggle="tab" aria-controls="{{ seccion|replace({' ':''}) }}" >
                            {{ seccion }}
                        </a>
                    </li>
                    {% set t = t + 1 %}
                {% endfor %}
            </ul>

            <div class="tab-content">
                
            {% set n = 1 %}
                {% for seccion, grupo in form_modulo %}
                    {% for grupo_nombre, form in grupo  %}
                        <fieldset>
                            <legend><b>{{ grupo_nombre }}</b></legend>
                            <div role="tabpanel" class="tab-pane {% if n == 1 %} active {% endif %}" id="sec_tab_{{ n }}">
                               {{ form_start( form, { 'attr': { 'class': 'mod-form' } } ) }}
                                {% set i = 0 %}
                                {% for child in form.children %}
                                    {% if ( i == 0) %}
                                    <div class="row">
                                    {% endif %}
                                        <div class="col-lg-6">
                                            {{ form_row( child ) }}
                                        </div>

                                    {% set i = i + 1 %}

                                    {% if (i == 2 or loop.last) %} {# si ya se imprimieron dos col-lg-6 se cierra el row #}
                                        </div>
                                        {% set i = 0 %}
                                    {% endif %}

                                {% endfor %} {# Fin del for que recorre los elementos del form #}

                                {{ form_end( form ) }}
                            </div>
                        </fieldset>
                    {% endfor %}
                    {% set n = n + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
      
 