{% extends "Layout/base_emr/_clients_base.html.twig" %}

{% block title_page %}
        EMR || Reportes de Citas
{% endblock %}

{% block breadcrumb %}
    {{ include('EmrBundle:modulos:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('EmrBundle:modulos:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <style>
        /*
        #calendar {
		max-width: 900px;
		margin: 0 auto;
        }
        */
    
        #divUserPatient{
            display: none;
            
            
        }
        .ui-datepicker{
            z-index:3 !important;
        }
        
        .block{
            margin-bottom: 10px;
        }
    </style>
    
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/tables/datatables/extensions/select.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/pages/datatables_extension_select.js') }}"></script>
    
    {#
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js') }} "></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/plugins/tables/datatables/extensions/buttons.min.js') }} "></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/template_clients/assets/js/pages/datatables_extension_buttons_html5.js') }} "></script>
    #}
    

    <div class="page-header-content">
        <div class="page-title">
            <h4>
                {# <a href="{{ app.request.headers.get('referer') }}"> #}
                <a href="{{ path('emr_dashboard') }}"> 
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Dashboard</span>
                </a> - Módulos

                <small class="display-block">Lista de módulos disponibles para adquirir</small>
            </h4>
            
       </div>
        {#        
        <div class="heading-elements">
            <div class="heading-btn-group">

                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>

            </div>
        </div>
        #}
    </div>
    

    {# {{ app.request.query.get("d") }} #}
    <div class="rowx">
        <div class="col-lg-12x">
            <!-- Agenda view -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						{# <h5 class="panel-title">Calendario</h5> #}
                        <!--
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
                        -->
					</div>
					
					<div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                {#
                                <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                                    <i class="fa fa-user-md" aria-hidden="true"></i> Doctores asignados
                                </div>
                                #}
                                <div class="block">
                                    {#
                                    
                                    #}
                                    {#
                                    {% if allModules|length > 0 %}
                                            <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">Lista de  módulos diponibles</div>
                                            <table class="table table-striped" id="table_result_modules">
                                                <thead>
                                                    <tr><th></th><th>Nombre</th><th>Costo mensual</th><th>Estado</th><th>Adquirido</th><th>Ver</th></tr>
                                                </thead>    
                                                <tbody>
                                                    {% for module in allModules %}
                                                        {% set key = module.ModId %}
                                                        <tr id="tr_{{key}}">
                                                            <td></td>
                                                            <td>{{module.ModModulo}}</td>
                                                            <td>
                                                                {% if module.ModGeneral == 1 or module.ModCosto == 0.00 %}
                                                                    <span class="label bg-success-400">Gratis</span>
                                                                {% else %}
                                                                     $ {{module.ModCosto}}
                                                                {% endif %}    
                                                               
                                                            </td>
                                                            <td>
                                                                {% if key in currentModules|keys %}
                                                                    
                                                                    {% if currentModules[key][0] == 1 %}
                                                                        <span class="label bg-success-400">Activado</span>
                                                                    {% else %}
                                                                        <span class="label label-default">Inactivo</span>
                                                                    {%  endif %}    
                                                                {% else %}
                                                                        N/A
                                                                {% endif %}    
                                                            </td>
                                                            <td>
                                                                {% if key in currentModules|keys %}    
                                                                    <span class="label bg-success-400">Si</span>
                                                                {% else %}
                                                                    <span class="label bg-warning">No</span>
                                                                {% endif %}
                                                            </td>
                                                            <td><button class="btn btn-info btn-sm viewModule" id="{{ key }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver</button></td>
                                                        </tr>
                                                    {% endfor %}
                                                </body>
                                            </table>
                                            <hr>
                                            Seleccione una opción con los módulos seleccionados:<br><br> 
                                            <button id="btnSetSelectedModules"> Adquirir </button>
                                            <button id="btnUnSetSelectedModules"> Desactivar </button>
                                    {% else %}    
                                        <div class="alert alert-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> No hay modulos asociados a este establecimiento</div>
                                    {% endif %} 
                                    #}
                                    <div id="modulesList">
                                    <div class="buttons-preview">
                                        {% if modulos|length > 0 %}
                                        
                                        <table class="table table-striped" id="table_result_modules">
                                            <thead>
                                                <tr><th></th><th>Nombre</th><th>Costo mensual</th><th>Estado</th><th>Adquirido</th><th>Información</th></tr>
                                            </thead>    
                                            <tbody>
                                            {% for key, m in modulos %}
                                                {# {% if m['mod_hash'] is defined %} #}
                                                    {# <button class="btn bg-teal-400 btn-labeled btn-block mod-tab" target="{{ m['hash'] }}">{{ m['modulo'] }}</button> #}


                                                       {# {% for module in allModules %} #}
                                                            {% set key = m['id'] %}
                                                            <tr id="tr_{{key}}">
                                                                <td></td>
                                                                <td>{{ m['module'] }}</td>
                                                                <td>
                                                                    {% if m['isGeneral'] == 1 or m['cost'] == 0.00 %}
                                                                        <span class="label bg-success-400">Gratis</span>
                                                                    {% else %}
                                                                         $ {{m['cost']}}
                                                                    {% endif %}    

                                                                </td>
                                                                <td>
                                                                    {% if key in currentModules|keys %}

                                                                        {% if currentModules[key][0] == 1 %}
                                                                            <span class="label bg-success-400">Activado</span>
                                                                        {% else %}
                                                                            <span class="label label-default">Inactivo</span>
                                                                        {%  endif %}    
                                                                    {% else %}
                                                                            N/A
                                                                    {% endif %}    
                                                                </td>
                                                                <td>
                                                                    {% if key in currentModules|keys or m['isGeneral'] == 1 %}    
                                                                        <span class="label bg-success-400">Si</span>
                                                                    {% else %}
                                                                        <span class="label bg-warning">No</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {# <button class="btn btn-info btn-sm viewModule" id="{{ key }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver</button> #}
                                                                    <button class="btn bg-teal-400 btn-labeled btn-block mod-tab" target="{{ m['hash'] }}" id="tr_{{ key }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver</button>
                                                                </td>
                                                            </tr>
                                                        {# {% endfor %} #}



                                                {# {% endif %} #}
                                            {% endfor %}
                                            </body>
                                        </table>
                                        <hr>
                                        Seleccione una opción para los módulos seleccionados:<br><br> 
                                        <button id="btnSetSelectedModules" class="setModule btn btn-success"> Adquirir/Activar </button>
                                        <button id="btnUnSetSelectedModules" class="setModule btn btn-danger"> Desactivar </button>    
                                        {% else %}
                                            
                                            <div class="alert alert-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> No hay modulos asociados a este establecimiento</div>
                                        {% endif%}    
                                    </div>
                                </div>
                                </div>
                                
                                
                                
                                
                                
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12" id="divReport">
                                <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                                    Al adquirir la compra de un nuevo módulo podria tardar hasta 48 Horas para que el módulo sea activado y validado
                                </div>

                                <div id="mod-holder"></div>
                                
                            </div>
                        </div>
					</div>
				</div>
				<!-- agenda view -->
        </div>
        <div class="">
           {# {{ include('EmrBundle:paciente:_search.html.twig' )  }}    #}   
        </div>
    </div>
            



<!--Modal-->

<!--Modal-->
{% endblock %}


{% block codejs %}
    <script>
        $(document).on("ready", function(){
            
            var arrModulesSelected = [];
            if( $("body").find("#table_result_modules").size() == 1 )
            {
               var tableModules = $("body").find("#table_result_modules").DataTable({
                                "searching": true,
                                "bFilter": false,
                                "bInfo": false,
                                "bLengthChange": false,
                                "pageLength": 8,
                                //"autoWidth": true,
                                "language":{
                                    oPaginate: {
                                        sFirst: "Primero",
                                        sLast: "último",
                                        sNext: "Siguiente",
                                        sPrevious: "Anterior"
                                       
                                    },
                                    sSearch: "Buscar: "
                                },
                                columnDefs: [ {
                                    orderable: false,
                                    className: 'select-checkbox',
                                    targets:   0,
                                    
                                } ],
                                select: {
                                    style:    'multiple',
                                    selector: 'td:first-child'
                                },
                                "order": [[ 1, "asc" ]]
                            });
                
               
                $(".setModule").on("click",function(){
                    var btnSelected = $(this).attr("id");
                    var count = tableModules.rows( { selected: true } ).count();
                    if(count > 0)
                    {
                       
                        tableModules.rows('.selected').data().each(function(index, rowId){
                            var id = $(this)[rowId]['DT_RowId'];
                            id = id.replace(/\D/g,'');
                            arrModulesSelected.push(id);
                        });
                        setModulesSelected(btnSelected);
                        arrModulesSelected = [];
                    }
                    else
                    {
                        $.alert({
                            icon: 'glyphicon glyphicon-exclamation-sign',
                            title: 'Info!',
                            content: 'Para adquirir módulos al menos debes de seleccionar uno',
                            type: 'red',
                            typeAnimated: true,
                        });
                        return false;
                    }    
                });          
            }
            
            function setModulesSelected(btnSelected)
            {
  
                $("#holder_loading").show();
                console.log(arrModulesSelected);
                $.ajax({
                   url: "{{ path('modulo_show') }}",
                   data: "id="+arrModulesSelected+"&option="+btnSelected,
                   type: "POST",
                   success: function(data) {
                       //location.hash = id;
                      
                       //alert("Fin modules seleccionados");
                       var msg = "";
                       if(btnSelected == "btnSetSelectedModules")
                       {
                           msg = "La <strong>adquisición/Activación</strong> de los modulos seleccionados se realizó con éxito";
                       }
                       else
                       {
                           msg = "La <strong>desactivación</strong> de los modulos seleccionados se realizó con éxito";
                       }    
                       $.alert({
                            icon: 'glyphicon glyphicon-exclamation-sign',
                            title: 'Info!',
                            content: msg,
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                ok: {
                                    text: 'Ok',
                                    action: function () {
                                       location.reload();
                                    }
                                }
                            }    
                        })
                        return false;
                   },
                   error: function(json){
                      // alert(json.id);
                      $("#holder_loading").hide();
                      //var infoError = (data);
                        $.alert({
                            icon: 'glyphicon glyphicon-exclamation-sign',
                            title: 'Info!',
                            content: 'Ha ocurrido un error',
                            type: 'red',
                            typeAnimated: true,
                        });
                        return false;

                   }
               });

            } 
            
            //$("#createEventModal").modal({backdrop: 'static', keyboard: false});            
            $(".mod-tab").on("click",function(){
                var id = $(this).attr("id");
                var sTarget = $(this).attr('target');
                createView(sTarget, id);
                
                
                
                
            });
        
            if(window.location.hash) {
                var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
                //alert (hash);
                // hash found
            } else {
                // No hash found
            }
        
            function createView(sTarget, id)
            {
                var sTarget = sTarget;//$(this).attr('target');
                var sUrl = "{{ url( 'eav_crear_form_modulo', {'mod_hash': 'modhash', 'usu_id': 'usuid', 'pac_id': 'pacid', 'cli_id': 'cliid', 'cit_id': 'citid'} ) }}";
                sUrl = sUrl.replace( "modhash", sTarget );
                sUrl = sUrl.replace( "usuid", 1 );
                sUrl = sUrl.replace( "pacid", 1 );
                sUrl = sUrl.replace( "cliid", 1 );
                sUrl = sUrl.replace( "citid", 1 );
                var info = $("#"+id).find("td").eq(1).text();
                //$("#mod-holder").load( sUrl );
                $("#holder_loading").show();
                $.ajax({
                    url: sUrl,
                    //data: "action=delete&id=" + eventID,
                    type: "POST",
                    success: function (data) {
                        //nav
                        //if(data != "")
                        //{    
                        setClassForm();

                            $("#holder_loading").hide();
                            var moduleActive = ""//"<div class='alert alert-info alert-styled-left alert-arrow-left alert-component'> Módulo activo: <span id='moduleActivated'></span></div>";
                            $("#mod-holder").html(moduleActive+""+data);
                            //var btn = "<button></button>";
                            $("body").find("#moduleActivated").closest("div").removeClass("alert alert-info alert-styled-left alert-arrow-left alert-component").empty().html("Módulo seleccionado: <strong><span class'bg-success text-highlight'>"+info+"</span></strong><br><br>");

                                setClassForm();


                            $('.date-field').datepicker({
                                changeMonth: true,
                                changeYear: true
                            });
                        //}
                        //console.log( $("body").find("#mod-holder .nav li").length );
                        if( $("body").find("#mod-holder .nav li").length == 0  )
                        {
                             $("#mod-holder").append('<div class="alert alert-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Este módulo de momento no cuenta con un formulario asociado</div>');
                        }
                    },
                    error: function (data) {
                        $.alert({
                            icon: 'fa fa-times',
                            title: 'Error!',
                            content: "<p class=''>No se ha podido cargar el formulario, intente otra vez</p>",
                            type: 'red',
                            typeAnimated: true,
                        });
                        $("#holder_loading").hide();
                        return false;
                    }
                });

            }   
            
            function setClassForm()
            {
                //alert();
                $("body").find("#mod-holder .tab-pane").each(function(){
                    //console.log("r");
                    $(this).find(".form-group").each(function(){
                        $(this).removeClass("form-group");
                        //$(this).find("input[type='checkbox']").closest('.form-group').removeClass("form-group");
                        //console.log("xx");
                    });
                });
                
                $("div.radio").attr("class", "radio-inline");
            }
        
            function setModalMaxHeight(element) {
                this.$element     = $(element);  
                this.$content     = this.$element.find('.modal-content');
                var borderWidth   = this.$content.outerHeight() - this.$content.innerHeight();
                var dialogMargin  = $(window).width() < 768 ? 20 : 60;
                var contentHeight = $(window).height() - (dialogMargin + borderWidth);
                var headerHeight  = this.$element.find('.modal-header').outerHeight() || 0;
                var footerHeight  = this.$element.find('.modal-footer').outerHeight() || 0;
                var maxHeight     = contentHeight - (headerHeight + footerHeight);

                this.$content.css({
                    'overflow': 'hidden'
                });

                this.$element
                  .find('.modal-body').css({
                    'max-height': maxHeight,
                    'overflow-y': 'auto'
                });
            }

            $('.modal').on('show.bs.modal', function() {
                $(this).show();
                setModalMaxHeight(this);
            });

            $(window).resize(function() {
                if ($('.modal.in').length != 0) {
                  setModalMaxHeight($('.modal.in'));
                }
            });
            
    });
               
     ////////////////////////////////////
     // Determine the correct object to use
     
    </script>
{% endblock %}    

