{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:systipoinstitucion:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:systipoinstitucion:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Tipos de Instituciones</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo </th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Codigo</th>
                <th>Fecha creción</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysTipoInstitucion in sysTipoInstitucions %}
            <tr>
                <td><a href="{{ path('systipoinstitucion_show', { 'id': sysTipoInstitucion.id }) }}">{{ sysTipoInstitucion.id }}</a></td>
                <td>{{ sysTipoInstitucion.nombreTipoSysInstitucion }}</td>
                <td>{{ sysTipoInstitucion.descripcionSysTipoInstitucion }}</td>
                <td>{{ sysTipoInstitucion.estadoSysTipoInstitucion }}</td>
                <td>{{ sysTipoInstitucion.codigoSysTipoInstitucion }}</td>
                <td>{% if sysTipoInstitucion.fechaCrecionSysTipoInstitucion %}{{ sysTipoInstitucion.fechaCrecionSysTipoInstitucion|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('systipoinstitucion_show', { 'id': sysTipoInstitucion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('systipoinstitucion_edit', { 'id': sysTipoInstitucion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   {#     
    <ul>
        <li>
            <a href="{{ path('systipoinstitucion_new') }}">Create a new entry</a>
        </li>
    </ul>
    #}
{% endblock %}
