{% extends "::base.html.twig" %}
  
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Tipo de Institucion</h1>

            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ sysTipoInstitucion.idSysInstitucion }}</td>
                    </tr>
                    <tr>
                        <th>Nombretipo</th>
                        <td>{{ sysTipoInstitucion.nombreTipoSysInstitucion }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ sysTipoInstitucion.descripcionSysTipoInstitucion }}</td>
                    </tr>
                    <tr>
                        <th>Estadon</th>
                        <td>{{ sysTipoInstitucion.estadoSysTipoInstitucion }}</td>
                    </tr>
                    <tr>
                        <th>Codigo</th>
                        <td>{{ sysTipoInstitucion.codigoSysTipoInstitucion }}</td>
                    </tr>
                    <tr>
                        <th>Fechacrecion</th>
                        <td>{% if sysTipoInstitucion.fechaCrecionSysTipoInstitucion %}{{ sysTipoInstitucion.fechaCrecionSysTipoInstitucion|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Id municipio</th>
                        <td>{{ sysTipoInstitucion.idMunicipio }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('systipoinstitucion_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('systipoinstitucion_edit', { 'id': sysTipoInstitucion.idSysInstitucion }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        
        </div>
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){

          });
    </script>
{% endblock %} 