{% extends "::_admin_base.html.twig" %}

{% block breadcrumb %}
    {{ include('AppBundle:sysmunicipio:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysmunicipio:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista de Municipios</h1>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Descripción</th>
                        <th>Departamento</th>
                        <th>Estatus</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sysMunicipio in sysMunicipios %}
                        <tr>
                            <td><a href="{{ path('sysmunicipio_show', { 'id': sysMunicipio.id }) }}">{{ sysMunicipio.id }}</a></td>
                            <td>{{ sysMunicipio.nombreSysMunicipo }}</td>
                            <td>{{ sysMunicipio.descripcionSysMunicipio }}</td>
                            <td>{{ sysMunicipio.sysDepartamentos }}</td>
                            <td>{% if sysMunicipio.estatusSysMunicipo %}<span class="label label-success">Activo</span>{% else %}<span class="label label-danger">Inactivo</span>{% endif %}</td>
                           
                            <td>
                                <ul class="btn-option-emr">
                                    <li>
                                        <a href="{{ path('sysmunicipio_show', { 'id': sysMunicipio.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('sysmunicipio_edit', { 'id': sysMunicipio.id }) }}" class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                                    </li>
                                </ul>    
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                    {#
                <ul>
                    <li>
                        <a href="{{ path('sysmunicipio_new') }}">Create a new entry</a>
                    </li>
                </ul>
                    #}
        
        </div>
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){

          });
    </script>
{% endblock %} 
