{% extends "::_admin_base.html.twig" %}

{% block breadcrumb %}
    {{ include('AppBundle:sysmunicipio:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysmunicipio:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    
    <style>
        
    </style>
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Nuevo Municipio</h1>
            {#
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}
            #}
            {{ form_start(form, {'attr': {'class': ''}}) }}    
            
                {# {{ form_widget(form) }} #}
                <div class="form_error">{{ form_errors(form)}}</div>
                <div class="form-group">
                    
                    <div class="form_error">{{ form_errors(form.nombreSysMunicipo)}}</div>
                    <div><label for="">Nombre</label></div>
                    {{ form_widget(form.nombreSysMunicipo) }}
                </div>
                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.descripcionSysMunicipio)}}</div>
                    <div><label for="" class="">Descripcion</label></div>
                    {{ form_widget(form.descripcionSysMunicipio) }}
                </div>
                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.myExtraFieldCountry)}}</div>
                    <label for="" class=" control-label">País</label>
                    {{ form_widget(form.myExtraFieldCountry) }}
                </div>
                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.sysDepartamentos)}}</div>
                    <label for="" class=" control-label">Departamento</label>
                    {{ form_widget(form.sysDepartamentos) }}
                </div>
                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.estatusSysMunicipo)}}</div>
                    <div>Estatus</div>
                    <div class="checkbox">
                            <label>
                                {{ form_widget(form.estatusSysMunicipo) }}
                                <span class="text"></span>
                            </label>
                    </div>   
                </div>
            
                                
                <input type="submit" value="Crear" class="btn btn-primary" />
            {{ form_end(form) }}
            {#
            <ul>
                <li>
                    <a href="{{ path('sysmunicipio_index') }}">Back to the list</a>
                </li>
            </ul>
            #}
        </div>
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){
            getDepartment();
            $("#sys_municipio_myExtraFieldCountry").change(function(){
                getDepartment();
            });
            function getDepartment()
            {
                var id = $("#sys_municipio_myExtraFieldCountry").val();
                console.log(id);
                if( id == "" || id == undefined){
                    return false;
                }
                $("#emrloading").show();
                $.ajax({
                        url: "{{ path('sysdepartamentos_per_country')}}",
                        data: {
                             countryID: id,
                        },
                        error: function() {
                             alert("Ha ocurrido un error");
                             $("#request").empty();
                             $("#emrloading").hide();
                        },
                          //dataType: 'json',
                        success: function(data) {
                            $("#emrloading").hide();
                            $("#sys_municipio_sysDepartamentos").empty();
                            $.each(data.res, function(i,item){
                               var id = item.id;
                               var name = item.nombreSysDepartamento;
                               $('<option>').val(id).text(name).appendTo('#sys_municipio_sysDepartamentos');
                            });
                        },
                        type: 'POST'
                	});
            }
          });
    </script>
{% endblock %} 