<!DOCTYPE html>

<html lang="en-ES" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link type="text/css" media="all" href="{{ asset('bundles/landing/content/autoptimize.css') }}" rel="stylesheet">
    <title> Medic Profile</title>
    <link rel="shortcut icon" href="images/logo.png">
    <script type="text/javascript" async="" href="{{ asset('bundles/landing/content/4069.js') }}" ></script>
    <script type="text/javascript" async="" href="{{ asset('bundles/landing/content/conversion_async.js') }}"></script>
    <script type="text/javascript" async="" href="{{ asset('bundles/landing/content/conversion_async.js') }}"></script>
    <script type="text/javascript" async="" href="{{ asset('bundles/landing/content/analytics.js') }}"></script>
    <script type="text/javascript" async="" href="{{ asset('bundles/landing/content/gtm.js') }}">

    </script>
    <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/www.projectmanager.com\/","name":"ProjectManager.com","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.projectmanager.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script> <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/www.projectmanager.com\/","sameAs":["https:\/\/www.facebook.com\/projectmanage","https:\/\/www.linkedin.com\/grps\/Project-Manager-Community-Best-Group-35313?","https:\/\/plus.google.com\/+Projectmanagersoftware","https:\/\/www.youtube.com\/user\/projectmanagervideos","https:\/\/twitter.com\/projecttips"],"@id":"#organization","name":"ProjectManager.com","logo":"https:\/\/www.projectmanager.com\/wp-content\/uploads\/2016\/12\/logo-pm-100.png"}</script> <link rel="dns-prefetch" href="https://fonts.googleapis.com/"><link rel="dns-prefetch" href="https://s.w.org/"><link rel="alternate" type="application/rss+xml" title="ProjectManager.com » Feed" href="/feed"><link rel="alternate" type="application/rss+xml" title="ProjectManager.com » Comments Feed" href="/comments/feed"> <script type="text/javascript">window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.projectmanager.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.5"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);</script>
    <script href="{{ asset('bundles/landing/content/wp-emoji-release.min.js') }}" type="text/javascript" defer=""></script>

    <style>/* breakpoints: 81.25=1300, 70=1120, 64.5=1024, 50=800, 37.5=600, 25=400 */

        .align-center {
            text-align: center;
        }
        .align-left {
            text-align: left;
        }
        .align-right {
            text-align: right;
        }
        .reduced-padding-top {
            padding-top: 1.5em;
        }
        .reduced-padding-bottom {
            padding-bottom: 1.5em;
        }
        .extra-special-font-size p{
            font-size: 1.25em;
        }
        .smaller-icons img {
            max-width: 50%;
        }
        .more-padding-top {
            padding-top: 4.5em;
        }
        .more-padding-bottom {
            padding-bottom: 4.5em;
        }
        .special-padding {
            padding-bottom: 2em;
        }
        .special-padding2 {
            padding-bottom: 1em;
            padding-top: 2em;
        }


        .archive .hentry.category-books:first-of-type {
            margin-top: 2.5em;
        }
        @media (min-width: 50em) {
            .archive .hentry.category-books:first-of-type {
                margin-top: 2.8em;
            }
        }
        @media (min-width: 70em) {
            .archive .hentry.category-books:first-of-type {
                margin-top: 4em;
            }
        }
        @media (min-width: 81.25em) {
            .archive .hentry.category-books:first-of-type {
                margin-top: 6.8em;
            }
        }
        .category-templates section .register_now,
        .category-templates section .download_now {
            text-align: center;
        }
        .breadcrumb-cols .col img {
            border: 0px;
        }
        .breadcrumb-cols .col p,
        .little-quote .col p {
            padding: 0;
            font-size: 0.9em;
            line-height: 1.3em;
            margin-top: 14px;
        }
        @media (min-width: 25em) {
            .breadcrumb-cols .col p,
            .little-quote .col p {
                padding: 0 4em;
            }
        }
        @media (min-width: 37.5em) {
            .breadcrumb-cols .col p,
            .little-quote .col p {
                padding: 0 11em;
            }
        }
        @media (min-width: 50em) {
            .breadcrumb-cols .col p,
            .little-quote .col p {
                padding: 0 18em;
            }
        }
        @media (min-width: 64.5em) {
            .breadcrumb-cols .col p,
            .little-quote .col p {
                padding: 0 2.5em;
            }
        }
        @media (min-width: 70em) {
            .breadcrumb-cols .col p,
            .little-quote .col p {
                padding: 0 3em;
            }
        }
        @media (min-width: 81.25em) {
            .breadcrumb-cols .col p,
            .little-quote .col p {
                padding: 0 6em;
            }
        }


        .breadcrumb-cols .col:after {
            color: #acacac;
        }
        @media (min-width: 64.5em) {
            .breadcrumb-cols .col:after {
                top: 20%;
                margin-left: 0;
            }
        }

        @media (min-width: 64.5em) {
            .breadcrumb-cols-alt .col:after {
                top: 50%;
            }
        }

        .community-text .col a {
            font-size: 1.2em;
        }

        .content ul {
            margin-left: 16px;
        }

        .content ol {

        }

        .display-posts .title {
            color: #005dd2;
            font-size: 1.4em;
            font-weight: 700;
            line-height: 1.4em;
        }

        ul.gform_fields {
            margin-left: 0;
        }

        .gform_wrapper .icon .ginput_container select {
            text-indent: 31px;
            border-color: #c9c9c9;
            background-color: #fff;
            height: 55px;
            color: #acacb7;
        }

        .gform_wrapper .icon .ginput_container select option {
            margin: 0 40px;
        }

        .gform_wrapper .country .ginput_container::before {
            content: '\f024';
        }

        span.integrations-cat {
            font-size: 0.8em;
            color: #22a8f5;
        }
        span.integrations-copy {
            font-size: 1em;
            line-height: normal;
        }

        .menu-toggler:active,
        .menu-toggler:focus {
            outline: none;
        }

        li.mm-opened li.mm-opened:before {
            background: rgba(0,0,0,0);
        }
        .mm-menu.mm-offcanvas {
            display: block !important;
        }

        .nav.secondary-nav li.current-menu-item a, .nav.secondary-nav li.current-menu-ancestor a, .nav.secondary-nav li.current-post-parent a {
            border-color: #18a2f8;
        }
        .nav.ancillary-nav li:last-child a, .nav.ancillary-nav li:last-child a:visited {
            text-transform: none;
        }

        .wider-button a.button.blue {
            padding: 0.5em 3.2em;
        }

        ul.list-white {
            color: #fff;
            margin-left: 0;
            font-weight: 700;
            font-size: 1.3em;
        }
        ul.list-white li {
            margin-bottom: 0.4em;
        }
        ul.list-white li:before {
            color: #fff;
        }

        .number-before-1,
        .number-before-2,
        .number-before-3 {
            text-align: left;
            display: inline-block;
            color: #515151;
            font-size: 1.3em;
            line-height: 1.4em;
            margin-top: 0;
            margin-bottom: 2.2em;
        }
        @media (min-width: 64.5em) {
            .number-before-1,
            .number-before-2,
            .number-before-3 {
                margin-top: 2.2em;
                margin-bottom: 0;
            }
        }
        .number-before-1:before,
        .number-before-2:before,
        .number-before-3:before {
            font-size: 3em;
            float: left;
            line-height: 1em;
            margin-right: 15px;
        }
        .number-before-1:before {
            content: "1.";
        }
        .number-before-2:before {
            content: "2.";
        }
        .number-before-3:before {
            content: "3.";
        }
        .other-dark-blue {
            background-color: #005dd2;
        }
        .other-dark-blue h1,
        .other-dark-blue .h1,
        .other-dark-blue h2,
        .other-dark-blue .h2,
        .other-dark-blue h3,
        .other-dark-blue .h3,
        .other-dark-blue h4,
        .other-dark-blue .h4,
        .other-dark-blue h5,
        .other-dark-blue .h5,
        .other-dark-blue h6,
        .other-dark-blue .h6,
        .darker-blue h1,
        .darker-blue .h1,
        .darker-blue h2,
        .darker-blue .h2,
        .darker-blue h3,
        .darker-blue .h3,
        .darker-blue h4,
        .darker-blue .h4,
        .darker-blue h5,
        .darker-blue .h5,
        .darker-blue h6,
        .darker-blue .h6,
        .darker-blue p {
            color: #fff
        }
        .darker-blue {
            background-color: #004080;
        }

        .no-padding-top {
            padding-top: 0 !important;
        }
        .no-padding-bottom {
            padding-bottom: 0 !important;
        }

        @media (min-width: 64.5em) {
            .funky-padding {
                padding-right: 1em;
                text-align: left;
            }
        }
        @media (min-width: 70em) {
            .funky-padding {
                padding-right: 1.3em;
            }
        }
        @media (min-width: 81.25em) {
            .funky-padding {
                padding-right: 7em;
            }
        }

        a.news-link {
            color: #005dd2;
        }

        .content ol.ol-black {
            list-style-type: decimal;
            margin-left: 5%;
        }
        .content ol.ol-black li {

        }
        .content ol.ol-black li:before {
            display: none;
        }
        .content ul.no-dot li:before {
            display: none;
        }
        .content .ul-black ul li:before {
            color: #010101;
        }

        .little-caption {
            text-align: center;
            font-size: 0.8em;
        }
        .content ul.default-bullets {
            list-style-type: disc;
        }
        .content ul.default-bullets li:before {
            display: none;
        }

        p.pro-tip {
            color: #17a0f7;
            margin-left: 5em;
        }

        @media (min-width: 50em) {
            .reduced-width-video {
                position: relative;
                width: 60%;
                margin: 2em auto;
            }
        }

        .wide-articles {
            margin: 3em 0;
            margin-left: 0;
            font-size: 1.4em;
        }
        .wide-articles .post-excerpt-wrapper {
            padding-top: 1em;
        }
        .wide-articles .post-image {
            width: auto;
            margin-right: 20px;
        }
        @media (min-width: 50em) {
            .wide-articles {
                margin-left: 20%;
            }
        }
        @media (min-width: 50em) {
            ol.ol-black .wide-articles {
                margin-left: 15%;
            }
        }
        @media (min-width: 50em) {
            .wide-articles .post-image {
                width: auto;
            }
        }
        .wide-articles .post-excerpt,
        .wide-articles .post-excerpt:visited {
            color: #005dd2;
        }
        .wide-articles .single-title,
        .wide-articles .page-title,
        .wide-articles .entry-title {
            color: #005dd2;
            font-size: 1em;
        }
        .over-time {
            font-weight: 700;
            vertical-align: middle;
            font-size: 1.1em;
            line-height: 1.8em;
            margin: 0;
            margin-bottom: 0;
        }
        .alt-thirds .fwp-columns.thirds > div {
            width: 16.5%;
        }
        .alt-thirds .fwp-columns.thirds > div:nth-of-type(2) {
            width: 61.5%;
        }
        .fwp-columns>div p.over-time {
            margin-bottom: 0;
        }
        @media (min-width: 50em) {
            .over-time {
                width: 40%;
            }
        }

        .full-width-gallery .gallery-item {
            display:none;
        }

        .full-width-gallery .gallery .gallery-item:first-child {
            display:block !important;
        }
        .full-width-gallery .gallery-item {
            width: 100%;
            margin: 0;
        }
        @media (min-width: 50em) {
            .full-width-gallery .gallery-item {
                width: 80%;
                margin-left: 11%;
            }
        }
        div.ppt {
            color: rgba(0,0,0,0);
        }
        .product-features div,
        .fwp_pricing_summaries div {
            padding-bottom: 1.4em;
        }
        .fwp_pricing_summaries {
            padding-top: 2.5em;
        }
        .fwp_pricing_summaries ul, .fwp_pricing_summaries ol {
            padding: 1em 0 0.4em 0;
        }
        @media (min-width: 50em) {
            .fwp_pricing_summaries div.selected ul {
                padding: 1.5em 0 0.4em 0;
            }
        }
        .fwp_pricing_summaries ul li:last-child,
        .fwp_pricing_summaries ol li:last-child {
            margin-bottom: 0.7em;
        }
        @media (min-width: 50em) {
            .page-template-tmpl-pricing .full-page-header .wrap {
                padding-top: 65px;
            }
        }
        /*
        @media (min-width: 50em) {
        .page-template-tmpl-pricing .page-content {
            padding-top: 380px;
        }
        }
        */

        @media (min-width: 50em) {
            .page-header .header-copy p.image-creep {
                margin-right: 5em;
            }
        }

        blockquote.alt-blockquote {
            vertical-align: top;
            text-align: left;
            display: block;
        }
        blockquote.alt-blockquote:before,
        blockquote.alt-blockquote:after {
            display: none;
        }
        blockquote.alt-blockquote img.quotee {
            vertical-align: text-top;
            float: left;
            display: block;
            border-radius: 50% !important;
            margin-right: 100%;
            margin-top: -17px;
        }
        blockquote.alt-blockquote span {
            font-size: .9em;
        }
        blockquote.alt-blockquote img.alt-quote-logo {
            vertical-align: text-top;
            height: 35px;
        }
        @media (min-width: 64.5em) {
            blockquote.alt-blockquote {
                display: inline-block;
            }
        }
        @media (min-width: 37.5em) {
            blockquote.alt-blockquote:before,
            blockquote.alt-blockquote:after {
                display: block;
            }
        }
        @media (min-width: 37.5em) {
            blockquote.alt-blockquote img.quotee {
                margin-right: 20px;
            }
        }
        @media (min-width: 64.5em) {
            blockquote.alt-blockquote img {
                display: inline-block;
            }
        }
        blockquote.with-image:before,
        blockquote.with-image:after {
            display: none;
        }
        blockquote.with-image p{
            text-align:center;
        }
        blockquote.with-image img{
            float: left;
            border-radius: 50%;
            width: 65px;
            height: 65px;
        }
        blockquote.with-image span.speaker{
            float: none;
        }

        @media (min-width: 64.5em) {
            .sixty-wide {
                margin: 0 20%;
            }
        }
        .cta-arrows,
        .cta-arrows-white {
            display: inline-block;
            position: relative;
        }
        .cta-arrows:before,
        .cta-arrows:after,
        .cta-arrows-white:before,
        .cta-arrows-white:after {
            position: absolute;
            top:-10px;
            width: 72px;
            height: 57px;
            background-size: 72px 57px;
            background-repeat: no-repeat;
            display: none;
        }
        @media (min-width: 64.5em) {
            .cta-arrows:before,
            .cta-arrows:after,
            .cta-arrows-white:before,
            .cta-arrows-white:after {
                display: block;
            }
        }

        @media (min-width: 50em){
            .fwp-columns.halves.special-width>div {
                width: 45%;
            }
        }
        .ms-project-compare .headline,
        .ms-project-compare .feature-list-title {
            font-size: 1.3em;
            margin-bottom: 0;
        }
        .ms-project-compare .headline.unselected-list{
            font-size: 1em;
            margin-bottom: 0.2em;
            margin-top: 0.2em;
        }
        @media (min-width: 50em) {
            .ms-project-compare .product-features div:first-child:nth-last-child(4),
            .ms-project-compare .product-features div:first-child:nth-last-child(4)~div {
                width: 33.3333333%;
            }
        }
        @media (min-width: 50em) {
            .compare ol li.cost {
                border-bottom: 0px solid #dcdcdc;
                background: #fff;
            }
        }
        .pricing-block-link {
            position:relative !important;
            margin:0 !important;
            padding:0 !important;
            background:transparent !important;
        }
        .pricing-block-link a {
            position: absolute !important;
            width: 100% !important;
            height: 100% !important;
            top: 0 !important;
            left: 0 !important;
            text-decoration: none !important;
            z-index: 10 !important;
            /* 	IE fixes below here */
            background-color: #FFF;
            opacity: 0;
            filter: alpha(opacity=1);
        }
        .entry-content .nc_socialPanel {
            display: none;
        }
        .light-gray.reduced-padding.bottom-cta h2 {
            margin-top: 14px;
        }
        @media (min-width: 64.5em) {
            .icons-right {
                text-align: right;
            }
        }
        @media (min-width: 64.5em) {
            .icons-right p,
            .icons-right h2,
            .icons-right span,
            .icons-right a,
            .icons-right a img {
                text-align: left;
            }
        }




        /* sketch design styles */

        .page-header .header-copy .sketch-header h1 {
            font-weight: 400;
        }
        @media (min-width: 25em) {
            .page-header .header-copy .sketch-header h1 {
                font-size: 2em;
                line-height: 1.1em;
            }
        }
        @media (min-width: 37.5em) {
            .page-header .header-copy .sketch-header h1 {
                font-size: 3.25em;
                line-height: 1.1em;
            }
        }
        @media (min-width: 50em) {
            .page-header .header-copy .sketch-header h1 {
                font-size: 2.3em;
                line-height: 1.1em;
                margin-right: 5em;
            }
        }
        @media (min-width: 64.5em) {
            .page-header .header-copy .sketch-header h1 {
                font-size: 2.6em;
                line-height: 1.1em;
                margin-right: 7em;
            }
        }
        @media (min-width: 70em) {
            .page-header .header-copy .sketch-header h1 {
                font-size: 2.9em;
                line-height: 1.1em;
                margin-right: 5em;
            }
        }
        @media (min-width: 81.25em) {
            .page-header .header-copy .sketch-header h1 {
                font-size: 3.25em;
                line-height: 1.1em;
                margin-right: 8em;
            }
        }
        .page-header .header-copy .sketch-header .homepage-p {
            font-family: "Open Sans","Verdana","Lucida Grande","Gill Sans","Arial","Helvetica",sans-serif;
            font-weight: 400;
            margin-top: 0.4em;
        }
        @media (min-width: 25em) {
            .page-header .header-copy .sketch-header .homepage-p {
                margin-top: 1em;
            }
        }
        @media (min-width: 50em) {
            .page-header .header-copy .sketch-header .homepage-p {
                margin-top: 0.3em;
            }
        }
        @media (min-width: 64.5em) {
            .page-header .header-copy .sketch-header .homepage-p {
                margin-top: 0.6em;
            }
        }
        @media (min-width: 70em) {
            .page-header .header-copy .sketch-header .homepage-p {
                margin-top: 0.8em;
            }
        }
        @media (min-width: 81.25em) {
            .page-header .header-copy .sketch-header .homepage-p {
                margin-top: 1em;
            }
        }
        .sketch-body,
        .sketch-body h4,
        .scheme.light-gray.sketch-body2 h6 {
            color: #4a4a4a;
        }
        @media (min-width: 64.5em) {
            .sketch-body .text-alignleft,
            .sketch-body2 .text-alignleft {
                text-align: left;
            }
        }
        .sketch-body .wrap,
        .sketch-body2 .wrap {
            padding: 0 4%;
        }
        .sketch-body h2 {
            font-weight: 400;
            margin: 0 0 1.3em 0;
        }
        @media (min-width: 25em) {
            .sketch-body h2 {
                font-size: 2em;
            }
        }
        @media (min-width: 37.5em) {
            .sketch-body h2 {
                font-size: 3.25em;
            }
        }
        @media (min-width: 50em) {
            .sketch-body h2 {
                font-size: 2.3em;
            }
        }
        @media (min-width: 64.5em) {
            .sketch-body h2 {
                font-size: 2.6em;
            }
        }
        @media (min-width: 70em) {
            .sketch-body h2 {
                font-size: 2.9em;
            }
        }
        @media (min-width: 81.25em) {
            .sketch-body h2 {
                font-size: 3.25em;
            }
        }
        .breadcrumb-cols.sketch-body .col img {
            border: none;
        }
        .breadcrumb-cols.sketch-body .col p {
            font-size: 1.2em;
            line-height: 1.6em;
            padding: 0 1em;
            margin-top: 47px;
        }
        .breadcrumb-cols.sketch-body .col:after {
            color: #fff;
        }
        .sketch-body .all-caps {
            font-size: 1.9em;
            margin-bottom: 0;
        }
        .sketch-body .fwp-columns>div {
            vertical-align: top;
        }
        .sketch-body h4 {
            font-weight: 700;
            font-size: 1.7em;
        }
        @media (min-width: 64.5em) {
            .sketch-body .fwp-columns.thirds-1-2>div {
                width: 40%;
                margin-right: 4%;
            }
        }
        @media (min-width: 64.5em){
            .sketch-body .fwp-columns.thirds-1-2>div:last-of-type {
                width: 55%;
                margin-right: 0;
            }
        }
        @media (min-width: 64.5em) {
            .fwp-columns.thirds-2-1>div {
                width: 53%;
                margin-right: 4%;
            }
        }
        @media (min-width: 64.5em) {
            .fwp-columns.thirds-2-1>div:last-of-type {
                width: 42%;
                margin-right: 0;
            }
        }
        .sketch-body p {
            font-size: 1.2em;
        }
        .sketch-body blockquote p {
            color: #414141;
            font-size: 1em;
        }
        .sketch-body .serif-callout {
            color: #fff;
            text-align: left;
            font-weight: 700;
        }
        .sketch-body .sans-callout,
        .sketch-body .sans-callout2 {
            color: #92a7bc;
            font-family: "Open Sans","Verdana","Lucida Grande","Gill Sans","Arial","Helvetica",sans-serif;
            text-align: left;
            font-weight: 400;
        }
        .sketch-body .sans-callout2 {
            font-size: 0.9em;
        }
        .sketch-body.vert-middle .fwp-columns{
            padding-top: 15%;
        }
        @media (min-width: 37.5em) {
            .sketch-body.vert-middle .fwp-columns{
                padding-top: 11%;
            }
        }
        @media (min-width: 50em) {
            .sketch-body.vert-middle .fwp-columns{
                padding-top: 7%;
            }
        }
        @media (min-width: 64.5em) {
            .sketch-body.vert-middle .fwp-columns{
                padding-top: 6%;
            }
        }
        @media (min-width: 70em) {
            .sketch-body.vert-middle .fwp-columns{
                padding-top: 5%;
            }
        }


        /* longform page styles */

        .gantt-history .gantt-1 {
            width: 100%;
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-1 {
                width: 60%;
                float: left;
            }
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-1 p{
                margin-right: 3em;
            }
        }
        .gantt-history .gantt-2 {
            width: 100%;
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-2 {
                width: 40%;
                float: right;
            }
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-2 img{
                float: right;
            }
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-3 {
                width: 40%;
                float: left;
            }
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-4 {
                width: 60%;
                float: right;
            }
        }
        @media (min-width: 64.5em) {
            .gantt-history .gantt-4 p{
                margin-left: 2em;
            }
        }
        .gantt-history .gantt-3,
        .gantt-history .gantt-4 {
            margin-top: 1em;
        }
        .gantt-history .little-caption {
            text-align: left;
        }
        a.gantt-readmore,
        a.gantt-readmore:visited {
            color: #005dd2;
            font-size: 0.8em;
            font-weight: 700;
            text-decoration: none;
            border-bottom: 0px;
        }
        p.pro-tip-gantt {
            text-indent: 0;
            margin-left: 5em;
        }
        @media (min-width: 64.5em) {
            .list-image {
                float: right;
            }
        }
        @media (min-width: 64.5em) {
            .list-image p.little-caption {
                text-align: right;
            }
        }
        @media (min-width: 64.5em) {
            .gantt-how .gantt-image {
                float: right;
                margin-left: 2em;
                text-align: right;
            }
        }
        a.h3-link,
        a.h3-link:visited {
            color: #005dd2;
            border-bottom: 0px;
        }
        .call-out h3 {
            font-weight: 400;
            color: #005dd2;
            font-size: 1.4em;
        }
        .headline-grabline {
            font-size: 1.5em;
            line-height: 1.1em;
        }
        a.read-more {
            border-bottom: 0px;
        }
        a.read-more span {
            border-bottom: 0px;
            color: #010101;
        }
        .article-callout {
            margin: 3em 0;
            margin-left: 0;
        }
        .article-callout h3 {
            font-size: 1.4em;
            color: #005dd2;
            margin-right: 5%;
        }
        .article-callout h3 span {
            color: #010101;
            font-weight: 400;
        }
        @media (min-width: 50em) {
            .article-callout {
                margin-left: 20%;
            }
        }
        .article-callout div:first-child {
            margin-right: 20px;
        }
        @media (min-width: 50em) {
            .article-callout div:first-child {
                float: left;
            }
        }
        @media (min-width: 50em) {
            .right-wrap-image {
                float: right;
                margin-left: 60px;
            }
        }
        ul.no-dot li img.alignleft {
            float: left;
            margin-right: 1.5em;
        }
        .authorimage.noradius {
            border-radius: 0 !important;
        }
        .longform-guide .post p {
            margin-bottom: 0em;
        }



        /* pm/excel longform styles */

        .pm-excel .col {
            margin-top: 1em;
        }
        @media (min-width: 50em) {
            .pm-excel .pm_feature_info {
                width: 30%;
            }
        }
        @media (min-width: 50em) {
            .pm-excel .product-features {
                width: 70%;
            }
        }
        @media (min-width: 50em) {
            .pm-excel .product-features div,
            .pm-excel .product-features div:first-child:nth-last-child(3),
            .pm-excel .product-features div:first-child:nth-last-child(3) ~ div {
                width: 25%;
            }
        }
        .pm-excel .compare ol li i {

        }
        .pm-excel .compare ol li i:before {
            content: "\f058";
        }





        /* alt home styles */

        @media (min-width: 37.5em) {
            .page-header .header-copy div.align-center {
                text-align: center;
            }
        }
        @media (min-width: 50em) {
            .page-header .header-copy h1 {
                margin-right:2em;
            }
        }
        .page-header .header-copy p.alt-home {
            margin-top: 20px;
        }
        @media (min-width: 50em) {
            .page-header .header-copy p.alt-home {
                margin-right: 3em;
            }
        }
        @media (min-width: 37.5em) {
            .page-header .header-copy p.alt-home {
                font-family: "Open Sans","Verdana","Lucida Grande","Gill Sans","Arial","Helvetica",sans-serif;
                font-weight: normal;
                padding: 0;
            }
        }
        @media (min-width: 37.5em) {
            .page-header .header-copy p.alt-home.alt-home-2 {
                text-align: left;
                padding: 0 6em 0 0;
            }
        }
        .page-header .header-copy h4.alt-home .button {
            margin-top: 40px;
        }
        .scheme.alt-home,
        .scheme.big-quote {
            padding: 30px 0;
        }
        .scheme.alt-home h6,
        .scheme.another-alt h6 {
            font-family: "Open Sans","Verdana","Lucida Grande","Gill Sans","Arial","Helvetica",sans-serif;
            font-weight: bold;
            margin: 0;
        }
        .scheme.alt-home p.desc,
        .scheme.another-alt p.desc {
            font-family: "Open Sans","Verdana","Lucida Grande","Gill Sans","Arial","Helvetica",sans-serif;
            font-weight: normal;
            margin: 10px 0 40px 0;
            padding: 0 2em;
        }
        .scheme.alt-home p.desc.alt-desc {
            padding: 0;
        }
        .scheme.light-gray.alt-home h6 {
            color: #515151;
        }
        .distribute-evenly.alt-home .col>div img {
            margin-bottom: 1em;
            height: 50px;
        }
        @media (min-width: 50em) {
            .distribute-evenly.alt-home .col>div img {
                margin-bottom: 0;
            }
        }
        .distribute-evenly.alt-home .col>div img.nasa {
            height: 65px;
        }
        .distribute-evenly.alt-home .col>div img.volvo {
            height: 22px;
        }
        .distribute-evenly.alt-home .col>div img.xerox {
            height: 32px;
        }
        @media (min-width: 64.5em) {
            div.alt-home .fwp-columns.thirds-1-2>div:last-of-type {
                width: 50%;
            }
        }
        @media (min-width: 64.5em) {
            .big-quote.single-quote .col {
                padding: 0 19%;
            }
        }
        .big-quote blockquote {
            color: #515151;
            font-weight: bold;
            margin: 0;
            font-size: 1.5em;
        }
        .big-quote blockquote p{
            padding-top: 24px;
        }
        @media (min-width: 64.5em) {
            .big-quote blockquote {
            }
        }
        .alt-home-no-padding-top {
            padding-top: 0 !important;
        }
        @media (min-width: 50em) {
            .page-header .header-copy .white-header h1 {
                color: #515151;
                text-shadow: none;
            }
            .page-header .header-copy .white-header p.alt-home {
                color: #515151;
            }
            .page-header .header-copy .white-header p {
                color: #515151;
            }
        }
        .page-header .header-copy .alt-home-h1 a,
        .page-header .header-copy .alt-home-h1 a:hover,
        .page-header .header-copy .alt-home-h1 a:active,
        .page-header .header-copy .alt-home-h1 a:visited,
        .h2-buttons h2 a,
        .h2-buttons h2 a:hover,
        .h2-buttons h2 a:active,
        .h2-buttons h2 a:visited {
            border-bottom: none;
            color: #515151;
        }








        .livechat_button {
            position: fixed;
            z-index: 9999;
            display: none;
        }
        @media (min-width: 50em) {
            .livechat_button {
                display: block;
                position: relative;
                top: 0px;
                left: 0;
            }
        }
        @media (min-width: 64.5em) {
            .livechat_button {
                position: relative;
                top: 0;
                left: 0;
            }
        }
        @media (min-width: 70em) {
            .livechat_button {
                position: relative;
                top: 0;
                left: 0;
            }
        }
        @media (min-width: 81.25em) {
            .livechat_button {
                position: fixed;
                top: 536px;
                right: 50px;
                left: auto;
            }
        }
        .livechat_button img {
            margin: 0;

        }





        /* Landing Page #1 - Generic Template */


        .lpg .topmenu,
        .lpg .local-header .menu-background {

        }
        .lpg .page-header .header-copy {
            margin-left:0;
        }
        @media (min-width: 50em) {
            .lpg .page-header .header-copy h1 {
                margin-right: 0;
            }
        }
        @media (min-width: 50em) {
            .lpg .local-header {
                min-height: 550px;
            }
        }
        @media (min-width: 50em){
            .lpg .local-header-background {
                min-height: 550px;
            }
        }
        @media (min-width: 50em) {
            .lpg .local-header-background>div {
                background-size: auto 550px;
                background-position-y: top;
            }
        }
        @media (min-width: 50em) {
            .lpg .page-header .wrap {
                height: 550px;
            }
        }


        /* capterra headers */
        @media (min-width: 50em){
            .lpg.capterra-header .local-header {
                min-height: 700px;
            }
        }
        @media (min-width: 50em){
            .lpg.capterra-header .local-header-background {
                min-height: 700px;
            }
        }
        @media (min-width: 50em) {
            .lpg.capterra-header .local-header-background>div {
                min-height: 700px;
                background-size: auto 700px;
                background-position-y: bottom;
            }
        }
        @media (min-width: 50em) {
            .lpg.capterra-header .page-header .header-copy {
                width: 100%;
                margin-right: 0;
            }
        }
        @media (min-width: 50em) {
            .lpg.capterra-header .page-header .wrap>.col {
                top: 124px;
                text-align: center;
                margin: 0 auto;
                width: 100%;
            }
        }
        @media (min-width: 50em) {
            .lpg.capterra-header .page-header .header-copy h1 {
                font-size: 2.2em;
                /*     color: #101010; */
            }
        }
        @media (min-width: 50em) {
            .lpg.capterra-header .page-header .header-copy p {
                text-align: center;
                /*     color: #101010; */
                font-size: 1.3em;
                margin-top: 2px;
            }
        }
        @media (min-width: 50em) {
            .lpg.capterra-header .page-header .header-copy h4.alt-home .button {
                margin-top: 24px;
            }
        }

        /* pricing tabs for alt home pages */
        .pricing-tabs ul {
            display: inline-block;
            background: #ebebeb;
            border-radius: 0.5em;
            list-style-type: none;
            width: 285px;
        }
        .pricing-tabs ul li {
            margin: 0;
        }
        .pricing-tabs ul li.the-price {
            font-size: 2.6em;
            margin-top: 12px;
            line-height: normal;
        }
        .pricing-tabs ul li.the-rate {
            margin-bottom: 12px;
        }
        .pricing-tabs ul li.the-rate,
        .pricing-tabs ul li.the-offer {
            font-size: 1.1em;
            color: #3a3a3a;
        }
        .pricing-tabs ul li.the-offer {
            margin-top: 12px;
            margin-bottom: 18px;
        }
        .pricing-tabs ul li:first-of-type {
            background: #e1e1e1;
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            font-size: 2em;
            padding: 15px 0 11px;
        }
        .pricing-tabs ul li:before {
            display: none;
        }
        .pricing-tabs ul li a {
            font-size: 1.4em;
            padding: 0.5em 46px !important;
        }



        /* home v2 styles */
        .home-v2 div.tab,
        .gantt-v2 div.tab {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 15px;
        }
        .home-v2 div.tab a,
        .gantt-v2 div.tab a {
            display: inline-block;
            color: rgba(255,255,255,0);
            text-align: center;
            padding: 15px 10px 18px;
            margin-bottom: 38px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 0.8em;
            border: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            outline: none;
            overflow: hidden;
            width: 15%;
            height: 65px;
        }
        @media (min-width: 37.5em) {
            .home-v2 div.tab a {

            }
        }
        @media (min-width: 50em) {
            .home-v2 div.tab a,
            .gantt-v2 div.tab a {
                padding: 15px 20px 18px;
                font-size: 0.9em;
                color: #101010;
                overflow: visible;
                width: auto;
                height: auto;
            }
        }
        @media (min-width: 70em) {
            .home-v2 div.tab a {
                padding: 15px 43px 18px;
            }
        }
        .home-v2  div.tab a img,
        .gantt-v2  div.tab a img {
            width: 35px;
            height: 35px;
            filter: grayscale(100%) brightness(0%);
            -webkit-filter: grayscale(100%) brightness(60%);
        }
        @media (min-width: 37.5em) {
            .home-v2  div.tab a img,
            .gantt-v2  div.tab a img {
                width: 35px;
                height: 35px;
            }
        }
        @media (min-width: 50em) {
            .home-v2  div.tab a img,
            .gantt-v2  div.tab a img {
                width: 55px;
                height: 55px;
            }
        }
        .home-v2 div.tab a:hover,
        .gantt-v2 div.tab a:hover {
            background-color: #fff;
        }
        .home-v2 div.tab a:focus,
        .home-v2 div.tab a:hover, .active,
        .gantt-v2 div.tab a:focus,
        .gantt-v2 div.tab a:hover, .active {
            background-color: #fff;
            -webkit-box-shadow: 0px 14px 43px 0px rgba(0,0,0,0.16);
            -moz-box-shadow: 0px 14px 43px 0px rgba(0,0,0,0.16);
            box-shadow: 0px 14px 43px 0px rgba(0,0,0,0.16);
        }
        .home-v2  div.tab a.active,
        .gantt-v2  div.tab a.active {
            color: rgba(255,255,255,0);
        }
        @media (min-width: 50em) {
            .home-v2  div.tab a.active,
            .gantt-v2  div.tab a.active {
                color: #1ea6f8;
            }
        }
        .home-v2  div.tab a.active img,
        .gantt-v2  div.tab a.active img {
            filter: grayscale(0%) brightness(100%);
            -webkit-filter: grayscale(0%) brightness(100%);
        }
        .home-v2 .tabcontent,
        .gantt-v2 .tabcontent {
            display: none;
            padding: 6px 0;
            text-align: left;
            position: relative;
        }
        .home-v2 .tabcontent h4{

        }
        .home-v2 .tabcontent p{

        }
        .home-v2 .tabcontent p.quote,
        .gantt-v2 .tabcontent p.quote{
            font-size: 0.9em;
            padding-left: 77px;
            position: relative;
        }
        .home-v2 .tabcontent p.quote.no-pic,
        .gantt-v2 .tabcontent p.quote.no-pic{
            padding-left: 0;
        }
        .home-v2 .tabcontent p.quote img,
        .gantt-v2 .tabcontent p.quote img {
            width: 65px;
            height: 65px;
            position: absolute;
            left: 0;
            border-radius: 50%;
        }
        .home-v2 .tabcontent > div,
        .gantt-v2 .tabcontent > div {
            width: 100%;
            float: none;
        }
        @media (min-width: 50em) {
            .home-v2 .tabcontent > div,
            .gantt-v2 .tabcontent > div {
                width: 50%;
                float: left;
            }
        }
        .home-v2 .tabcontent .tab-copy,
        .gantt-v2 .tabcontent .tab-copy {
            padding-left: 0px;
        }
        @media (min-width: 50em) {
            .home-v2 .tabcontent .tab-copy,
            .gantt-v2 .tabcontent .tab-copy {
                padding-left: 27px;
            }
        }
        @media (min-width: 50em) {
            .home-v2 .section-description,
            .gantt-v2 .section-description {
                margin-right: 5em;
                margin-left: 5em;
            }
        }
        @media (min-width: 81.25em) {
            .home-v2 .section-description,
            .gantt-v2 .section-description {
                margin-right: 16em;
                margin-left: 16em;
            }
        }
        .home-v2-customers p {
            margin-bottom: 0.4em !important;
        }
        .home-v2-customers p.section-description {
            margin-bottom: 1.667em !important;
        }
        .home-v2-customers .button {
            margin-top: 2em;
        }
        .home-v2-nasa {
            min-height: 422px !important;
            padding: 0;
        }
        @media (min-width: 64.5em) {
            .home-v2-nasa .fwp-columns.thirds>div,
            .home-v2-quote .fwp-columns.thirds>div {
                width: 11.5%;
            }
            .home-v2-nasa .fwp-columns.thirds>div:nth-of-type(2) {
                width: 50%;
            }
            .home-v2-quote .fwp-columns.thirds>div:nth-of-type(2) {
                width: 60%;
            }
        }
        .home-v2-nasa img.nasa-casestudy{
            width: 349px;
            height: 115px;
            margin: 72px 0 38px;
        }
        .home-v2-nasa p{
            line-height: 1.4em;
        }
        .home-v2-teams div.col {
            vertical-align: top;
        }
        .home-v2-teams ul{
            text-align: left;
        }
        .home-v2-teams ul li:before {
            display: none;
        }
        .home-v2-teams p.section-description{
            text-align: center;
        }
        .home-v2-teams img {
            width: 110px;
            height: 110px;
            text-align: center;
        }
        .home-v2-ppm p.quote{
            /*   font-size: 0.9em; */
            padding-left: 154px;
            position: relative;
            text-align: left;
            margin-top: 1em;
            margin-bottom: 3em;
        }
        .home-v2-ppm p.quote img {
            width: 130px;
            height: 130px;
            position: absolute;
            top: -30px;
            left: 0;
            border-radius: 50%;
        }
        .home-v2-support {
            min-height: 590px !important;
            background-position: center center !important;
        }
        @media (min-width: 64.5em) {
            .home-v2-support p.section-description{
                margin: 0 25%;
            }
        }
        .home-v2-learn div.col {
            text-align: left;
        }
        .home-v2-learn p.quote{
            font-size: 0.9em;
            padding-left: 77px;
            position: relative;
        }
        .home-v2-learn p.quote img {
            width: 55px;
            height: 55px;
            position: absolute;
            left: 0;
        }
        @media (min-width: 64.5em) {
            .home-v2-social.social-count-section .wrap>div:first-child {
                float: none;
                margin-right: 0;
            }
        }
        @media (min-width: 64.5em) {
            .home-v2-social.social-count-section {
                padding-bottom: 3.5em;
            }
        }
        .home-v2-social.social-count-section .section-description {
            margin-bottom: 1em;
        }
        @media (min-width: 64.5em) {
            .home-v2-social.social-count-section .section-description {
                margin-bottom: 0;
            }
        }
        .home-v2-social.social-count-section .wrap>div {
            background: none !important;
        }
        @media (min-width: 64.5em) {
            .home-v2-social.social-count-section .wrap>div:last-of-type {
                position: relative;
                margin-top: 1em;
            }
        }
        .home-v2-social.social-count-section .col .social-icons,
        .home-v2-social.social-count-section .col .social-icons * {
            color: #515151;
        }
        @media (min-width: 64.5em) {
            .home-v2-social.social-count-section .col .social-icons-holder {
                width: 90%;
                margin: 0 5%;
            }
        }



        /* new Gantt styles */
        .gan .page-header .header-copy {
            margin-left:0;
        }
        .gan .page-header .header-copy  h1,
        .gan .page-header .header-copy  h2 {
            /*   text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2); */
            text-shadow: none;
        }
        .gan .page-header .header-copy  h1 {
            margin-right: 0;
        }
        @media (min-width: 50em) {
            .gan .page-header .header-copy  h1 {
                font-size: 2.6em;
                line-height: 1.2em;
            }
        }
        @media (min-width: 70em) {
            .gan .page-header .header-copy  h1 {
                /*   margin-right: 2em; */
            }
        }
        .gan .page-header .header-copy  h2 {
            font-size: 1em;
            line-height: 1.7em;
            font-weight: 300;
            margin-right: 0;
        }
        @media (min-width: 37.5em) {
            .gan .page-header .header-copy  h2 {
                margin-right: 5em;
                text-align: left;
            }
        }
        @media (min-width: 70em) {
            .gan .page-header .header-copy  h2 {
                margin-right: 5em;
            }
        }
        @media (min-width: 50em) {
            .gan .page-header .header-copy h4 .button {
                margin-top: 11px;
            }
        }
        @media (min-width: 50em) {
            .gan.more-cta-padding .page-header .header-copy h4 .button {
                margin-top: 20px;
            }
        }
        .gantt-v2 li.pro-tip {
            color: #1ea6f8;
            margin-left: 0;
        }
        .gantt-v2 li.pro-tip:before {
            display: none;
        }
        @media (min-width: 64.5em){
            .gantt-v2 .fwp-columns > div p {
                margin-right: 8.333%;
            }
        }
        @media (min-width: 64.5em){
            .gantt-v2 .fwp-columns.thirds>div {
                margin-right: 0;
            }
        }
        @media (min-width: 64.5em){
            .gantt-v2 .fwp-columns.thirds>div:first-of-type {
                width: 26%;
                vertical-align: top;
            }
        }
        @media (min-width: 64.5em){
            .gantt-v2 .fwp-columns.thirds>div:nth-of-type(2) {
                width: 66.667%;
            }
        }
        @media (min-width: 64.5em){
            .gantt-v2 .fwp-columns.thirds>div:nth-of-type(3) {
                width: 7.333%;
            }
        }
        .gantt-v2 .resource-link {
            display: block;
        }
        @media (min-width: 64.5em){
            .gantt-v2 .gantt-inventors {
                float: right;
                margin-left: 2em;
            }
        }
        .gantt-v2 div p,
        .gantt-v2 div ul,
        .gantt-v2 div ol,
        .gantt-v2 div h2,
        .gantt-v2 div h3,
        .gantt-v2 div h4,
        .gantt-v2 div h5 {
            text-align: left;
        }
        .gantt-v2 h5 {
            color: #22a8f5;
            font-weight: 300;
        }
        .gantt-v2 .little-caption {
            text-align: center;
            margin-right: 0 !important;
        }
        @media (min-width: 64.5em){
            .gantt-v2 .ebook-padding {
                padding-top: 5em;
            }
        }
        .gantt-v2 div.col > div > img,
        .gantt-v2 div.col > div > a > img {
            margin-bottom: 1.5em;
        }
        .gantt-v2 .tab {
            margin-top: 2em;
        }
        .gantt-v2 .tabcontent img,
        .gantt-v2 .tabcontent p {
            margin-bottom: 3em;
        }
        .gantt-v2 .gantt-v2-contents {
            margin-top: 1.2em;
            padding-right: 0;
            margin-left: 0;
        }
        @media (min-width: 64.5em){
            .gantt-v2 .gantt-v2-contents {
                padding-right: 1.5em;
            }
        }
        .gantt-v2 .gantt-v2-contents a {
            text-decoration: none;
            border-bottom: none;
            color: #010101;
            position: relative;
            top: -3px;
            font-size: 0.8em;
        }
        .gantt-v2 .gantt-v2-contents a.scrolledto,
        .gantt-v2 .gantt-v2-contents a:hover {
            color: #22a8f5;
        }
        .gantt-v2 .gantt-v2-contents li {
            position: relative;
            margin-bottom: 0;
            margin-left: 0;
            padding-bottom: 0.6em;
            padding-left: 20px;
            border-left: 2px solid #b7b7b7;
        }
        .gantt-v2 .gantt-v2-contents li:before {
            content: url(/wp-content/uploads/2016/01/place-3.png);
            position: absolute;
            top: 0px;
            left: 7px;
        }
        .gantt-v2 .gantt-v2-contents li:last-of-type {
            border-left: 2px solid #fff;
        }



        .fifty-fifty-icons {
            display: block;
            text-align: center;
        }
        @media (min-width: 64.5em){
            .fifty-fifty-icons {
                display: flex;
                flex-wrap: wrap;
            }
        }
        @media (min-width: 64.5em){
            .fifty-fifty-icons > div {
                width: 50%;
                padding-right: 25px;
            }
        }

        .loginmenu{
            color: black;

        }

        .info-emr{
            height: 100px;
            padding-top: 10px;
            border-radius: 5px;
            text-align: justify;
            background: #177acd;
            color: white;
            box-shadow: 0px 2px 2px 0px grey;
        }
        @font-face {
            font-family: myFirstFont;
            src: url({{ asset('bundles/landing/fonts/Blogger_Sans.otf') }});
        }
        @font-face {
            font-family: myFirstFont2;
            src: url({{ asset('bundles/landing/fonts/Blogger_Sans-Bold.otf') }});
        }
        @font-face {
            font-family: myFirstFont3;
            src: url({{ asset('bundles/landing/fonts/roboto/RobotoSlab-Bold.ttf') }});
        }
        .uno1{
            font-family: myFirstFont;
        }
        .titulos_1{
            font-family: myFirstFont2;
        }
        .objetos_carrusel{
            font-family: myFirstFont3;
        }
        .cabecera{
            width: 100%;
            text-align: center;
            color: black;
        }
        .desripcion1{
            color: black;
        }
        .mensaje{
            text-align: right;
        }

    </style>

</head>
<body class="home page-template-default page page-id-28838 loaded et_monarch" id="home">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ ga_tracking_public }}', 'auto');
    ga('send', 'pageview');
</script>

<div id="container" class="pagetop mm-page mm-slideout">
    <header class="global-header" role="banner">
        <div class="toggle-content"></div>
        <div class="global-header-inner">
            <div class="wrap cf">

                <a href="/" id="large-logo" class="imglink">
                    <img src="{{ asset('bundles/landing/images/logo_empresa.png') }}" width="500" height="30" alt="medicos.sv">
                </a>
                <a href="#home" id="small-logo" class="imglink">
                    <img src="{{ asset('bundles/landing/images/logo_empresa_pequeno.png') }}"  width="70" height="42" alt="Médicos.sv">
                </a>

                <div class="loginmenu">
                    <ul class="nav ancillary-nav">
                        <li id="menu-item-31048" class="">
                            <a href="{{ path("web_contactanos") }}" target="_blank">Contact us</a>
                        </li>
                        <li id="menu-item-30821" class="">
                            <a href="{{ path("login") }}" target="_blank">Login</a>
                        </li>
                        <li id="menu-item-28855" class="">
                            <a  href="{{ path("cliente_new") }}" target="_blank">Sing in</a>
                        </li>
                    </ul>
                </div>

                <div class="topmenu" style="background: #424A57; width:100%; height: 38px;">
                    <nav role="navigation">
                        <ul id="menu-main-menu-for-buyers" class="nav top-nav">
                            <li id="menu-item" class="menu-item">
                                <a href="#especializado">Software</a>
                            </li>
                            <li id="menu-item" class="menu-item">
                                <a href="#Emr">EMR</a>
                            </li>
                            <li id="menu-item" class="menu-item">
                                <a href="#alcance">Scope</a>
                            </li>
                            <li id="menu-item" class="menu-item">
                                <a href="{{ path('web_precios') }}" target="_blank">Pricing</a>
                            </li>
                            <li id="menu-item" class="menu-item">
                                <a href="{{ path("web_homepage") }}" target="_blank">Medic Profile</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a href="#my-menu" class="menu-toggler">
                    <i class="fa fa-bars"></i>
                    <span>Menu</span></a>
            </div>
        </div>

    </header>
    <style type="text/css">
        @media (min-width: 50em) {.local-header-background > div {background-image: url("{{ asset('bundles/landing/images/header-2X.jpg') }}");}}
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
        {
            .local-header-background > div
            {
                background-image: url("");
            }
        }
    </style>
    <header class="local-header bg_tall">
        <div class="local-header-background">
            <div></div>
        </div>
        <div class="menu-background"></div>
        <div class="page-header">
            <div class="wrap cf">
                <div class="header-copy">
                    <div class="wrap">
                        <div class="col cabecera">
                            <h1 class="mensaje" style="margin-top: 25%;color:#ffa800;">La Mejor Forma Para Administrar Tu Consulta</h1>

                            <h4 style="margin-top: 35%; position: relative;">
                                <a class="button green" href="{{ path("cliente_new") }} " target="_blank">Try for free</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="content" class="content">
        <div class="center-aligned">

            <div class="scheme cf default breadcrumb-cols top-align wider-button" id="Emr">
                <div class="wrap cf fwp-columns thirds">
                    <h4 class="section-title"></h4>
                    <h2>Expediente Clínico Electrónico (EMR Software)</h2>
                    <div class="col">
                        <h6 style="text-align: center;">Ventajas</h6>
                        <a href="" class="imglink">
                            <img src="{{ asset('bundles/landing/images/dashboard1.jpg') }}" alt="" style="max-width: 70%;" border="0" srcset="" sizes="(max-width: 600px) 100vw, 600px">
                        </a>
                        <hr>
                        <ul class="uno1" style="text-align: justify;font-style: oblique;">
                            <li>Poder analizar de mejor manera la evolución del paciente a través del tiempo</li>
                            <li>Poder agendar citas futuras de seguimiento con el paciente</li>
                            <li>Con el poder la tecnología obtener alertas de interacción de medicamentos y así evitar errores en la receta.</li>
                            <li>Buúsquedas más rápidas de la información que se requiera</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6 style="text-align: center;">Software</h6>
                        <img src="{{ asset('bundles/landing/images/paciente.jpg') }}" alt="" class="align size-medium wp-image-33891" style="max-width: 70%;" srcset="" sizes="(max-width: 600px) 100vw, 600px">
                        <hr>
                        <ul class="uno1" style="text-align: justify; font-style: oblique;">
                            <li>Un EMR es usado principalmente para ofrecer un diagnóstico y tratamiento.</li>
                            <li>Un EMR está diseñado para “mejorar” la experiencia dentro del consultorio médico.</li>
                            <li>Un EMR está diseñado para que sea compartido con colaboradores o proveedores que tienen relación con la salud del paciente.</li>
                            <li>Un EMR tiene la posibilidad de “servir” entre las áreas de una clínica u hospital como almacén, compras, caja o laboratorio.</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6 style="text-align: center;">Publicación del Perfil</h6>
                        <img src="{{ asset('bundles/landing/images/perfil_medico.jpg') }}" alt="" class="aligncenter size-medium wp-image-33863" style="max-width: 70%;" srcset="" sizes="(max-width: 600px) 100vw, 600px">
                        <hr>
                        <ul class="uno1" style="text-align: justify;font-style: oblique;">
                            <li>Tu perfil profesional estara publicado en Medicos.sv ofreciendo a los visitantes, contactatos personales, como numeros de telefonos, correos, direccion, entre redes sociales y horarios de trabajo.</li>
                            <li>El medico puede mostrar galerias de fotografias en relacion a su trabajo.</li>
                            <li>Los usuarios pueden solicitar consultas medicas a un perfil, enviando su informacion para que luego la clinica se comunique con el usuario.</li>
                        </ul>
                    </div>
                    <a class="button blue" href="https://sistema.medicos.sv/cliente/nuevo" target="_blank">Try It Free</a>

                </div>
            </div>
            <div class="scheme cf light-gray home-v2" id="ejemplo">
                <div class="wrap cf fwp-columns full">
                    <h4 class="section-title"></h4>
                    <h2>La Consulta Medica Nunca Fué Tan Fácil.</h2>
                    <p class="section-description">Administra la información de tus pacientes en cualquier momento y desde cualquier dispositivo conectado a internet.</p>
                    <div class="col">
                        <img src="{{ asset('bundles/landing/images/emr.jpg') }}" alt="" class="aligncenter size-large wp-image-34926" srcset="">
                    </div>
                </div>
            </div>
            <div class="scheme cf default home-v2" id="especializado">
                <div class="wrap cf fwp-columns full">
                    <h4 class="section-title"></h4>
                    <h2>Specialized Software</h2>
                    <div class="col">
                        <div class="tab">
                            <a href="javascript:void(0)" id="defaultOpen" class="tablinks tablink4 imglink objetos_carrusel" onclick="openTab(event, &#39;tab4&#39;)">
                                <img src="{{ asset('bundles/landing/images/multi.png') }}" border="0">
                                <br>Multiples Sucursal</a>

                            <a href="javascript:void(0)" class="tablinks tablink0 active imglink objetos_carrusel" onclick="openTab(event, &#39;tab0&#39;)" >
                                <img src="{{ asset('bundles/landing/images/dashboar_1.png') }}" border="0">
                                <br>Dashboard
                            </a>
                            <a href="javascript:void(0)" class="tablinks tablink1 imglink objetos_carrusel" onclick="openTab(event, &#39;tab1&#39;)">
                                <img src="{{ asset('bundles/landing/images/agenda_1.png') }}" border="0">
                                <br>Agenda de Cita
                            </a>
                            <a href="javascript:void(0)" class="tablinks tablink2 imglink objetos_carrusel" onclick="openTab(event, &#39;tab2&#39;)">
                                <img src="{{ asset('bundles/landing/images/consulta_1.png') }}" border="0">
                                <br>Consulta Medica
                            </a>
                            <a href="javascript:void(0)" class="tablinks tablink3 imglink objetos_carrusel" onclick="openTab(event, &#39;tab3&#39;)">
                                <img src="{{ asset('bundles/landing/images/expediente_1.png') }}" border="0">
                                <br>Expediente Medico
                            </a>

                            <a href="javascript:void(0)" class="tablinks tablink5 imglink objetos_carrusel" onclick="openTab(event, &#39;tab5&#39;)">
                                <img src="{{ asset('bundles/landing/images/reporting_active.png') }}" border="0">
                                <br>Reportes</a>
                        </div>
                        <div id="tab0" class="tabcontent" style="display: block;">
                            <div class="tab-image">
                                <img src="{{ asset('bundles/landing/images/dashboard1.jpg') }}" alt="" class="alignnone size-medium wp-image-34198" srcset="">
                            </div>
                            <div class="tab-copy">
                                <h4 class="titulos_1">Dashboard</h4>
                                <p class="uno1" style="text-align:justify;">Contempla todo lo necesario para accesar de una forma mas rapida a las secciones de calendario, agenda,alertas,citas programadas etc.</p>
                                <p>
                                    <a href="https://sistema.medicos.sv/cliente/nuevo" target="_blank" class="button blue">Try for Free</a>
                                </p>
                            </div>
                        </div>
                        <div id="tab1" class="tabcontent" style="display: none;">
                            <div class="tab-image">
                                <img src="{{ asset('bundles/landing/images/agendaMedica.jpg') }}" alt="task list software" class="alignnone size-medium wp-image-33828" srcset="">
                            </div>
                            <div class="tab-copy">
                                <h4 class="titulos_1">Agenda Medica</h4>
                                <p class="uno1" style="text-align:justify;">El medico tiene a su disposición una agenda de citas de pacientes, eventos etc. para poder llevar un control de su tiempo dia a dia.</p>
                                <p>
                                    <a href="{{ path("cliente_new") }}" target="_blank" class="button blue">Sign In Free</a>
                                </p>
                            </div>
                        </div>
                        <div id="tab2" class="tabcontent" style="display: none;">
                            <div class="tab-image">
                                <img alt="project collaboration software" class="alignnone size-medium wp-image-33812" srcset="{{ asset('bundles/landing/images/ConsultaMedica.jpg') }}">
                            </div>
                            <div class="tab-copy">
                                <h4 class="titulos_1">Consulta Medica</h4>
                                <p class="uno1" style="text-align:justify;">El medico puede iniciar la consulta con su paciente de una forma actualizada y eficiente, para ir llevando el seguimiento facil y rapido.</p>
                                <p> <a href="https://sistema.medicos.sv/cliente/nuevo" target="_blank" class="button blue">Try for Free</a>
                                </p>
                            </div>
                        </div>
                        <div id="tab3" class="tabcontent" style="display: none;">
                            <div class="tab-image">
                                <img src="{{ asset('bundles/landing/images/emr.jpg') }}" alt="ppm resource management software" class="alignnone size-medium wp-image-33857" srcset="">
                            </div>
                            <div class="tab-copy">
                                <h4 class="titulos_1">Expediente Medico</h4>
                                <p class="uno1" style="text-align:justify;">Todos los perfiles de los pacientes son creados para ser administrados bajo el seguimeinto del medico.</p>
                                <p> <a href="{{ path("cliente_new") }}" target="_blank" class="button blue">Sing In Free</a>
                                </p>
                            </div>
                        </div>
                        <div id="tab4" class="tabcontent" style="display: none;">
                            <div class="tab-image">
                                <img alt="integrated timesheet and project software" class="alignnone size-medium wp-image-34029" srcset="{{ asset('bundles/landing/images/multisucursal.jpg') }}">
                            </div>
                            <div class="tab-copy">
                                <h4 class="titulos_1">Multiples Sucursales</h4>
                                <p class="uno1" style="text-align:justify;">Como medico puedes administrar tu clinica, al mismo tiempo puedes ser parte de un grupo medico en otro establecimiento.
                                    El sistema es flexible para los niveles de clinicas, policlinicos y hopitales, dando como alternativa el poder administrar el local que convenga en el momento justo.</p>
                                <p> <a href="{{ path("cliente_new") }}"  target="_blank" class="button blue">Try for Free</a>
                                </p>
                            </div>
                        </div>
                        <div id="tab5" class="tabcontent" style="display: none;">
                            <div class="tab-image">
                                <img src="{{ asset('bundles/landing/images/reporte.jpg') }}" alt="ppm reporting tools" class="alignnone size-medium wp-image-33858" srcset="">
                            </div>
                            <div class="tab-copy">
                                <h4 class="titulos_1">Perfil Medico Administrable</h4>
                                <p class="uno1" style="text-align:justify;">El medico tiene toda la administracion de su perfil, para poder seleccionar dias de trabajo he informacion basica, mas toda las redes sociales de contactos. Tambien pueden hacer uso de la galeria de iamgenes personalizadas.</p>
                                <p> <a href="https://sistema.medicos.sv/cliente/nuevo" target="_blank" class="button blue">Prueba Gratis</a></p>
                            </div>
                        </div>
                        <p>
                            <script>function openTab(evt, tabName) {
                                    var i, tabcontent, tablinks;
                                    tabcontent = document.getElementsByClassName("tabcontent");
                                    for (i = 0; i < tabcontent.length; i++) {
                                        tabcontent[i].style.display = "none";
                                    }
                                    tablinks = document.getElementsByClassName("tablinks");
                                    for (i = 0; i < tablinks.length; i++) {
                                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                                    }
                                    document.getElementById(tabName).style.display = "block";
                                    evt.currentTarget.className += " active";
                                }
                                document.getElementById("defaultOpen").click();
                            </script>
                        </p>
                    </div>
                </div>
            </div>
            <div class="scheme cf default home-v2-teams" id="alcance">
                <div class="wrap cf fwp-columns fifths">
                    <h4 class="section-title"></h4>
                    <h2>Find :</h2>
                    <p class="section-description">Integra <em>cada</em> miembro de la organización</p>
                    <div class="col">
                        <img src="{{ asset('bundles/landing/images/clinica.png') }}" >
                        <p><strong>Personal Clinic</strong></p>
                    </div>
                </div>
            </div>

            <div class="scheme cf light-gray ">
                <div class="wrap cf fwp-columns full">
                    <div class="col"><h3>Mira Porque Medicos.sv Ofrece El Mejor Software EMR</h3>
                        <p><a class="button green" href="{{ path("cliente_new") }}" target="_blank">
                                <span class="larger">Free 30-Days</span></a></p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <footer class="footer" role="contentinfo">
        <div class="primary wrap cf">
            <div class="footer-widgets">
                <div id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
                    <h4 class="widgettitle">Official Web</h4>
                    <div class="textwidget">
                        <ul>
                            <li><a href="http://medicos.sv">Medicos.sv</a></li>
                        </ul>
                    </div>
                </div>
                <div id="black-studio-tinymce-3" class="widget widget_black_studio_tinymce">
                    <h4 class="widgettitle">Social Network</h4>
                    <div class="textwidget">
                        <ul>
                            <li><a href="https://www.facebook.com/medicosqueseven/" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
                </div>
                <div id="black-studio-tinymce-4" class="widget widget_black_studio_tinymce">
                    <h4 class="widgettitle">Email</h4>
                    <div class="textwidget">
                        <ul>
                            <li><a href="mailto:info@medicos.sv "> infomedicdirectory@gmail.com  </a></li>
                        </ul>
                    </div>
                </div>
                <div id="black-studio-tinymce-5" class="widget widget_black_studio_tinymce">
                    <h4 class="widgettitle">Support</h4>
                    <div class="textwidget">
                        <ul>
                            <li><a href="{{ path("web_contactanos") }}" target="_blank">Contáctanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ancillary wrap cf"><p class="source-org copyright">© 2018 <span>Medicos.sv.com</span></p>
            <div itemscope="" itemtype="http://schema.org/Organization" class="organization-contact-info">

                <div class="organization-address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress"> - </span>,
                    <span itemprop="addressLocality"> - s</span>
                </div>
                <div class="organization-contact">

                    <span class="item"><a href="https://medicos.sv/terminos" target="_blank">Term</a></span>
                    <span class="item"><a href="https://medicos.sv/privacidad" target="_blank">Privacy</a></span>

                    <span class="item"><a href="https://medicos.sv/contactanos" target="_blank">Contact Us</a></span>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript">var rlArgs = {
        "script":"prettyphoto",
        "selector":"lightbox",
        "customEvents":"",
        "activeGalleries":"0",
        "animationSpeed":"normal",
        "slideshow":"0","slideshowDelay":"5000",
        "slideshowAutoplay":"0","opacity":"0.75",
        "showTitle":"1",
        "allowResize":"0",
        "allowExpand":"0",
        "width":"1020",
        "height":"680",
        "separator":"\/",
        "theme":"dark_square","horizontalPadding":"20","hideFlash":"1",
        "wmode":"opaque","videoAutoplay":"1","modal":"0","deeplinking":"1",
        "overlayGallery":"1","keyboardShortcuts":"1","social":"0"};

</script>


<script type="text/javascript" defer="" href="{{ asset('bundles/landing/content/autoptimize_9c07777c8c9a64d46f05efccda7b7cae.js') }}"></script>


<div id="mm-blocker" class="mm-slideout"></div>

<script href="{{ asset('bundles/landing/content/t.js') }}" type="text/javascript" async=""></script>

</body>
</html>