{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysespecialidades:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysespecialidades:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista Especialidades</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria Especialidad</th>
                <th>Nombres</th>
                <th>Descripcion</th>
                <th>Codigo</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysEspecialidade in sysEspecialidades %}
            <tr>
                <td><a href="{{ path('sysespecialidades_show', { 'id': sysEspecialidade.id }) }}">{{ sysEspecialidade.id }}</a></td>
                <td>{{ sysEspecialidade.categoriaSysEspecialidad }}</td>
                <td>{{ sysEspecialidade.nombreSysEspecialidades }}</td>
                <td>{{ sysEspecialidade.descripcionSysEspecialidades }}</td>
                <td>{{ sysEspecialidade.codigoSysEspecialidades }}</td>
                <td>{% if sysEspecialidade.estatusSysEspecialidad %}<span class="label label-success">Yes</span>{% else %}<span class="label label-danger">No</span>{% endif %}</td>
                <td>
                    <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysespecialidades_show', { 'id': sysEspecialidade.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysespecialidades_edit', { 'id': sysEspecialidade.id }) }}"  class="btn btn-info"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#
    <ul>
        <li>
            <a href="{{ path('sysespecialidades_new') }}">Create a new entry</a>
        </li>
    </ul>#}
{% endblock %}
