{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysantecedentesespecialidad:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysantecedentesespecialidad:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Lista Antecedentes Especialidades</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Antecedente</th>
                <th>Valor</th>
                <th>Descripcion</th>
                <th>Especialidad</th>
                <th>Fecha Creacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sysAntecedentesEspecialidad in sysAntecedentesEspecialidads %}
            <tr>
                <td><a href="{{ path('sysantecedentesespecialidad_show', { 'id': sysAntecedentesEspecialidad.id }) }}">{{ sysAntecedentesEspecialidad.id }}</a></td>
                <td>{{ sysAntecedentesEspecialidad.antecedente }}</td>
                <td>{{ sysAntecedentesEspecialidad.valor }}</td>
                <td>{{ sysAntecedentesEspecialidad.descripcion }}</td>
                <td>{{ sysAntecedentesEspecialidad.idEspecialidad }}</td>
                <td>{% if sysAntecedentesEspecialidad.fechaCreacion %}{{ sysAntecedentesEspecialidad.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                     <ul class="btn-option-emr">
                        <li>
                            <a href="{{ path('sysantecedentesespecialidad_show', { 'id': sysAntecedentesEspecialidad.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('sysantecedentesespecialidad_edit', { 'id': sysAntecedentesEspecialidad.id }) }}" class="btn btn-info">
                            <i class="glyphicon glyphicon-pencil"></i>editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
