{% extends "Layout/base_admin/_admin_base.html.twig" %}

{% block title_page %}
        EMR || Menú para backend medicos
{% endblock %}

{% block breadcrumb %}
    {{ include('menu/_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('menu/_submenu.html.twig' )  }}
{% endblock %}

{% block body %}
    <h1>Menu edit</h1>
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
            {{ form_end(edit_form) }}
            <hr>
        </div>
    </div>
    <ul class="list-inline">
        
        <li>
            <a href="{{ path('menu_index') }}" class="btn btn-info"><i class="fa fa-list"></i> Listar</a>
        </li>
        <li>
            <a href="{{ path('menu_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Nuevo</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> Eliminar</button>
            {{ form_end(delete_form) }}
        </li>
        
    </ul>
    {{ include ('./menu/list_icons.html.twig') }}        
{% endblock %}
