<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Hospitals - Bootstrap 3 Template</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/web/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Template CSS Files  -->
        <link href="{{ asset('bundles/web/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/web/js/plugins/camera/css/camera.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/web/js/plugins/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/web/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/web/css/responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/web/css/custom.css') }}" rel="stylesheet">
    </head>
    <body>

        <!-- Header Starts -->
        <header class="main-header">
            <!-- Nested Container Starts -->
            <div class="container">
                <!-- Top Bar Starts -->
                <div class="top-bar hidden-sm hidden-xs">
                   {% include 'WebBundle:Default:topbar.html.twig' %}
                </div>
                <!-- Top Bar Ends -->
                <!-- Navbar Starts -->
                <nav id="nav" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Navbar Header Starts -->
                        <div class="navbar-header">
                            <!-- Collapse Button Starts -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- Collapse Button Ends -->
                            <!-- Logo Starts -->
                            <a href="{{ path('web_homepage') }}" class="navbar-brand">
                                <i class="fa fa-heartbeat"></i>
                                NOMBRE
                            </a>
                            <!-- Logo Ends -->
                        </div>
                        <!-- Navbar Header Ends -->
                        <!-- Navbar Collapse Starts -->
                        <div class="navbar-collapse collapse">
                            {% include 'WebBundle:Default:menutop.html.twig' %}
                        </div>
                        <!-- Navbar Collapse Ends -->
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </div>
            <!-- Nested Container Ends -->
        </header>   
        <!-- Header Ends -->
        <!-- Main Container Starts -->
        <div id="fixed-bar">
            {%block breadcrumb %}{%endblock%}
            
                <div class="container">
                {%block filter %}{%endblock%}
                
            </div>
        </div>
        {%block bodynocontainer %}{%endblock%}
        
        {% set _body = block('body') %}
        {% if _body is not empty %}
            <div class="container main-container">
                {%block body %}{%endblock%}
            </div>
        {% endif %}
    <!-- Main Container Ends -->
    <!-- Footer Starts -->
    <footer class="main-footer">
        <!-- Footer Area Starts -->
        <footer class="main-footer">
            <!-- Footer Area Starts -->
            <div class="footer-area">
                <!-- Nested Container Starts -->
                <div class="container">
                    <div class="row">
                        <!-- Hosptial Information Starts -->
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            {% include 'WebBundle:Default:acercade.html.twig' %}
                        </div>
                        <!-- Hosptial Information Ends -->
                        <!-- Services Starts -->
                        <div class="col-md-2 col-sm-4 col-xs-12">
                           {% include 'WebBundle:Default:servicios.html.twig' %}
                        </div>
                        <!-- Services Ends -->
                        <!-- Twitter Starts -->
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            {% include 'WebBundle:Default:redessociales.html.twig' %}
                        </div>
                        <!-- Twitter Ends -->
                        <!-- Signup Newsletter Starts -->
                        <div class="col-md-4 col-xs-12 newsletter-block">
                           {% include 'WebBundle:Default:subscripcion.html.twig' %}
                        </div>
                        <!-- Signup Newsletter Ends -->
                    </div>
                </div>
                <!-- Nested Container Ends -->
            </div>
            <!-- Footer Area Ends -->
            <!-- Copyright Starts -->
            <div class="copyright">
               {% include 'WebBundle:Default:copyright.html.twig' %}
            </div>
            <!-- Copyright Ends -->
        </footer>
        <!-- Footer Area Ends -->
        <!-- Copyright Starts -->
        <div class="copyright">
            <div class="container clearfix">

            </div>
        </div>
        <!-- Copyright Ends -->
    </footer>
    <!-- Footer Ends -->

    <!-- Template JS Files -->
    <script src="{{ asset('bundles/web/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/jquery-migrate-1.2.1.min.js') }}"></script>  
    <script src="{{ asset('bundles/web/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/camera/js/jquery.mobile.customized.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/camera/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/camera/js/camera.min.js') }}"></script>  
    <script src="{{ asset('bundles/web/js/plugins/shuffle/jquery.shuffle.modernizr.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('bundles/web/js/jquery-scrolltofixed-min.js') }}"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> !-->
    <script src="{{ asset('bundles/web/js/custom.js') }}"></script>
</body>