{% extends "::base.html.twig" %}

{% block breadcrumb %}
    {{ include('AppBundle:sysusuario:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysusuario:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Lista de Usuarios</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Esactivo</th>
                        <th>Telefono</th>
                        <th>Fecha creacion</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for sysUsuario in sysUsuarios %}
                    <tr>
                        <td><a href="{{ path('sysusuario_show', { 'id': sysUsuario.id }) }}">{{ sysUsuario.id }}</a></td>
                        <td>{{ sysUsuario.nombreSysUsuario }}</td>
                        <td>{{ sysUsuario.emailSysUsuario }}</td>
                        <td>{{ sysUsuario.esActivoSysUsuario }}</td>
                        <td>{{ sysUsuario.telefonoSysUsuariocol }}</td> 
                        <td>{% if sysUsuario.fechaCreacionSysUsuario %}{{ sysUsuario.fechaCreacionSysUsuario|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('sysusuario_show', { 'id': sysUsuario.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('sysusuario_edit', { 'id': sysUsuario.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('sysusuario_new') }}">Create a new entry</a>
                </li>
            </ul>
        
        </div>
    </div>
{% endblock %}

{% block codejs %}
    <script>
        $(function(){

          });
    </script>
{% endblock %} 
