{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:sysusuario:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:sysusuario:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Nuevo Usuario</h1>
    {#
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    #}
    {{ form_start(form, {'attr': {'class': ''}}) }}    
            
                {# {{ form_widget(form) }} #}
                
                <div class="form_error">{{ form_errors(form)}}</div>
                <div class="row magin-bottom10">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.nombreSysUsuario)}}</div>
                        <div><label for="">Nombres</label></div>
                        {{ form_widget(form.nombreSysUsuario) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.apellidoSysUsuario)}}</div>
                        <div><label for="" class="">Apellidos</label></div>
                        {{ form_widget(form.apellidoSysUsuario) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.emailSysUsuario)}}</div>
                        <label for="" class=" control-label">Email</label>
                        {{ form_widget(form.emailSysUsuario) }}
                    </div>
                </div>
                
                <div class="row magin-bottom10">
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.genero)}}</div>
                        <label for="" class=" control-label">Genero</label>
                        {{ form_widget(form.genero) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.telefonoSysUsuario)}}</div>
                        <div><label for="" class="">Teléfono</label></div>
                        {{ form_widget(form.telefonoSysUsuario) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.celularSysUsuario)}}</div>
                        <label for="" class=" control-label">Celular</label>
                        {{ form_widget(form.celularSysUsuario) }}
                    </div>
                </div>
                    
                <div class="row magin-bottom10">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.jvrmSysUsuario)}}</div>
                        <div><label for="">JVRM</label></div>
                        {{ form_widget(form.jvrmSysUsuario) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.numeroNup)}}</div>
                        <div><label for="">NUP</label></div>
                        {{ form_widget(form.numeroNup) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.duiSysUsuario)}}</div>
                        <div><label for="" class="">DUI</label></div>
                        {{ form_widget(form.duiSysUsuario) }}
                    </div>
                    
                </div>
                    
                <div class="row magin-bottom10">
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.numeroAfp)}}</div>
                        <label for="" class=" control-label">AFP</label>
                        {{ form_widget(form.numeroAfp) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.ocupacion)}}</div>
                        <div><label for="">Ocupacion</label></div>
                        {{ form_widget(form.ocupacion) }}
                    </div>
                    
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.direccion)}}</div>
                        <div><label for="" class="">Direccíon</label></div>
                        {{ form_widget(form.direccion) }}
                    </div>
                    
                </div> 
                
                <div class="row magin-bottom10">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.codigoPostalSysUsuario)}}</div>
                        <div><label for="">Código postal</label></div>
                        {{ form_widget(form.codigoPostalSysUsuario) }}
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.idMunicipioSysUsuario)}}</div>
                        <div><label for="" class="">Municipio</label></div>
                        {{ form_widget(form.idMunicipioSysUsuario) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.tarjetaCreditoSysUsuario)}}</div>
                        <div><label for="" class="">Tarjeta de crédito</label></div>
                        {{ form_widget(form.tarjetaCreditoSysUsuario) }}
                    </div>
                    
                    
                    
                </div>
                    
                <div class="row magin-bottom10">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.idRol)}}</div>
                        <label for="" class=" control-label">Typo de Role</label>
                        {{ form_widget(form.idRol) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.sysUsuario)}}</div>
                        <label for="" class=" control-label">Usuario</label>
                        {{ form_widget(form.sysUsuario) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.passwordSysUsuario)}}</div>
                        <div><label for="">Password</label></div>
                        {{ form_widget(form.passwordSysUsuario) }}
                    </div>
                    
                </div>
                    
                <div class="row magin-bottom10">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="form_error">{{ form_errors(form.estatusSysUsuario)}}</div>
                        <div>Estatus</div>
                        <div class="checkbox">
                                <label>
                                    {{ form_widget(form.estatusSysUsuario) }}
                                    <span class="text"></span>
                                </label>
                        </div> 
                    </div>
                </div>    
                    
                
                <div class="form-group">
                      
                </div>
            
                                
                <input type="submit" value="Crear" class="btn btn-primary" />
            {{ form_end(form) }}
    {#
            <ul>
        <li>
            <a href="{{ path('sysusuario_index') }}">Back to the list</a>
        </li>
    </ul> 
            #}
{% endblock %}
