{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ include('AppBundle:syssugerencias:_breadcrumb.html.twig' )  }}
{% endblock %} 

{% block submenutop %}
    {{ include('AppBundle:syssugerencias:_submenu.html.twig' )  }}
{% endblock %} 

{% block body %}
    <h1>Crear Sugerencias</h1>

     {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissible alert-success"><span class="glyphicon glyphicon-ok-sign"></span> {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-dismissible alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ flashMessage }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

            {{ form_start(form) }}

            <div class="form-group">
                    <div class="form_error">{{ form_errors(form.sysArea)}}</div>
                    <div><label for="">Area</label></div>
                    {{ form_widget(form.sysArea) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.sysInstitucion)}}</div>
                    <div><label for="">Institucion</label></div>
                    {{ form_widget(form.sysInstitucion) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.comentarioSysSugerencia)}}</div>
                    <div><label for="">Comentario</label></div>
                    {{ form_widget(form.comentarioSysSugerencia) }}
                </div>

                <div class="form-group">
                    <div class="form_error">{{ form_errors(form.estatusSugerencia)}}</div>
                    <div>Estatus</div>
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.estatusSugerencia) }}
                            <span class="text"></span>
                        </label>
                    </div>   
                </div>

          
             <input type="submit" value="Crear" class="btn btn-info" />
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
