{% extends 'Layout/base_web/_web_base.html.twig' %}
{%block body %}
<style type="text/css">
    .descripcion{
        width: 100%;
        height: 20px;
        text-align: left;
        background: none;
        float: left;
        display: inline-block;
    }
    .paginacion_rigth{
        float: right;
        display: inline-block;
        background: none;

    }
    .charly_enfocate{
        float: right;
    }
</style>
    {% set med_length = medicos|length %}
    {% set row_limit = med_length / 4 %}
    <ul id="doctors-grid" class="row grid">
    {% if (medicos|length == 0) %}
        <span>No se encontraron coincidencias</span>
    {% endif %}
    {% for m in medicos %}
        
        <li class="col-md-3 col-sm-4 col-xs-12 doctors-grid" data-groups='["all", "healthcare"]' style="margin-bottom: 10px;">
            
            <div class="bio-box" >
                <a href="{{ path( "web_doctores_perfil", {"med_id" : m.cli_usu_usu_id} ) }}">
                <div class="profile-img">
                    {% set imgPerfil =  "uploads/perfil/" ~ m.gal_hash %}
                    <img src="{{ image(imgPerfil).resize(250,250).jpeg(85) }}" alt="Doctor" class="lazy img-responsive img-center-sm img-center-xs" >
                    <!--
                    <div class="overlay">
                        <ul class="list-unstyled list-inline sm-links">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    -->
                </div>
                <div class="inner">

                    <h5>{{ m.cli_usu_titulo }} {{ m.usu_primer_apellido }}  {{ m.usu_segundo_apellido }}</h5>
                    <p class="designation">
                   {{ m.especialidades }}
                    </p> <!--  Cardiac Clinic, Health Care -->
                    <p class="divider"><i class="fa fa-plus-square"></i>

                    <div class="table-responsive">
                        <table class="table text-nowrap" width="100%" style="table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <td width="10%">
                                        <div class="media-left media-middle descripcion">
                                            <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                <i class="fa fa-map"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td width="90%">
                                        <span class="text-muted text-size-small descripcion">{{ m.cli_usu_direccion }}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="media-left media-middle descripcion">
                                            <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                <i class="fa fa-phone"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-muted text-size-small descripcion">{{ m.cli_usu_telefono }}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="media-left media-middle descripcion">
                                            <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <span style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" title="{{ m.cli_usu_correo }}" class="text-muted text-size-small descripcion">+{{ m.cli_usu_correo }}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    </p>
                </div>							
               <a href="{{ path( "web_doctores_perfil", {"med_id" : m.cli_usu_usu_id} ) }}" class="btn btn-secondary text-uppercase">Ver Perfil</a>                
                <!-- /doctores -->
                </a>
            </div>
            
        </li>
        
    {% endfor  %}
    </ul>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 paginacion_rigth">
            <div class="charly_enfocate">
                {{ knp_pagination_render(medicos) }}
            </div>
        </div>
    </div>
    

{% endblock %}
