{% extends 'Layout/base_web/_web_base.html.twig' %}
{%block body %}
    {% set med_length = medicos|length %}
    {% set row_limit = med_length / 4 %}
    <ul id="doctors-grid" class="row grid">
    {% for m in medicos %}
        <li class="col-md-4 col-sm-6 col-xs-12 doctors-grid" data-groups='["all", "healthcare"]' style="margin-bottom: 100px;">
            <div class="bio-box">
                <div class="profile-img">
                    <img data-src="{{ asset("bundles/web/images/doctors/doctor-bio-img6.jpg") }}" src="" alt="Doctor" class="lazy img-responsive img-center-sm img-center-xs" >
                    <div class="overlay">
                        <ul class="list-unstyled list-inline sm-links">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner">
                    <h4>{{ m.usu_titulo}} {{ m.usu_nombre}}</h4>
                    <p class="designation">{{ m.cli_nombre}}</p> <!--  Cardiac Clinic, Health Care -->
                    <p class="divider"><i class="fa fa-plus-square"></i></p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. It was popularised in the with the release of Letraset sheets Lorem Ipsum passages.
                    </p>
                </div>							
                <a href="{{ path( "web_doctores_perfil", {"med_id" : m.cli_usu_usu_id} ) }}" class="btn btn-secondary text-uppercase">Ver Perfil</a>
                <!-- /doctores -->
            </div>
        </li>
    {% endfor  %}
    </ul>
<!-- Aqui va el carousel {{NombreProyecto}} -->
{% endblock %}
