{% extends 'Layout/base_web/_web_base.html.twig' %}
{%block body %}
<style type="text/css">
    .descripcion{
        width: 100%;
        height: 20px;
        text-align: left;
        background: none;
        float: left;
        display: inline-block;
    }
</style>
    {% set med_length = medicos|length %}
    {% set row_limit = med_length / 4 %}
    <ul id="doctors-grid" class="row grid">
    {% for m in medicos %}
        <li class="col-md-3 col-sm-4 col-xs-12 doctors-grid" data-groups='["all", "healthcare"]' style="margin-bottom: 100px;">
            <div class="bio-box">
                <div class="profile-img">
                    <img data-src="{{ asset("bundles/web/images/doctors/doctor-bio-img6.jpg") }}" src="" alt="Doctor" class="lazy img-responsive img-center-sm img-center-xs" >
                    <div class="overlay">
                        <ul class="list-unstyled list-inline sm-links">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner">

                    <h5>{{ m.cliUsuUsu.usuTitulo }}. {{ m.cliUsuUsu.usuPrimerApellido }}  {{ m.cliUsuUsu.usuSegundoApellido }}</h5>
                    <p class="designation">{{ m.cliUsuUsu.usuId}}</p> <!--  Cardiac Clinic, Health Care -->
                    <p class="divider"><i class="fa fa-plus-square"></i>

                    <div class="table-responsive">
                        <table class="table text-nowrap" width="100%">
                            <tbody>
                                <tr>
                                    <td width="10%">
                                        <div class="media-left media-middle descripcion">
                                            <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                <i class="fa fa-map"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td width="90%">
                                        <span class="text-muted text-size-small descripcion">{{ m.cliUsuUsu.usuInformacion.usiDireccion }}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="media-left media-middle descripcion">
                                            <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                <i class="fa fa-phone"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-muted text-size-small descripcion">{{ m.cliUsuUsu.usuInformacion.usiTelefono }}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="media-left media-middle descripcion">
                                            <a href="#" class="btn bg-primary-400 btn-rounded btn-icon btn-xs">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-muted text-size-small descripcion">{{ m.cliUsuUsu.usuInformacion.usiCorreo }}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    </p>
                </div>							
               <a href="{{ path( "web_doctores_perfil", {"med_id" : m.cliUsuUsu.usuId} ) }}" class="btn btn-secondary text-uppercase">Ver Perfil</a>                
                <!-- /doctores -->
            </div>
        </li>
    {% endfor  %}
    </ul>
<!-- Aqui va el carousel {{NombreProyecto}} -->
{% endblock %}
