{% extends 'Layout/base_web/_web_base.html.twig' %}
{% block breadcrumb %}
    <!-- Breadcrumb Starts -->
    <div class="breadcrumb">
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li><a href="{{ url('web_homepage') }}">Inicio</a></li>
                <li><a href="{{ url('web_homepage') }}">Doctores</a></li>
                <li class="active">Perfil</li>
            </ul>
        </div>
    </div>		
    <!-- Breadcrumb Ends -->
{% endblock %}




{%block body %}



<style type="text/css">
    .redes{
        text-align: center;
    }
    .circled {
        border-radius: 50%;
        display: inline-block;
        color: #fff;
        width: 1.3em;
        height: 1.3em;
        text-align: center;
        line-height: 1.3em;
        background: #5bc0de;
    }
    .circled:hover{
        background: grey;
    }
    .central{
    text-align: center;
}

.descripciones_esp{
    text-align: justify;
}
.cita_form{
    display: none;
    padding: 10px;
}
</style>

<!--
<script type="text/javascript">

        $(document).ready(function() {
            /*
             *  Simple image gallery. Uses default settings
             */

            $('.fancybox').fancybox();

            /*
             *  Different effects
             */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title : {
                        type : 'outside'
                    },
                    overlay : {
                        speedOut : 0
                    }
                }
            });

            // Disable opening and closing animations, change title type
            $(".fancybox-effects-b").fancybox({
                openEffect  : 'none',
                closeEffect : 'none',

                helpers : {
                    title : {
                        type : 'over'
                    }
                }
            });

            // Set custom style, close if clicked, change title type and overlay color
            $(".fancybox-effects-c").fancybox({
                wrapCSS    : 'fancybox-custom',
                closeClick : true,

                openEffect : 'none',

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    overlay : {
                        css : {
                            'background' : 'rgba(238,238,238,0.85)'
                        }
                    }
                }
            });

            // Remove padding, set opening and closing animations, close if clicked and disable overlay
            $(".fancybox-effects-d").fancybox({
                padding: 0,

                openEffect : 'elastic',
                openSpeed  : 150,

                closeEffect : 'elastic',
                closeSpeed  : 150,

                closeClick : true,

                helpers : {
                    overlay : null
                }
            });

            /*
             *  Button helper. Disable animations, hide close button, change title type and content
             */

            $('.fancybox-buttons').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',

                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,

                helpers : {
                    title : {
                        type : 'inside'
                    },
                    buttons : {}
                },

                afterLoad : function() {
                    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
                }
            });


            /*
             *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
             */

            $('.fancybox-thumbs').fancybox({
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : false,
                arrows    : false,
                nextClick : true,

                helpers : {
                    thumbs : {
                        width  : 50,
                        height : 50
                    }
                }
            });

            /*
             *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
            */
            $('.fancybox-media')
                .attr('rel', 'media-gallery')
                .fancybox({
                    openEffect : 'none',
                    closeEffect : 'none',
                    prevEffect : 'none',
                    nextEffect : 'none',

                    arrows : false,
                    helpers : {
                        media : {},
                        buttons : {}
                    }
                });

            /*
             *  Open manually
             */

            $("#fancybox-manual-a").click(function() {
                $.fancybox.open('1_b.jpg');
            });

            $("#fancybox-manual-b").click(function() {
                $.fancybox.open({
                    href : 'iframe.html',
                    type : 'iframe',
                    padding : 5
                });
            });

            $("#fancybox-manual-c").click(function() {
                $.fancybox.open([
                    {
                        href : '1_b.jpg',
                        title : 'My title'
                    }, {
                        href : '2_b.jpg',
                        title : '2nd title'
                    }, {
                        href : '3_b.jpg'
                    }
                ], {
                    helpers : {
                        thumbs : {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });
        });
</script>
-->

    <!-- Doctor Profile Starts -->
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="profile-block">
                <div class="panel panel-profile">
                    <div class="panel-heading container-fluid">
                        {% set imgPerfil =  "uploads/perfil/" ~ medico.galeria.galHash %}
                        <img style="width:100%;margin-top:0.1em;" src="{{ image(imgPerfil).scaleResize(500).jpeg(85) }}" alt="Imagen del doctor" class="img-responsive img-center-xs">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for c in medico.redes %}
                                <a href="{#{ c.usuSocUrl}#}">
                                    <span class="label label-primary">{{ c.idSocialRed.socRedNombre }}</span>
                                </a>                                
                            {% endfor %}
                        </div>
                    
                    </div>
                    <div class="panel-footer text-center-md text-center-sm text-center-xs">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                                <a href="{{ path( "web_homepage") }}" class="btn btn-secondary text-uppercase">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    Regresar
                                </a>
                                
                                <a href="#" class="btn btn-secondary text-uppercase" id="solicitar_cita">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    Solicitar Cita
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="cita_form">
                    <input type="hidden" name="idCliente" id="idCliente" value="{{ medico.usuario.cliUsuCli.cliId }}" />                    
                        <input type="hidden" name="idUsuario" id="idUsuario" value="{{ medico.usuario.cliUsuUsu.usuId }}" />
                    <form id="solicitud_cita">
                        <div class="row">
                            <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                <h6 class="alert-heading text-semibold">Ingresa la información solicitada y en breve te contactaremos, para brindarte la ayuda que necesitas. <h6>
                                <span class="clinica_mensaje"><p>Att:  {{ medico.usuario.cliUsuCli.cliNombreComercial}}</p></span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" id="nombre_1" required="true" placeholder="Nombre Completo" aria-describedby="basic-addon1">
                            </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone"></i></span>
                                <input type="text" pattern="[2-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" class="form-control" id="telefono_1" required="true" placeholder="Telefono" aria-describedby="basic-addon1">
                            </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" id="correo_1" required="true" placeholder="Correo" aria-describedby="basic-addon1">
                            </div>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                                    <input type='text' class="form-control birth_date" id="fecha_1" value="{{ "now"|date("m/d/Y") }}" required="true" placeholder="Fecha" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control pickatime" value="{{ "now"|date("H:i A") }}" required="true" id="hora_1" placeholder="Hora">
                                </div>
                            </div>                         
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">                            
                                <textarea id="comentario" class="form-control" placeholder="Comentario"></textarea>                            
                            </div>
                        </div>

                        <br>
                        <div class="panel-footer text-center-md text-center-sm text-center-xs">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-user-md"></i></span>                                   
                                <input type="submit" name="enviar" value="Enviar" class="btn btn-secondary col-sm-12 col-xs-12"/>
                            </div>                            
                        </div>
                    </form>
                    </div>

                    

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">

            <article class="news-post">
            {#{ dump(medico)}#}
                <div class="inner">
                    <h4>
                        
                        {{ medico.usuario.cliUsuTitulo}}
                        {{ medico.usuario.cliUsuUsu.usuNombre|title }}
                        {{ medico.usuario.cliUsuUsu.usuSegundoNombre|title }}
                        {{ medico.usuario.cliUsuUsu.usuPrimerApellido|title }}
                        {{ medico.usuario.cliUsuUsu.usuSegundoApellido|title }}
                        
                    </h4>
                    <h5>
                        {#{ medico.especialidad[0].idEspecialidad.espEspecialidad }#}
                    </h5>
                    <h6>
                        <span class="nombre_clinica">{{ medico.usuario.cliUsuCli.cliNombreComercial}} </span>
                    </h6>
                    <h6>
                        <p><b>Dirección:</b></p>
                        {{ medico.usuario.cliUsuCli.cliDireccion}}.<br />
                        {{ medico.usuario.cliUsuCli.cliMun.munNombre}}, {{ medico.usuario.cliUsuCli.cliMun.munDep.depDepartamento}}
                                    
                    </h6>
                    <ul class="list-unstyled list-inline post-meta">
                        <li>
                            <i class="fa fa-eye"></i>Visitas {{ medico.vistas }}
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> <a href="mailto:{{ medico.usuario.cliUsuCorreo }}">{{ medico.usuario.cliUsuCorreo }}</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> {{ medico.usuario.cliUsuTelefono }}
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-hospital-o"></i>                            
                            {{ medico.usuario.cliUsuCli.clitelefono1 }} |
                            {{ medico.usuario.cliUsuCli.clitelefono2 }}
                        </li>
                    </ul>
                    <table class="table" width="100%" border=0>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <b>Días laborales: </b><br><br>

                                    {% if horario|length %}

                                        <table class="table table-striped text-center" style="table-layout: fixed;">
                                            <tr>
                                                {% for key, horas in horario %}
                                                    <th class="text-center">
                                                        {% if ( key == hoy) %}
                                                            <span style="color:#009bdb">{{ key }}</span>
                                                        {% else %}
                                                            {{ key }}
                                                        {% endif %}
                                                    </th>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                {% for key, horas in horario %}
                                                    <td>
                                                        {{ horas|raw }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <b>Especialidades: </b>

                                    {% for e in medico.especialidad %}
                                            <i class="fa fa-check"></i><b> {{e.idEspecialidad.espEspecialidad }} {% if (e.descripcion|length > 0)  %}:{% endif %}</b> {{e.descripcion }}
                                            {% if not loop.last %},{% endif %}
                                    {% endfor %}
                            </tr>

                        </tbody>
                    </table>
                        
                </div>
            </article>
        </div>
    </div>

    <div class="container">

            <div class="row">
                <article class="news-post inner">
                    <p><b>Información:</b></p>
                    {{ medico.usuario.cliUsuInfoPerfil|raw }}
                </article>
            </div>

        <div class="row">

            <p><b>Ubicación:</b></p>
            <input type="hidden" value="{{ medico.usuario.cliUsuCli.cliUbicacionLat }}" id="lon"/>
            <input type="hidden" value="{{ medico.usuario.cliUsuCli.cliUbicacionLon }}" id="lat"/>
            <div id="map_canvas" style="width: 100%; height:300px;"></div>
        </div>



    </div>

    <div class="row">
    <!--
        <h4>GALERIA</h4>
        <p>

            <a class="fancybox" href="{{ asset("bundles/web/images/galeria/1_b.jpg") }}" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
            <img src="{{ asset("bundles/web/images/galeria/2_s.jpg") }}" alt="" /></a>

            <a class="fancybox" href="{{ asset("bundles/web/images/galeria/2_b.jpg") }}" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp">
            <img src="{{ asset("bundles/web/images/galeria/1_s.jpg") }}" alt="" /></a>

        </p>
        -->
    </div>
    <!-- Doctor Profile Ends -->

</div>

{% endblock %}


{% block codejs %}

<script>

    $(document).ready(function(){
        
        $("#solicitar_cita").click(function(){
            showForm();
        });

        $.datepicker.regional['es'] = {
                        closeText: 'Cerrar',
                        prevText: '< Ant',
                        nextText: 'Sig >',
                        currentText: 'Hoy',
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                        weekHeader: 'Sm',
                        dateFormat: 'yy-mm-dd',
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: ''
                    };
                    $.datepicker.setDefaults($.datepicker.regional['es']);
                    $( ".birth_date" ).datepicker({
                        changeMonth: true,
                        changeYear: true,
                        //yearRange: '(new Date).getFullYear():'+(new Date).getFullYear()
                    });
        });

    function showForm(){
        $(".cita_form").fadeIn();
        $(".nombre_clinica")

        $('html, body').animate({
            scrollTop: $(".cita_form").offset().top-140
        }, 2000);

    }

    $("#solicitud_cita").submit(function(){
        var id = 1;
        //validacion telefono
        var telefono    = $("#telefono_1").val();
        var nombre      = $("#nombre_1").val();
        var correo      = $("#correo_1").val();
        var idCliente   = $("#idCliente").val();
        var idUsuario   = $("#idUsuario").val();
        var comentario  = $("#comentario").val();
        var fecha       = $("#fecha_1").val();
        var hora        = $("#hora_1").val();


        if(telefono!=null && nombre!=null && correo!=null)
        {
            $.ajax({
            type: "post",
            url: "{{ path('web_solicitar_cita') }}",
            data: {idCliente: idCliente,idUsuario:idUsuario,telefono:telefono,nombre:nombre,correo:correo,comentario:comentario,fecha:fecha,hora:hora},
                error: function (data) {
                },
                success: function (data) {

                    $(".cita_form").fadeOut();   
                                     
                    $("#solicitud_cita :input").each(function(){
                        $(this).val('');
                    });

                    
                }
            });
        }       

        
    });





</script>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
<<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMGKx9bC8Drjy6j6Kh83YS8zuFC-BzqyM"></script>
<script src="{{ asset('bundles/web/js/jquery.ui.map.full.min.js') }}"></script>
<script type="text/javascript">
        // check DOM Ready
        $(document).ready(function() {
            // execute

            var sLat = $("#lat").val();
            var sLon = $("#lon").val();
            (function() {

                // map options
                var options = {
                    zoom: 14,
                    center: new google.maps.LatLng(sLon,sLat), // centered US
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: true,
                    draggable: true,
                };

                // init map
                var map = new google.maps.Map(document.getElementById('map_canvas'), options);
        
                    // init markers
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(sLon,sLat),
                        map: map,
                        draggable: true,
                    });

                    // process multiple info windows
                    (function(marker, i) {
                        // add click event
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow = new google.maps.InfoWindow({
                                content: 'Hello, World!!'
                            });
                            infowindow.open(map, marker);
                        });
                    });
                
            })();
        });
        </script>

{% endblock  %}

