{% extends 'Layout/base_web/_web_base.html.twig' %}
{% block breadcrumb %}
    <!-- Breadcrumb Starts -->
    <div class="breadcrumb">
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li><a href="{{ url('web_homepage') }}">Inicio</a></li>
                <li><a href="{{ url('web_homepage') }}">Doctores</a></li>
                <li class="active">Perfil</li>
            </ul>
        </div>
    </div>		
    <!-- Breadcrumb Ends -->
{% endblock %}



{%block body %}
    <!-- Doctor Profile Starts -->
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="profile-block">
                <div class="panel panel-profile">
                    <div class="panel-heading">
                        <img src="{{ asset("bundles/web/images/doctors/doctor-bio-img6.jpg") }}" alt="Doctor Profile Image" class="img-responsive img-center-xs">
                        <h3 class="panel-title">{{ medico.usuario.usuTitulo}}. {{ medico.usuario.usuPrimerApellido|title }} {{ medico.usuario.usuSegundoApellido|title }}</h3>
                        
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li class="row">
                                <span class="col-sm-5 col-xs-12"><b>Dias laborales:</b></span>                                
                                {% if medico.usuario.usuInformacion.usiDiasTrabajo is empty %}
                                    <span class="col-sm-7 col-xs-12"><b>{{ 'N/A' }}</b></span>
                                {% else %}
                                    <span class="col-sm-7 col-xs-12">
                                    <ul>
                                        </i>{{ medico.usuario.usuInformacion.usiDiasTrabajo }}
                                    </ul>
                                    
                                    </span>
           
                                {% endif %}
                            </li>

                        </ul>
                    </div>
                    <div class="panel-footer text-center-md text-center-sm text-center-xs">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <a href="news-single.html" class="btn btn-secondary">
                                    <i class="fa fa-arrow-circle-left"></i> Regresar</a>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <a href="" class="btn btn-secondary text-uppercase">Agendar cita</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">

            <article class="news-post">
            {#{ dump(medico)}#}
                <div class="inner">
                    <h4>
                        <a href="news-single.html">
                        {{ medico.usuario.usuTitulo}}.
                        {{ medico.usuario.usuNombre|title }}
                        {{ medico.usuario.usuSegundoNombre|title }}
                        {{ medico.usuario.usuPrimerApellido|title }}
                        {{ medico.usuario.usuSegundoApellido|title }}
                        </a>
                    </h4>
                    <h5>
                        {{ medico.especialidad[0].idEspecialidad.espEspecialidad }}
                    </h5>
                    <h6>
                        <span>Establecimiento : </span>{{ medico.cliente.cliUsuCli.cliNombreComercial}}
                    </h6>
                    <ul class="list-unstyled list-inline post-meta">
                        <li>
                            <i class="fa fa-eye"></i>Visitas {{ medico.vistas }}
                        </li>
                        <li>
                            <i class="fa fa-user"></i> By <a href="#">Admin</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-comments-o"></i> 10 Comments
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            {{ medico.cliente.cliUsuCli.clitelefono1 }} |
                            {{ medico.cliente.cliUsuCli.clitelefono2 }}
                        </li>
                    </ul>
                    <table class="table" width="100%" border=0>

                        <tbody>
                            <tr>
                                <td width="20%"><b>Dirección :</b> </td>
                                <td width="80%">
                                    {{ medico.cliente.cliUsuCli.cliMun.munNombre}}
                                    / {{ medico.cliente.cliUsuCli.cliDireccion}}
                                </td>
                            </tr>
                            <tr>
                                <td width="20%"><b>Educación :</b> </td>
                                <td width="80%">
                                    {{ medico.usuario.usuInformacion.usiEducacion }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>Especialidades: </b></td>
                                <td>
                                    <table class="table-condensed">
                                        {% for e in medico.especialidad %}
                                        <tr>
                                            <td>
                                                {{e.idEspecialidad.espEspecialidad }} : {{e.descripcion }}
                                            </td>
                                        </tr>                                     
                                        {% endfor %}
                                    </table>                                    
                                </td>
                            </tr>
                            <tr>
                                <td><b>Contactos:</b></td>
                                <td>
                                    <table class="table-condensed">                                        
                                        <tr>
                                            <td>{{ medico.usuario.usuInformacion.usiCorreo }}</td>                                         
                                        </tr>
                                        <tr>                                          
                                            <td>{{ medico.usuario.usuInformacion.usiTelefono }}</td>
                                        </tr>
                                    </table> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                              
                                </td>
                            </tr>
                         </tbody>
                    </table>
                        
                        
                </div>
            </article>
        </div>
    </div>
    <!-- Doctor Profile Ends -->

{% endblock %}

{% block javascripts %}


{% endblock  %}