{% extends 'Layout/base_web/_web_base.html.twig' %}
{% block breadcrumb %}
    <!-- Breadcrumb Starts -->
    <div class="breadcrumb">
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li><a href="{{ url('web_homepage') }}">Inicio</a></li>
                <li><a href="{{ url('web_homepage') }}">Doctores</a></li>
                <li class="active">Perfil</li>
            </ul>
        </div>
    </div>		
    <!-- Breadcrumb Ends -->
{% endblock %}

{%block body %}
    <!-- Doctor Profile Starts -->
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="profile-block">
                <div class="panel panel-profile">
                    <div class="panel-heading">
                        <img src="{{ asset("bundles/web/images/doctors/doctor-bio-img6.jpg") }}" alt="Doctor Profile Image" class="img-responsive img-center-xs">
                        <h3 class="panel-title">{{ medico.usuTitulo}} {{ medico.usuNombre|title }}</h3>
                        <p class="caption"><b>{{ medico.esp_especialidad|default('N/A') }}</b></p> <!-- Gynecology, Health Care &amp; Obstetrics -->
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li class="row">
                                <span class="col-sm-5 col-xs-12"><b>Especialidad:</b> </span>
                                <span class="col-sm-7 col-xs-12">
                                    <ul>
                                        {% for e in medico.idEspecialidad %}
                                            </i>{{ e.espEspecialidad }}<br>
                                        {% endfor %}
                                    </ul>

                                    
                                </span>
                            </li>
                            <li class="row">
                                <span class="col-sm-5 col-xs-12"><b>Educacion:</b></span>
                                
                                {% if medico.usuInformacion.usiEducacion is empty %}
                                    <span class="col-sm-7 col-xs-12"><b>{{ 'N/A' }}</b></span>
                                {% else %}
                                    <span class="col-sm-7 col-xs-12">
                                    <ul>
                                        </i>{{ medico.usuInformacion.usiEducacion }}
                                    </ul>
                                    
                                    </span>
           
                                {% endif %}
                            </li>
                            <li class="row">
                                <span class="col-sm-5 col-xs-12"><b>Dias laborales:</b></span>                                
                                {% if medico.usuInformacion.usiDiasTrabajo is empty %}
                                    <span class="col-sm-7 col-xs-12"><b>{{ 'N/A' }}</b></span>
                                {% else %}
                                    <span class="col-sm-7 col-xs-12">
                                    <ul>
                                        </i>{{ medico.usuInformacion.usiDiasTrabajo }}
                                    </ul>
                                    
                                    </span>
           
                                {% endif %}
                            </li>
                            <li class="row">
                                <span class="col-sm-5 col-xs-12"><b>Contactos:</b></span>                                
                                {% if medico.usuInformacion.usiDiasTrabajo is empty %}
                                    <span class="col-sm-7 col-xs-12"><b>{{ 'N/A' }}</b></span>
                                {% else %}
                                    <span class="col-sm-7 col-xs-12">
                                    <ul>
                                        </i>{{ medico.usuInformacion.usiTelefono }}<br>
                                        </i>{{ medico.usuInformacion.usiCorreo }}<br>
                                    </ul>
                                    
                                    </span>
           
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer text-center-md text-center-sm text-center-xs">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <ul class="list-unstyled list-inline sm-links">
                                    <li><a target="_blank" href="{{ medico.usuInformacion.usiTwitter }}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a target="_blank" href="{{ medico.usuInformacion.usiFb }}"><i class="fa fa-facebook"></i></a></li>
                                    
                                </ul>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                <a href="#" class="btn btn-secondary text-uppercase">Agendar cita</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-xs-12">
            <div class="profile-details">
                <h3 class="main-heading2">{#{ medico.usu_titulo}#} {#{ medico.usu_nombre|title }#}</h3>
                <h4>{#{ medico.cli_nombre }#}</h4>
                <p>
                    {#{ medico.usi_info_perfil|default('No se encontro informacion de perfil.') }#}
                </p>
            </div>
        </div>
    </div>
    <!-- Doctor Profile Ends -->

{% endblock %}